#workspace h2 {
    font-size: 17px;
}

#workspace h3 {
    font-size: 15px;
}

#workspace h4 {
    font-weight: bold;
    padding: 7px 0;
}

#workspace ul li {
    list-style: circle;
    margin: 7px 0 7px 20px;
}

#workspace em {
    font-style: italic;
}

#workspace table {
    width: 100%;
}

#workspace table td {
    padding: 3px 5px;
    width: 30%;
}

#workspace dt {
    margin: 5px 0; 
}

#workspace dd {
    padding-left: 10px;
}