#workspace h2 {
    font-size: 17px;
}

#workspace h3 {
    font-size: 15px;
}

#workspace h4 {
    font-weight: bold;
    padding: 7px 0;
}

#workspace ul li {
    list-style: circle;
    margin: 7px 0 7px 20px;
}

#workspace ol {
    list-style: none; 
    margin: 7px 0 7px 20px;
    padding: 0;
    counter-reset: num;
}

#workspace ol li:before {
    content: counter(num) '. ';
    counter-increment: num;
}

#workspace ol ol li:before {
    content: counters(num, '.') ' ';
}

#workspace em {
    font-style: italic;
}

#workspace strong {
    font-weight: bold;
}

#workspace cite {
  font-style: italic;
}

#workspace p.attr_data {
  font-style: italic;
  text-decoration: underline;
}

#workspace table {
    width: 100%;
}

#workspace table td {
    padding: 3px 5px;
    width: 30%;
}

#workspace dt {
    font-style:italic;
    margin: 5px 0; 
}

#workspace dd {
    padding-left: 10px;
}
