<div class="page_info">
  <span class="search"> <%= t("will_paginate.page_entries_info.search") %></span> <%= page_entries_info @lines %>
</div>
<div class="lines paginated_content">
    <%= paginated_content(@lines) %>
</div>
<div class="pagination">
  <%= will_paginate @lines, :container => false, renderer: BootstrapPagination::Rails %>
</div>
