  <%= link_to([@referential, time_table]) do %>
    <div class="state-code" >
      <div class="<%= time_table_state_code(time_table) %>" >
      </div>
    </div>
  <% end %>
  <div class="name">
  <%= link_to truncate(time_table.comment, :length => 30), [@referential, time_table], :title => "#{Chouette::TimeTable.model_name.human.capitalize} #{time_table.comment}"%>
  </div>

