  <ul class='periods'>
    <% @time_table.periods.each do |tmp| %>
    <li class='period'><%= t('time_tables.show.from')%> <%= l tmp.period_start %> <%= t('time_tables.show.to')%> <%= l tmp.period_end %>
    </li>
    <% end %>
  </ul>

