<div class="page_info">
  <span class="search"> <%= t("will_paginate.page_entries_info.search") %></span> <%= page_entries_info @time_tables %>
</div>
<div class="time_tables paginated_content">
  <%= paginated_content(@time_tables) %>
</div>

<%= render 'shared/paginate', { datas: @time_tables } %>
