sudo: false
language: ruby
addons:
  postgresql: "9.3"
  apt:
    packages:
    - build-essential
    - ruby-dev
    - libproj-dev
    - libgeos-dev
    - libffi-dev
    - libsparsehash-dev
    - zlib1g-dev
    - libxslt1-dev
    - libxml2-dev
    - libbz2-dev
rvm:
  - 1.9.3
  - 2.1.7
  - 2.2.3
  - jruby-19mode
jdk:
  - oraclejdk7
  - openjdk7
matrix:
  exclude:
    - rvm:  1.9.3
      jdk: openjdk7
    - rvm:  2.1.7
      jdk: openjdk7
    - rvm:  2.2.3
      jdk: openjdk7
notifications:
  email:
    - mflorisson@cityway.fr
    - bruno@atnos.com
    - metienne@cityway.fr
    - zbouziane@cityway.fr
    - alban.peignier@af83.com
    - anicet.rohee@af83.com
before_install:
  - gem update bundler
before_script:
  - "bundle exec rake ci:db_travis_config"
  - "bundle exec rake db:create"
  - "bundle exec rake db:migrate"
script: "bundle exec rake spec"
