<div class="page_info">
  <span class="search"> <%= t("will_paginate.page_entries_info.search") %></span> <%= page_entries_info @networks.to_a %>
</div>
<div class="networks paginated_content">
  <%= paginated_content(@networks) %>
</div>
<div class="pagination">
  <%= will_paginate @networks, :container => false, renderer: RemoteBootstrapPaginationLinkRenderer %>
</div>
