<tr>
  <td></td>
  <td><%= frequency.first_departure_time %></td>
  <td><%= frequency.last_departure_time %></td>
  <td><%= frequency.scheduled_headway_interval %></td>
  <td><%= frequency.exact_time %></td>
  <td><i class="fa fa-trash"></i></td>
</tr>
