version: 2
aliases:
  - &google-sdk-container-config
    docker:
      - image: google/cloud-sdk:405.0.0-alpine
        auth:
          username: $DOCKERHUB_LOGIN
          password: $DOCKERHUB_PASSWORD

  - &GCP-auth-docker
    name: GCP authentication with docker
    command: |
      echo $DOCKER_PASSWORD > ${HOME}/account-auth.json
  - &tag-git-version
    name: Tag git commit with build version and push to github
    command: |
      git config --global user.email "circleci@entur.no"
      git config --global user.name "circleci"
      git tag $VERSION
      git push origin $VERSION
  - &create-image-version
    name: Create new image version and store to env var and as file in workspace
    command: |
      echo "export VERSION=$CIRCLE_BRANCH-v$CIRCLE_BUILD_NUM-$(echo -n $CIRCLE_SHA1 | tail -c 8)"  >> $BASH_ENV
      echo "$CIRCLE_BRANCH-v$CIRCLE_BUILD_NUM-$(echo -n $CIRCLE_SHA1 | tail -c 8)" > version
  - &read-image-version
    name: Read new image version from workspace
    command: |
      echo "export VERSION=$(cat ./version)" >> $BASH_ENV
  - &docker-build-and-push
    name: Docker build and push
    command: |
      IMAGE="eu.gcr.io/entur-system-1287/${CIRCLE_PROJECT_REPONAME}"
      echo "Image: ${IMAGE}"
      docker build -t $IMAGE .
      docker tag $IMAGE "${IMAGE}":"${VERSION}"
      docker login -u _json_key --password-stdin https://eu.gcr.io < ${HOME}/account-auth.json
      docker push "${IMAGE}":"${VERSION}"

jobs:
  build:
    docker:
      - image: ruby:2.7.6-bullseye
        auth:
          username: $DOCKERHUB_LOGIN
          password: $DOCKERHUB_PASSWORD
      - image: postgis/postgis:13-3.1
        auth:
          username: $DOCKERHUB_LOGIN
          password: $DOCKERHUB_PASSWORD
        environment:
          TZ: Europe/Oslo
          POSTGRES_DB: chouette_test
          POSTGRES_USER: chouette
          POSTGRES_PASSWORD: chouette
    steps:
      - checkout
      - run:
          name: Copy test config file before running tests
          command: |
            cp .circleci/application.yml config/application.yml
      - run:
          name: apt update
          command: apt-get update
      - run:
          name: Install apt-dependencies
          command: apt-get install -y libpq-dev libsqlite3-dev libxml2 libxml2-dev libxslt-dev graphviz libproj-dev libgeos-dev libffi-dev libsparsehash-dev curl nodejs
      - run:
          name: Install Bundler
          command: |
            gem update --system 3.3.8
            gem install bundler -v 2.3.22
      - run:
          name: Copy default database config file
          command: cp config/database.example.yml config/database.yml
      - run:
          name: Create locale folder
          command: mkdir -p locales
      - run:
          name: Print some info and versions
          command: |
            set -o xtrace
            ruby -v
            gem -v
            gem list bundler
            bundle -v
      - run:
          name: Bundle install
          command: |
            set -o xtrace
            bundle config build.nokogiri --use-system-libraries --with-xml2-include=/usr/include/libxml2
            bundle install --deployment
      - run:
          name: Rake create and migrate
          command: |
            export RAILS_ENV=test
            bundle exec rake db:create
            bundle exec rake db:migrate
      - run:
          name: Rake spec
          command: |
            export RAILS_ENV=test
            bundle exec rake db:reset
            bundle exec rake spec
      - store_test_results:
          path: test_results
      - run: *create-image-version
      - run: *tag-git-version
      - persist_to_workspace:
          root: ~/project
          paths:
            - version
  deploy-docker:
    <<: *google-sdk-container-config
    steps:
      - checkout
      - setup_remote_docker:
          version: 19.03.13
      - attach_workspace:
          at: ~/project
      - run: *GCP-auth-docker
      - run: *read-image-version
      - run: *docker-build-and-push

workflows:
  version: 2
  build_test_deploy:
    jobs:
      - build:
         context: global
      -  deploy-docker:
           context: global
           requires:
             - build
           filters:
             branches:
               only: rutebanken_develop
