<%= title_tag @organisation.name %>

<div class="summary">
  <p>
  </p>
</div>

<div class="users paginated_content">
  <%= paginated_content(@organisation.users, "users/user") %>
</div>

<% content_for :sidebar do %>
<ul class="actions">
  <li><%= link_to t('organisations.actions.edit'), edit_organisation_path, :class => "edit" %></li>
  <li><%= link_to t('users.actions.new'), new_organisation_user_path, :class => "add" %></li>
</ul>
<% end %>

