<%= title_tag Referential.model_name.human.pluralize %> 

<div class="referentials">
<%= render :partial => "referential", :collection => @referentials %>
</div>

<% content_for :sidebar do %>
<ul class="actions">
  <li><%= link_to t('referentials.actions.new'), new_referential_path, :class => "add" %></li>
</ul>
<%= render "layouts/logos" %>
<% end %>
