<%= title_tag @referential.name %>

<div>
  <p>
  <label><%= Referential.human_attribute_name("slug") %>: </label>
  <%= @referential.slug %>
  </p>
</div>  

<% content_for :sidebar do %>
<ul class="actions">
  <li><%= link_to  t('referentials.actions.destroy'), referential_path(@referential), :method => :delete, :confirm =>  t('referentials.actions.destroy_confirm'), :class => "remove" %></li>
  <br>
</ul>
<% end %>
