<% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type) %> fade in" role="alert">
    <button class="close" data-dismiss="alert">×</button>   
    <%= flash_message_for type, message %>
  </div>
<% end %>
