// Place all the styles related to the lines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#workspace.access_points.index
{     
}

#workspace.access_points.edit,#workspace.access_points.new,#workspace.access_points.create,#workspace.access_points.update
{
     .time_select ol {
        padding: 0 0 0 40%;
        width: 100%;
     }
}

#workspace.access_points.edit {
  legend { padding-bottom: 20px; }
}

#workspace.access_points.show
{
    .geo_data {
       padding-left:15px;
    }

    .summary{
        
        p label {
            font-weight: bold;
        }
    }
    
    .access_link_pairs {

        table{
            border: 0px;
            border-collapse: separate;
            border-spacing: 3px;
        }          
        
        .link {
            border: 2px solid black;
        }
        
        .access_point{
            padding: 3px 15px 0px 3px;
            height: 25px;        
            * { vertical-align:middle; }
            span { margin-left: 7px; }
            img { margin: 0px 5px 0px 5px;}
        }
        
        .stop_area{
            padding: 3px 15px 0px 3px;
            height: 25px;        
            * { vertical-align:middle; }
            span { margin-left: 7px; }
            img { margin: 0px 5px 0px 5px;}
        }
        
        .info {
            font-size: 10px;
            color: #777;
            font-weight: normal;
            padding-top: 10px;
            padding-left: 45px;
            padding-right: 3px;
            padding-bottom: 3px;
        }
    }

}


#sidebar ul.selection li {    
    a {
        line-height: 27px;
        
        img{
            height: 25px;
            width: 25px;
            vertical-align: middle;
        }
    }
}


