#workspace.compliance_checks.index
{
}

#workspace.compliance_checks.show {
  @import "../modules/job_status_colors";
  @import "../modules/job_status_title";
  @import "../partials/ie_report";
  @import "../modules/links";
}

#workspace.compliance_checks.report, #workspace.imports.compliance_check{
  @import "../modules/job_status_colors";
  @import "../modules/job_status_title";
  @import "../modules/links";

    .status {
        margin-left: 10px;
    }

    .order{
        margin-bottom: 10px;
        padding: 5px;
        border-top: 1px solid #e4e4e4;
        border-bottom: 1px solid #e4e4e4;
    }

    .status_ok_error { color: #8fc861; }
    .status_nok_error { color: #e22b1b;  }
    .status_uncheck_error { color: #898e7f; }

    .status_ok_warning { color: #8fc861; }
    .status_nok_warning { color: #ffbd2b;  }
    .status_uncheck_warning { color: #898e7f; }

    .resume {
        &:after{
            content: " ";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        .col1 {
            float: left;
            width: 45%;
        }

        .col2 {
            margin-left: 10px;
            float: left;
            width: 45%;
            }

        .graph { height: 200px; }

        .caption {
            text-align :center;
                font-weight: bold;
        }
    }

    .report{
        .table { margin-top: 20px; }
        dl.inline {
          width: 100%;
          overflow: hidden;
        }
        dl.inline dt {
          float: left;
          clear: left;
          width: 35%;
          padding-top: 5px;
          border-top: 1px solid #eee;
          -ms-word-break: break-all;
          word-break: break-all;
          word-break: break-word;
          -webkit-hyphens: auto;
          -moz-hyphens: auto;
          -ms-hyphens: auto;
          hyphens: auto;
        }
        dl.inline dd {
          float: left;
          width: 65%;
          padding-top: 10px;
          border-top: 1px solid #eee;
        }
    }

    .severity__improvment, .severity_warning, .severity_error {
        border: 1px solid;
        margin: 10px 0px;
        padding:10px 10px 10px 10px;
        background-repeat: no-repeat;
        background-position: 10px center;-moz-border-radius:.5em;
        -webkit-border-radius:.5em;
        border-radius:.5em;
        height: 100%;

        &:after{
            content: " ";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        .status_icon {
            float: left;
            width: 20%;
            height: auto;

            img {
                vertical-align: middle;
                width: 48px;
                height: 48px;
            }
        }

        .status_text{
            float: left;
            width: 70%;

            .code{
                font-size: 12px;
                font-weight: bold;
            }

            .severity {
                font-size: 10px;
            }

            .explanation{
                display: none;
                font-size: 12px;
                margin: 5px 0 0 0;
            }

            .attributes{
                font-size: 10px;
                font-weight: bold;
                margin: 5px 0 0px 0;
            }
        }

    }

    .severity_improvment {
        color: black;
        background-color: #c5cf4c;
    }

    .severity_warning {
        color: black;
        background-color: #f1dd30;
    }

    .severity_error {
        color: black;
        background-color: #ff9a0c;
    }

    .file_error{
      font-size: 14px;
      color: #898e7f;
    }
}
