// Place all the styles related to the lines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#workspace.companies.index
{
}

#workspace.companies.show
{
    .summary p label {
        font-weight: bold;
    }

    .contact_details {
        padding-left:15px;
    }
}


#workspace.companies.edit
{
    .contact_details h5 {
        padding-left: 5%;
    }
}