// Place all the styles related to the Exports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#workspace.exports.index
{
}

#workspace.exports.show {
  @import "../modules/report";
}
