// Place all the styles related to the Exports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#workspace.exports.index
{
}

#workspace.exports.show {
  .resume {
        &:after{
            content: " ";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        #files_statistics { height: 225px; }
        #objects_statistics { height: 225px; }

        .caption {
            text-align :center;
            font-weight: bold;
        }
    }

    .report {
        margin-top: 20px;

        .files {
            img {
                margin-right: 5px;
            }

            .file_name{
                font-weight: bold;
                margin-right: 30px;
            }
        }

        .files_error{
            color: #e22b1b;
            display: none;
        }

        .files_ignored{
            color: #898e7f;
            display: none;
        }

        .files_ok{
            color: #8fc861;
            display: none;
        }

        .lines{
            display: none;
                      
            th, td{
                text-align: center;
            }

        }
    }
}
