// Place all the styles related to the Exports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#workspace.exports.index
{
}

#workspace.exports.show {
    table {
        th {
            font-style: italic;
        }
        th.severity {
            width: 30px;
        }
        th.created_at {
            text-align: center;
            width: 100px;
        }
        th.position {
            padding-right: 5px;
            text-align: right;
            width: 40px;
        }
        td.severity {
            text-align: center;
        }
        td.created_at {
            padding-right: 3px;
        }
        td.position {
            padding-right: 5px;
            text-align: right;
        }
    }                       
}

#workspace.exports.new #workspace.exports.create  form.new_export {
    padding: 0.5em 0;
    margin-top: -0.5em;
    margin-bottom: 1em;

    label {
        display: block;
        width: 25%;
        float: left;
    }
    select {
        width: 25%;
    }
}
