#workspace.import_tasks.index
{

    .import_tasks {
        margin-top: 20px;
    }

}

#workspace.import_tasks.show {

    .links{
        margin: 0 0 20px 0;
        img{ margin: 0 5px 0 15px; }
    }

    .resume {
        &:after{
            content: " ";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        .col1 {
            float: left;
            width: 45%;
        }

        .col2 {
            margin-left: 10px;
            float: left;
            width: 45%;
        }

        #files_statistics { height: 200px; }
        #objects_statistics { height: 200px; }

        .caption {
            text-align :center;
            font-weight: bold;
        }
    }

    .report {
        margin-top: 20px;

        .files {
            img {
                margin-right: 5px;
            }

            .file_name{
                font-weight: bold;
                margin-right: 30px;
            }
        }

        .files_error{
            color: #e22b1b;
            display: none;
        }

        .files_ignored{
            color: #898e7f;
            display: none;
        }

        .files_ok{
            color: #8fc861;
            display: none;
        }

        .lines{ display: none; }
    }
}

#workspace.import_tasks.new #workspace.import_tasks.create form.import_task_new {
    padding: 0.5em 0;
    margin-top: -0.5em;
    margin-bottom: 1em;

    label {
        display: block;
        width: 25%;
        float: left;
    }
    select {
        width: 25%;
    }
}
