#workspace.import_tasks.new, #workspace.import_tasks.create {
  .nav{
    margin: 30px 0 10px 0;   
  }

  .highlight {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
  }
}
