body {
    padding-top: 50px;
}

h1{ color: white;}

h1, .h1, h2, .h2, h3, .h3 {
    margin-bottom: 20px;
}

label.label{
    color: black;
    font-size: 100%;
}

ol.breadcrumb{
    margin-top: 10px;
}

.ce-hide {
  display: none;
}

.fa.fa-line-through {
    position: relative;
}
.fa-line-through:after {
    position: absolute;
    content: "/";
    color: red;
    font-weight: 700;
    font-size: 1.7em;
    left: 3px;
    top: -4px;
}

#middle{
    position: relative;
    min-height: 500px;
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .2);
    margin: 20px;
    padding: 10px;
    background: white;

    .main_actions{
        text-align: right;
    }
    
    .alert{ margin-top: 15px ; }
    
    #sidebar{        
        height: 100%;
        padding-top: 20px;
        border-left: 1px solid $gray-lighter;

        &.ce-SidebarFloatBlock {
          position: absolute;
          height: auto;
          right: 0;
          background-color: #fff;
          top: 45px;
        }

        label {
            color: #555555;
            font-weight: normal;
            font-size: 12px;
        }
        
        a {
            color: #666;
        }
        
        .actions {
            margin-bottom: 20px;

            li{
                margin-bottom: 5px;
            }
        }
        
        p {
            font-size: 12px;
        }

        fieldset.history_tag{

            legend{
                font-size: 14px;
                margin-bottom: 10px;
            }

            font-size: 12px;
            color: $gray-light;
        }
        
        fieldset
        {
            border-color: white;
            
            p{
                margin-top: 5px;
                label{ font-size: 12px;}
                span{
                    font-style: oblique;
                    font-size:12px;
                }
            }
        }
        
        ol {
            padding: 0px;
            
            li {
                list-style: none;
            }
        }
        
        ul {
            padding: 0px;
            
            li {
                list-style: none;
            }
        }
        
        ul.selection li {
            a {
                padding-left: 20px;
            }
            a.current {
                text-decoration: none;
                color: black !important;
                background: url(image-path('icons/accept.png')) no-repeat;
            }
            a.all {
                background-image: none;
            }
        }
        
        div#compact_form {
            form {
                border-bottom: 1px solid #BBB;
                fieldset {
                    padding: 0;
                    border: 0;
                    li {
                        padding: 0;
                        label { padding-left: 20px;
                                width: 70%;}
                        input { width: 20px; }
                    }
                }
                fieldset.actions {
                    margin-bottom: 0;
                    padding-left: 20px;
                }
                fieldset.inputs {
                    padding-top: 16px;
                }
            }
        }
    }   
}
