body {
    padding-top: 55px;
}

h1{ color: white;}

h1, .h1, h2, .h2, h3, .h3 {
    margin-bottom: 20px;
}

label.label{
    color: black;
    font-size: 100%;
}

ol.breadcrumb{
    margin-top: 10px;
}

#header {
    
    .navbar-brand{
        padding-top: 5px;
        padding-bottom: 5px;
        line-height: 40px;

        img {
            height: 40px;       
        }

        .version
        {       
            margin-left: 3px;
            vertical-align: text-top;
            color: white;
            font-size: 13px;
        }
    }
    
    background: $brand_primary url(image-path('header.png')) no-repeat;

    .gravatar {
        margin-right: 5px;
        img{
            width: 25px;
            height: 25px;
        }
    }

    .dropdown.languages{
        .dropdown-menu{ 
            min-width: 56px;
        }
    }

    .dropdown.datas{
        .dropdown-menu{ 

            .badge{
                background-color: #DADADA
            }
        }
    }   
}

#footer{
    padding: 20px;
    background-color: $gray-darker;
    color: $gray-light;
    font-size: 12px;
    min-height: 200px;
    
    a { color: $gray-light; }

    h4 { color: $gray-lighter; }

    .logo > img {
        margin-left: 20px;
    }
}

#middle{
    min-height: 500px;
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .2);
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: white;

    .main_actions{
        text-align: right;
    }
    
    .alert{ margin-top: 15px ; }
    
    #sidebar{        
        height: 100%;
        padding-top: 20px;
        border-left: 1px solid $gray-lighter;
        
        label {
            color: #555555;
            font-weight: normal;
            font-size: 12px;
        }
        
        a {
            color: #666;
        }
        
        .actions {
            margin-bottom: 20px;
        }
        
        p {
            font-size: 12px;
        }

        fieldset.history_tag{

            legend{
                font-size: 14px;
                margin-bottom: 10px;
            }

            font-size: 12px;
            color: $gray-light;
        }
        
        fieldset
        {
            border-color: white;
            
            p{
                margin-top: 5px;
                label{ font-size: 12px;}
                span{
                    font-style: oblique;
                    font-size:12px;
                }
            }
        }
        
        ol {
            padding: 0px;
            
            li {
                list-style: none;
            }
        }
        
        ul {
            padding: 0px;
            
            li {
                list-style: none;
            }
        }
        
        ul.selection li {
            a {
                padding-left: 20px;
            }
            a.current {
                text-decoration: none;
                color: black !important;
                background: url(image-path('icons/accept.png')) no-repeat;
            }
            a.all {
                background-image: none;
            }
        }
        
        div#compact_form {
            form {
                border-bottom: 1px solid #BBB;
                fieldset {
                    padding: 0;
                    border: 0;
                    li {
                        padding: 0;
                        label { padding-left: 20px;
                                width: 70%;}
                        input { width: 20px; }
                    }
                }
                fieldset.actions {
                    margin-bottom: 0;
                    padding-left: 20px;
                }
                fieldset.inputs {
                    padding-top: 16px;
                }
            }
        }
    }   
}

/* #body #workspace { */
/*     width: 70%; */
/*     background: white; */
/*     margin: 0px 30px; */
/*     padding: 0 15px 10px 15px; */
    
/*     -moz-box-shadow: 3px 3px 4px #BBB; */
/*     -webkit-box-shadow: 3px 3px 4px #BBB; */
/*     box-shadow: 3px 3px 4px #BBB; */
/*     border-right: 1px solid #BBB; */
/*     border-bottom: 1px solid #BBB; */

/*     li span.author { */
/*         float: right; */
/*         font-size: 12px; */
/*     } */

/*     .site_summary { */
/*       float: left; */
/*       margin-bottom: 20px; */
/*       width: 100%; */
     
/*       img { */
/*           float: left; */
/*           margin-right: 20px; */
/*       } */
/*       a { */
/*           display: block; */
/*           margin: 25px 0 0; */
/*       } */
/*     } */
/*     .site_summary:after { */
/*         content: " ";   */
/*         display: block;  */
/*         height: 0;  */
/*         clear: both; */
/*         visibility: hidden; */
/*     } */

/*     fieldset.buttons{ */
/*         margin: 10px; */
/*     } */

/*     form { */
/*         label { */
/*             color: #555555; */
/*             font-size: 100%; */
/*             text-align: right; */
/*         } */


/*     } */
        
/* } */

/* #body 

/* #body #sidebar { */
/*     width: 20%; */
/*     padding-top: 20px; */

/*     label { */
/*         color: #555555; */
/*         font-weight: normal; */
/*         font-size: 100%; */
/*     } */
    
/*     a { */
/*         color: #666; */
/*     } */
    
/*     .actions { */
/*         margin-bottom: 20px; */
/*     } */

/*     p { */
/*         font-size: 12px; */
/*     } */

/*     fieldset */
/*     { */
/*         border-color: white; */
        
/*         p{ */
/*             margin-top: 5px;             */
/*             label{ font-size: 12px;}  */
/*             span{ */
/*                 font-style: oblique; */
/*                 font-size:12px; */
/*             } */
/*         } */
/*     } */

/*     ol { */
/*         padding: 0px; */
        
/*         li { */
/*             list-style: none; */
/*         } */
/*     } */
    
/*     ul { */
/*         padding: 0px; */
        
/*         li { */
/*             list-style: none; */
/*         } */
/*     } */

/*     ul.selection li { */
/*         a { */
/*             padding-left: 20px; */
/*         } */
/*         a.current { */
/*             text-decoration: none; */
/*             color: black !important; */
/*             background: url(image-path('icons/accept.png')) no-repeat; */
/*         } */
/*         a.all { */
/*             background-image: none; */
/*         } */
/*     } */
    
/*     div#compact_form { */
/*         form { */
/*             border-bottom: 1px solid #BBB; */
/*             fieldset { */
/*                 padding: 0; */
/*                 border: 0; */
/*                 li { */
/*                     padding: 0; */
/*                     label { padding-left: 20px;  */
/*                             width: 70%;} */
/*                     input { width: 20px; } */
/*                 } */
/*             } */
/*             fieldset.actions { */
/*                 margin-bottom: 0; */
/*                 padding-left: 20px; */
/*             } */
/*             fieldset.inputs { */
/*                 padding-top: 16px; */
/*             } */
/*         } */
/*     } */
/* } */

.info {
    font-size: 10px;
    color: #777;
    font-weight: normal;
    line-height: 14px;
    margin-top: 5px;
    
    a {
        display:inline;
        color: #777;
    }
    
    .actions {
        margin-top: 10px;
        a {
            color: #666;
            padding-left: 12px;
        }
        
        a.link {
            background: url(image-path('icons/link-small.png')) no-repeat 0% 50%;
        }
        a.edit {
            background: url(image-path('icons/edit-small.png')) no-repeat 0% 50%;
        }
        a.remove {
            background: url(image-path('icons/remove-small.png')) no-repeat 0% 50%;
        }
        a.download {
            background: url(image-path('download-small.png')) no-repeat 0% 50%;
        }
    }   
}

.actions {
    a {
        padding-left: 20px;
    }
    
    /* Hack with font icon */
    a.vehicle_journeys{
        padding-left: 4px;
    }
    
    a.visit_site{
        background: url(image-path('icons/site.png')) no-repeat;
    }

    a.visit_event{
        background: url(image-path('icons/event.png')) no-repeat;
    }

    a.visit_page{
        background: url(image-path('icons/page.png')) no-repeat;
    }
    
    a.add {
        background: url(image-path('icons/add.png')) no-repeat;
    }
    a.edit {
        background: url(image-path('icons/edit.png')) no-repeat;
    }
    a.remove {
        background: url(image-path('icons/remove.png')) no-repeat;
    }
    a.export {
        background: url(image-path('icons/export.png')) no-repeat;
    }
    li {
        margin: 10px 0;
    }
    
    a.add_children {
        background: url(image-path('icons/add.png')) no-repeat;
    }

    a.add_fields {
        background: url(image-path('icons/add.png')) no-repeat;
    }

    a.link {
        background: url(image-path('icons/link.png')) no-repeat;
    }

    a.select_parent {
        background: url(image-path('icons/select_parent.png')) no-repeat;
    }
    
    a.select_areas {
        background: url(image-path('icons/select_parent.png')) no-repeat;
    }

    a.calculator_edit {
        background: url(image-path('icons/calculator_edit.png')) no-repeat;
    }
    a.import {
        background: url(image-path('icons/import-small.png')) no-repeat;
    }
    a.export {
        background: url(image-path('icons/export-small.png')) no-repeat;
    }
    a.kml {
        background: url(image-path('icons/kml.png')) no-repeat;
    }
    
}
