// Place all the styles related to the referentials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#workspace.referentials.index
{

    .referentials {
        margin-top: 20px;
    }    
}
#workspace.referentials.show
{
    .summary p label {
        font-weight: bold;
    }
    
    .panel{
        font-size:12px;
        width: 75%;

        .panel-heading{ font-weight: bold;}

        li.list-group-item {
            padding: 5px 15px;
        }
    }
        
}
#sidebar div#clean_up {
  form {    
    fieldset {
      padding: 0;
      border: 0;
      li.date {
        padding: 0;
        label { padding-left: 10px; 
                width: 40%;}
        input { width: 42%; }
      }
      li {
        padding: 0;
        label { padding-left: 10px; 
                width: 90%;}
        input { width: 12%; }
      }
    }
    fieldset.actions {
      margin-bottom: 0;
      padding-left: 20px;
    }
    fieldset.inputs {
      padding-top: 16px;
    }
  }
}
