// Place all the styles related to the routes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#workspace.lines.show
{   
}

#workspace.routes.edit, #workspace.routes.new, #workspace.routes.create, #workspace.routes.update
{
    #route_color{ width: 100px;
                 color: white;
                 font-weight: bold;}
    
     #stop_points .nested-fields {
        ol {
            margin-left: 25%;
            .handle { margin-left: 5px;}   

            .search_stop_area {            
                margin-bottom: 0px !important;
            }

            div.resize{
                height: 40px;
                line-height: 40px;
                font-size: 16px;
            }
        }
     }

     #stop_points .links {
         margin: 10px 0 15px 25%;
     }       
}

#workspace.routes.show
{  
}     

