// Place all the styles related to the routes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#workspace.lines.show
{   
}

#workspace.routes.edit, #workspace.routes.new, #workspace.routes.create, #workspace.routes.update
{
    #route_color{ width: 100px;
                 color: white;
                 font-weight: bold;}
    
     #stop_points .nested-fields {
        ol {
            margin-left: 25%;
            i.fa { margin-right: 10px;}   

            li {
                display: inline;

                .token-input-list {
                    overflow: visible;
                    .token-input-token {                        
                        p { margin: 0px 0px !important; }                        
                    }
                }
            }
        }                       
     }

     #stop_points .links {
         margin: 10px 0 15px 25%;
     }       
}

#workspace.routes.show
{  
}     

