// Place all the styles related to the lines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#workspace.stop_areas.index
{
    #country_codes { display: none; }
    
    .stop_area {

        .area_type {
            width: 25px;
            height: 64px;
            float: left;
            margin-right: 10px;
            

            a {
                text-decoration: none;                   
            }
        }

    }
}

#workspace.stop_areas.edit, #workspace.stop_areas.new {
    legend { padding-bottom: 20px; }

    #prefetch { 
    	  padding: 10px 10px 20px 10px;
        
	      label{
	          font-size: 16px;
	          margin-right: 25px;
	      }

        input{ width: 330px; }
    }
    
    #map{
        float:none;
        width: 100%;
        height: 450px;
    }
}

#workspace.stop_areas.show
{
    .geo_data {
       padding-left:15px;
    }

    .summary{
        
        p label {
            font-weight: bold;
        }
    }

    .genealogical{

        .parent{
            border: 2px solid black;
            float: left;
            padding: 3px 15px 3px 3px;
            * { vertical-align:middle; }
            span { margin-left: 7px; }
            img { margin: 0px 5px 0px 5px;}
        }
        .lines{
            float: left;

            .line{
                border: 2px solid black;
                padding: 3px 15px 3px 3px;
                height: 25px;
                margin-bottom: 5px;
                * { vertical-align:middle; }
                span { margin-left: 7px; }
                img { margin: 0px 5px 0px 5px;}
            }
        }
        .no_parent{
            float: left;
            padding: 3px 15px 3px 3px;
            width: 150px;        
        }
        
        .target{
            border: 2px solid #86b41d;
            float: left;
            padding: 3px 15px 3px 3px;
            font-weight: bold;
            * { vertical-align:middle; }
            span { margin-left: 7px; }
            img { margin: 0px 5px 0px 5px;}
        }
        
        .children{
            float: left;

            .child{
                border: 2px solid black;
                padding: 3px 15px 3px 3px;
                margin-bottom: 5px;
                * { vertical-align:middle; }
                span { margin-left: 7px; }
                img { margin: 0px 5px 0px 5px;}
            }
        }
        
        .link{
            float: left;
            padding: 7px;
            margin-right: 10px; 
            margin-left: 10px;
            height: 25px;
        }
    }
    .access_point {   

        .access_type {
            width: 25px;
            height: 64px;
            float: left;
            margin-right: 10px;
            

            a {
                text-decoration: none;                   
            }
        }

    }
}

#workspace.stop_areas.select_parent
{
    .token-input-list{
        display: inline-block;
    }
}


#workspace.stop_areas.add_children
{
    .token-input-list{
        display: inline-block;
    }
}


#workspace.stop_areas.access_links
{
    .access_link_pairs {
        .link {
          border: 2px solid black;
        }
       .access_point{
            float: left;
            padding: 3px 15px 0px 3px;
            height: 25px;        
            * { vertical-align:middle; }
            span { margin-left: 7px; }
            img { margin: 0px 5px 0px 5px;}
        }
        .stop_area{
            float: left;
            padding: 3px 15px 0px 3px;
            height: 25px;        
            * { vertical-align:middle; }
            span { margin-left: 7px; }
            img { margin: 0px 5px 0px 5px;}
        }
      
      .info {
          font-size: 10px;
          color: #777;
          font-weight: normal;
          padding-top: 0px;
          padding-left: 45px;
          padding-right: 3px;
          padding-bottom: 3px;
        }
      
    }

}

#sidebar ul.selection li {    
    a {
        line-height: 27px;
        
        img{
            height: 25px;
            width: 25px;
            vertical-align: middle;
        }
    }
}


