// Place all the styles related to the lines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#workspace.time_tables.index
{

    .time_tables {
        margin-top: 20px;
    }

    #index_item{
        
        span.included_day_type {
            font-weight: bolder;
            color: black;
        }
        
        span.excluded_day_type {
        }
        
        .validity_out {
            color: #FC4903 !important;
        }
        
        .validity_out_soon {
            color: orange !important;
        }
        
        .validity_regular {
            color: #86B41D !important;
        }
    }
}


#workspace.time_tables.show
{
    .modal-body{overflow-y: visible;}    

    .summary{
        margin-top: 20px;
    }
    
    .typeahead.dropdown-menu {
        z-index: 100001;
    }

    .validity_out {
        color: #FC4903 !important;
    }
    
    .validity_out_soon {
        color: orange !important;
    }
    
    .validity_regular {
        color: #86B41D !important;
    }

    .day_type {
      border-style:solid;
      border-width:1px;
      }
      .period {
        padding-left:50px;
        padding-right:450px;
      }
      .date {
        padding-left:50px;
      }
      .odd {
        padding-left:50px;
        padding-right:450px;
      }
      .even {
        padding-left:50px;
        padding-right:450px;
      }
  .actions {
      float: right;
    }

    .summary p label {
        font-weight: bold;
    }
}

#workspace.time_tables.edit,#workspace.time_tables.new,#workspace.time_tables.create,#workspace.time_tables.update
{
    fieldset.inputs{
        overflow: visible !important;

        .tags{
            overflow: visible !important;
        }
    }

    h3 {
        .dates {
            cursor: pointer;
        }
        .periods {
            cursor: pointer;
        }
        .excluded_dates {
            cursor: pointer;
        }
    }

    #dates,#excluded_dates,#periods{
        .nested-fields {
            margin: 5px;

            ol {
                li {
                    display: inline;
                }
            }
        }

        margin-left: 25%;
    }

    .day_type ol {
        float: left;
        margin: 0;
        padding: 0 0 0 0;
        width: 100%;
        list_style: none outside none;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .day_type ol li {
        float: left;
        margin: 0 O 0 0;
        width: auto;
        padding: 0;
    }
    .day_type_label {
        float: left;
        margin-top: 0;
        width: 25%;
    }
    .day_type ol li label {
        padding-left: 10%;
        margin-top: 0;
    }

    a.add_fields {
        margin-left: 25%;
        margin-top: 20px;
        padding-left: 18px;
        background: url(image-path('icons/add.png')) no-repeat 0% 50%;
    }

    a.remove_fields {
        margin-left: 10px;
        padding-left: 18px;
        background: url(image-path('icons/remove.png')) no-repeat 0% 50%;
    }

    .actions{
        margin-top: 20px;
    }

}
