#workspace.vehicle_journeys.edit,
#workspace.vehicle_journeys.update,
#workspace.vehicle_journeys.create,
#workspace.vehicle_journeys.new,
#workspace.vehicle_journey_frequencies.edit,
#workspace.vehicle_journey_frequencies.update,
#workspace.vehicle_journey_frequencies.create,
#workspace.vehicle_journey_frequencies.new {
    #route_color{
        width: 100px;
        color: white;
        font-weight: bold;
    }

    .btn {
      padding: 6px 12px;
    }

    .day_offset {
      width: 43px;
    }

    .time_table_list { padding-left: 25%; }

    #vehicle_journey_footnote_ids_input,
    #vehicle_journey_frequency_footnote_ids_input {
        min-height: 3em;
    }

    .vehicle_journey_at_stops,
    .vehicle_journey_frequency_at_stops {
        margin-left: 25%;

        thead, tbody, tfoot{

            th, td{
                text-align: center;
            }
        }

        .journey_pattern_dependent_list {
            tr.no_stop { display: none; }

            td.departure_time, td.arrival_time{
                &.missing{
                    background-color: $brand-warning;
                }

                &.invalid_position{
                    background-color: $brand-danger;
                }
            }
        }

        .title{
            font-weight: bold;
            margin-bottom: 20px;
        }

        span{
            margin-left: 10px;
            margin-right: 10px;
        }

        .slide{
            margin-left: 30px;

        }
    }
}

#workspace.vehicle_journeys.index,
#workspace.vehicle_journey_frequencies.index
{
    #search{

        ul.token-input-list{
            display: inline-block;
            vertical-align: middle;
            margin-left: 15px;
        }

        .advanced_search{ margin-left: 40px; }

        .time_tables_id_eq{ margin-left: 20px;  }

        .vehicle_journey_at_stops_departure_time_gt{ margin-left: 20px; }

    }

    table{

        margin: 20px 0 0 0;

        .calendars{
            font-size: 12px;
        }

        .stop_area{ width: 200px; }

        td.hours{
            text-align: center;
        }

        tr th.vehicle_journey{
            text-align: center;
        }
    }

}

#workspace.vehicle_journeys.show,
#workspace.vehicle_journeys.edit,
#workspace.vehicle_journeys.update,
#workspace.vehicle_journeys.create,
#workspace.vehicle_journeys.new,
#workspace.vehicle_journey_journey.show,
#workspace.vehicle_journey_journey.edit,
#workspace.vehicle_journey_journey.update,
#workspace.vehicle_journey_journey.create,
#workspace.vehicle_journey_journey.new {

    .slide {
        cursor: pointer;
    }
}

#workspace.vehicle_journeys.show,
#workspace.vehicle_journey_frequencies.show
{
    .summary p label {
        font-weight: bold;
    }
}

#workspace.vehicle_journeys.timeless,
#workspace.vehicle_journey_frequencies.timeless
{
    .summary p label {
        font-weight: bold;
    }

    .vehicle_journeys,
    .vehicle_journey_frequencies {
        margin-top: 20px;
    }

    .vehicle_journey,
    .vehicle_journey_frequency {

        span.included_day_type {
            font-weight: bolder;
        }
        span.excluded_day_type {
        }
    }
}
