#translate_form{
    .repeat_cloning{
        margin-top: 30px;        
    }

    .modal-footer{
        .actions {
            padding-left: 75%;
            
            li {
                margin: 0px 0px;
            }
        }
    }
}
