#workspace {
  .ce-TimeBandFormTable {
    border-left: 1px solid #616161;
  }
  .ce-TimeBandFormTable td {
    padding: 0 20px 4px 20px;
    vertical-align: top;
  }
  .ce-TimeBandFormTable td:last-child {
    text-align: right;
    padding-right: 4px;
  }
  .ce-TimeBandFormTable-circleLine {
    position: relative;
  }
  .ce-TimeBandFormTable-line:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    margin-left: -1px;
    background-color: #61970b;
    }
  .ce-TimeBandFormTable tr:last-child td .ce-TimeBandFormTable-line {
    display: none;
  }
  .ce-TimeBandFormTable-circle {
    position: relative;
    z-index: 999;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #4d7809;
  }
  .ce-TimeBandFormTable tr:hover .ce-TimeBandFormTable-circle {
    background-color: #fff;
    border: 2px solid #61970b;
  }
  .ce-TimeBandFormTable-subList {

  }
  .ce-FrequencyFormFields {
    padding-left: 25%;
    > li {
      display: inline-block;
      vertical-align: top;
      legend {
        position: relative;
        width: auto;
        float: none;
        label {
          position: relative;
        }
      }
      .fragments-group {
        float: none;
        width: auto;
        padding: 0;
        > li {
          display: inline-block;
          vertical-align: top;
        }
      }
    }
  }
}
