<%= div_for(time_table, :class => "time_table") do %>
  <%= link_to time_table.comment, [@referential, time_table] %>
  <div class="info">
    <div class="actions">  
      <%= link_to t("actions.edit"), edit_referential_time_table_path(@referential, time_table), :class => "edit" %>
    </div>
  </div>
<% end %>

