<%= div_for(time_table, :class => "time_table") do %>
  <%= render "time_tables/cell_title", time_table: time_table  %>
  <div class="info">
    <%= render "time_tables/cell_info", time_table: time_table  %>
  </div>
<% end %>

