<div class="page_info">
  <%= render 'vehicle_journeys_page_info' %>
</div>
<div class="pagination">
  <%= will_paginate @vehicle_journeys, :container => false, renderer: RemoteBootstrapPaginationLinkRenderer %>
</div>
<div class="vehicle_journeys paginated_content">
  <%= render 'vehicle_journeys_matrix' %>
</div>
<div class="pagination">
  <%= will_paginate @vehicle_journeys, :container => false, renderer: RemoteBootstrapPaginationLinkRenderer %>
</div> 
