<div class="test">
  <% title = @import.no_save ? "": "<i class='fa fa-save'></i>" %>
  <%= title_tag "#{title} #{@import.name} <span class='status status_#{@import.status}'>#{ t('imports.statuses.'+ @import.status) }</span>" %>
</div>

<div class="import_show">
  <%= render( :partial => "results_dashboard", :locals => { :referential => @referential} ) %>
</div>

<% content_for :sidebar do %>
  <ul class="actions">
    <li><%= link_to t('imports.actions.destroy'), referential_import_path(@referential, @import.id), :method => :delete, :data => {:confirm => t('imports.actions.destroy_confirm')}, :class => "remove" %></li>
  </ul>

  <%= history_tag(@import) %>

<% end %>
