<div class="page_info">
  <span class="search"> <%= t("will_paginate.page_entries_info.search") %></span> <%= page_entries_info @compliance_check_tasks %>
</div>
<div class="compliance_check_tasks paginated_content">
  <%= paginated_content @compliance_check_tasks, "compliance_check_tasks/compliance_check_task" %>
</div>
<div class="pagination">
  <%= will_paginate @compliance_check_tasks, :container => false, renderer: RemoteBootstrapPaginationLinkRenderer %>
</div>
