<%= title_tag t('companies.title.index') %> 

<%= render :partial => "company", :collection => @companies %>

<% content_for :sidebar do %>
<ul class="actions">
  <li><%= link_to t('companies.actions.new'), new_referential_company_path(@referential), :class => "add" %></li>
  <br>
</ul>
<% end %>
