  <div class="error">
    <h2>D&eacute;sol&eacute;, la page demand&eacute;e n'existe pas</h2>
    <a href="https://enturas.atlassian.net/wiki/spaces/PUBLIC/pages/1444216931/Using+our+services#Contact" target="_blank">N'h&eacute;sitez pas &agrave; nous d&eacute;crire le probl&egrave;me</a>, nous essaierons de le r&eacute;soudre.<br/>Merci d'avance<br/> <br/>
    Vous pouvez n&eacute;anmoins continuer &agrave; utiliser l'application CHOUETTE<br/>
    <br/> 
    <br/>
    <br/> 
    <br/>
    <h2>The page you were looking for doesn't exist.</h2>
    You may have mistyped the address or the page may have moved. <br/>
    <a href="https://enturas.atlassian.net/wiki/spaces/PUBLIC/pages/1444216931/Using+our+services#Contact" target="_blank">Please describe us what happened</a>, we'll try to come back with an answer. <br/>Thank you.  <br/> <br/>
    You can still continue the use the CHOUETTE application. <br/>
  </div>
