#devise {
    background-color: $gray-light;

    .passwords.new{
        input{
            width: initial !important;
        }
    }

    .front_bg{
        background: url(image-path('welcomeentur.jpg')) no-repeat center center;
        background-size: auto 100%;

        #devise_middle{
            min-height: calc(100vh - 50px - 200px); // 100% - top - bottom
            padding: 30px 20px 0px 20px;

            #registrations_new{

                .error {
                    input {
                        border: 1px solid #d43f3a;
                    }
                }

                span.help-block {
                    margin-left: 5px;
                    color: #d43f3a;
                    font-size: 15px;
                }
            }

            #sessions_new{

                .btn{
                    font-weight: bold;
                }

                .product_summary{
                    padding: 30px 30px 0 30px;

                    color: white;
                    text-shadow: 0 0 1px rgba(0,0,0,.6);
                    background-color: rgba(39, 58, 70, 0.9);
                    border: 5px solid rgba(107, 189, 194, 1);
                    border-radius: 15px;

                    p{
                        font-size: 21px;
                    }

                    ul > li{ font-size: 21px; }
                }

                .login{
                    padding-top: 30px;

                    .form-group{
                        margin-bottom: 5px;
                    }

                    .options{
                        .new_password{
                            padding-top: 7px;
                        }

                        .checkbox{
                            font-weight: normal;

                            input[type="checkbox"]{
                                margin-left: 0px !important;
                                position: relative;
                                margin: 0px 4px 0px 0px;
                            }
                        }

                        .form-group{
                            margin-bottom: 0px;
                        }

                        font-size: 12px;
                    }
                }
            }
        }

        #footer{
            background-color:  rgba(0, 0, 0, 0.8);
        }
    }
  .social_button_alignment {
    text-align: center;
    > p {
      margin: 4px 0;
    }
  }
}
