#devise{
    background-color: $gray-light;

    .front_bg{        
        //background: url(image-path('intro.jpg')) no-repeat center center;
        //background-size: cover;
        
        #devise_middle{
            min-height: 620px;
            padding: 30px 20px 0px 20px;

            #registrations_new{
                
                .form-group{
                    margin-bottom: 5px;
                }
                
            }
            
            #sessions_new{

                .btn{
                    font-weight: bold;
                }
                
                .product_summary{
                    padding: 30px 60px 0 60px;
                    
                    color: white;
                    text-shadow: 0 0 1px rgba(0,0,0,.6);

                    p{
                        font-size: 21px;                        
                    }

                    ul > li{ font-size: 21px; }
                }

                .login{
                    padding-top: 30px;
                    
                    .form-group{
                        margin-bottom: 5px;
                    }
                    
                    .options{
                        .new_password{
                            padding-top: 7px;
                        }
                        
                        .checkbox{
                            font-weight: normal;
                            
                            input[type="checkbox"]{
                                margin-left: 0px !important;
                                position: relative;
                                margin: 0px 4px 0px 0px;
                            }
                        }
                        
                        .form-group{
                            margin-bottom: 0px;
                        }
                        
                        font-size: 12px;
                    }
                }
            }
        }

        #footer{
            background-color:  rgba(0, 0, 0, 0.8);
        }
    }
}