a:before {
    font-family: FontAwesome;
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
}

a.add:before { // fa-plus-circle
               content: "\f055";
               color: $brand-success;
             }

a.edit:before { // fa-pencil
                content: "\f040";
                color: $brand-warning;
              }

a.remove:before { // fa-trash
                  content: "\f1f8";
                  color: $brand-danger;
                }

a.export:before { // fa-upload
                  content: "\f093";
                  color: $brand-info;
                }

a.import:before { // fa-download
                  content: "\f019";
                  color: $brand-info;
                }

a.clone:before { // fa-copy
                 content: "\f0c5";
                 color: $brand-success;
               }

a.link:before { // fa-external-link
                content: "\f08e";
              }

a.select:before {// fa-select
                 content: "\f0a6";
                 color: $brand-warning;

                }

a.calculator:before { // fa-calculator
                      content: "\f1ec";
                      color: $brand-warning;
                    }

a.parent:before { // fa-arrow-up
                      content: "\f062";
                      color: $brand-warning;
                }

a.children:before { // fa-sitemap
                      content: "\f0e8";
                      color: $brand-warning;
                  }

a.access_link:before { // fa-exchange
                      content: "\f0ec";
                      color: $brand-warning;
                     }

a.merge:before { // fa-link
                 content: "\f0c1";
                 color: $brand-warning;
               }

a.clock:before { // fa-clock-o
                 content: "\f017";
               }

.fa-stack {
    /* sizes whole .fa-stack down to make them the regular sized */
    font-size: .5em;
    /* makes sure regular and stacked icons vertically align */
    vertical-align: -16%;
}

/* Styles text for doc type. Oswald is a great condensed
Google Web Font */
.filetype-text {
    font-size: .7em;
    font-weight: 700;
    font-family: 'Oswald';
}
