#search{

    #advanced_search{
        
        .form-control{
            display: inline !important;
        }

        .panel-body{            
            div{
                margin-bottom: 10px;
            }
        }
    }
        
    // Fix for typeahead css to remove  
    span.twitter-typeahead { display: inline !important;}

}