<div class=WordSection1>

<p class=MsoTitle style='margin-top:6.0pt;margin-right:0cm;margin-bottom:12.0pt;
margin-left:0cm'><span style='font-size:14.0pt;font-family:"Tahoma","sans-serif"'>Fiche
du point de contr&ocirc;le N&deg; 1.1</span></p>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=616
 style='width:461.65pt;margin-left:-.55pt;border-collapse:collapse'>
 <tr>
  <td width=615 colspan=2 valign=top style='width:461.6pt;border:solid black 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center;layout-grid-mode:char'><i><span
  style='font-family:"Tahoma","sans-serif";color:navy'>Description</span></i></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=109 style='width:81.5pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Intitul&eacute;</span></h1>
  </td>
  <td width=507 style='width:380.1pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 11.35pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>V&eacute;rification
  de la conformit&eacute; &agrave; la syntaxe XML suivant les recommandations du W3C</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=109 style='width:81.5pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Objectif</span></h1>
  </td>
  <td width=507 style='width:380.1pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 11.35pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>Contr&ocirc;ler
  que le fichier respecte la syntaxe XML telle que d&eacute;crite dans les
  recommandations du W3C</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=109 style='width:81.5pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>R&eacute;f&eacute;rences</span></h1>
  </td>
  <td width=507 style='width:380.1pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 11.35pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>W3C</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=109 style='width:81.5pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>N&deg; de fiche(s)</span></h1>
  <h1 align=left style='text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>connexe(s)</span></h1>
  </td>
  <td width=507 style='width:380.1pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 11.35pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>&nbsp;</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=109 style='width:81.5pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt;layout-grid-mode:char'><b><span
  style='font-family:"Tahoma","sans-serif"'>Priorit&eacute;</span></b></p>
  </td>
  <td width=507 style='width:380.1pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 11.35pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>Obligatoire</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=109 style='width:81.5pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt;layout-grid-mode:char'><b><span
  style='font-family:"Tahoma","sans-serif"'>R&eacute;sultat</span></b></p>
  </td>
  <td width=507 style='width:380.1pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 11.35pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>Conforme
  ou non conforme</span></h1>
  </td>
 </tr>
 <tr>
  <td width=615 colspan=2 valign=top style='width:461.6pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center;layout-grid-mode:char'><i><span
  style='color:navy'>Mise en &oelig;uvre</span></i></h1>
  </td>
 </tr>
 <tr>
  <td width=109 valign=top style='width:81.5pt;border-top:none;border-left:
  solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm;layout-grid-mode:char'><span style='font-size:11.0pt'>Explication</span></h1>
  </td>
  <td width=507 valign=top style='width:380.1pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:11.35pt;margin-bottom:6.0pt;
  margin-left:3.4pt;layout-grid-mode:char'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif";font-weight:normal'>Un fichier XML doit
  &ecirc;tre correctement constitu&eacute;&nbsp;: </span></h1>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:11.35pt;margin-bottom:
  6.0pt;margin-left:3.4pt;text-align:justify'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>- Il poss&egrave;de une d&eacute;claration comportant le
  num&eacute;ro de version XML utilis&eacute; dans le document ainsi que le nom du jeu de
  codage de caract&egrave;res utilis&eacute;.</span></p>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:11.35pt;margin-bottom:
  6.0pt;margin-left:3.4pt;text-align:justify'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>- Un nom d'&eacute;l&eacute;ment ne peut commencer par
  un chiffre. Si le nom n'est compos&eacute; que d'un seul caract&egrave;re, ce doit &ecirc;tre une
  lettre comprise entre &quot;a&quot; et &quot;z&quot; pour les minuscules,
  &quot;A&quot; et &quot;Z&quot; pour les majuscules. S'il est compos&eacute; d'au
  moins deux caract&egrave;res, le premier peut &ecirc;tre &quot;_&quot; ou &quot;:&quot;.
  Le nom peut ensuite &ecirc;tre compos&eacute; de lettres, chiffres, tirets, tirets bas et
  deux points.</span></p>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:11.35pt;margin-bottom:
  6.0pt;margin-left:3.4pt;text-align:justify'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>- Les balises n'ayant pas de contenu
  doivent se terminer par /&gt;.</span></p>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:11.35pt;margin-bottom:
  6.0pt;margin-left:3.4pt;text-align:justify'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>- Toutes les balises portant un contenu
  non vide doivent &ecirc;tre ferm&eacute;es.</span></p>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:11.35pt;margin-bottom:
  6.0pt;margin-left:3.4pt;text-align:justify'><span style='font-size:11.0pt;
  font-family:"Arial","sans-serif"'>- Les valeurs d'attributs doivent &ecirc;tre </span><em><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>entre guillemets.</span></em></p>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:11.35pt;margin-bottom:
  6.0pt;margin-left:3.4pt;text-align:justify'><span style='font-size:11.0pt;
  font-family:"Arial","sans-serif"'>- Les noms d'attributs sont </span><em><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>en minuscules.</span></em></p>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:11.35pt;margin-bottom:
  6.0pt;margin-left:3.4pt;text-align:justify'><span style='font-size:11.0pt;
  font-family:"Arial","sans-serif"'>- Tous les &eacute;l&eacute;ments peuvent contenir un ou
  plusieurs attributs. Chaque &eacute;l&eacute;ment ne peut contenir qu'une fois le m&ecirc;me
  attribut. Un attribut est compos&eacute; d'un nom et d'une valeur. Il ne peut &ecirc;tre
  pr&eacute;sent que dans la balise </span><em><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>ouvrante</span></em><span
  style='font-size:11.0pt;font-family:"Arial","sans-serif"'> de l'&eacute;l&eacute;ment.</span></p>
  </td>
 </tr>
 <tr>
  <td width=109 valign=top style='width:81.5pt;border-top:none;border-left:
  solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm;layout-grid-mode:char'><b><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>Exemple</span></b></p>
  </td>
  <td width=507 valign=top style='width:380.1pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:3.4pt;text-align:left;layout-grid-mode:char'><span
  class=enteteexemplexml><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Exemple
  de fichier XML</span></span></h1>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:3.4pt;text-align:left'><span class=tag><span style='font-size:
  10.0pt;font-family:"Courier New";font-weight:normal'>&lt;?xml
  version=&quot;1.0&quot; encoding=&quot;ISO-8859-1&quot;?&gt;</span></span></h1>
  <p class=MsoNormal style='margin-left:3.4pt;text-autospace:ideograph-numeric'><span
  lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>&lt;ChouettePTNetwork
  xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>   
  xmlns=&quot;http://www.trident.org/schema/trident&quot;
  xsi:schemaLocation=&quot;http://www.trident.org/schema/trident
  /home/marc/workspace/chouette-ninoxe/src/main/castor/Chouette.xsd&quot;&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>    &lt;PTNetwork&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>       
  &lt;objectId&gt;AMIV:PTNetwork:95&lt;/objectId&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>        </span><span
  style='font-size:10.0pt;font-family:"Courier New"'>&lt;versionDate&gt;2007-03-21&lt;/versionDate&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span class=tag><span
  style='font-size:10.0pt;font-family:"Courier New"'>...</span></span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span class=tag><span
  style='font-size:10.0pt;font-family:"Courier New"'>&lt;/ChouettePTNetwork&gt;</span></span></p>
  </td>
 </tr>
 <tr>
  <td width=615 colspan=2 valign=top style='width:461.6pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h2 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center;layout-grid-mode:char'><i><span lang=EN-US
  style='font-size:14.0pt;color:navy'>Evaluation</span></i></h2>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=109 style='width:81.5pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span lang=EN-US
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>N&deg; test</span></h1>
  </td>
  <td width=507 style='width:380.1pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 11.35pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>1.1.1</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=109 style='width:81.5pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Libell&eacute;</span></h1>
  </td>
  <td width=507 style='width:380.1pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 11.35pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>Conformit&eacute;
  &agrave; la syntaxe XML</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=109 style='width:81.5pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Champ
  d&rsquo;application</span></h1>
  </td>
  <td width=507 style='width:380.1pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 11.35pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>S</span><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>yntaxe
  XML suivant les recommandations du W3C</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=109 style='width:81.5pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>V&eacute;rification</span></h1>
  </td>
  <td width=507 style='width:380.1pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 11.35pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>-
  V&eacute;rifier qu'il est possible d'ouvrir le fichier contenant le mod&egrave;le CHOUETTE
  &agrave; analyser avec un &eacute;diteur XML ou directement &agrave; l'aide d'un Framework de
  v&eacute;rification de la syntaxe XML (castor, xerces, etc...).  </span></h1>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>-
  Si le fichier respecte la syntaxe W3C alors le test est valid&eacute;, sinon le test
  est invalid&eacute; et produit le message &laquo;&nbsp;test 1.1.1&nbsp;: le fichier n&rsquo;est
  pas correctement form&eacute; selon les recommandations du W3C&nbsp;&raquo;.</span></p>
  <p class=MsoNormal><span style='font-family:"Tahoma","sans-serif"'>&nbsp;</span></p>
  </td>
 </tr>
</table>


</div>

