
<div class=WordSection1>


<p class=MsoTitle><span style='font-size:14.0pt;font-family:"Tahoma","sans-serif"'> Fiche
du point de contr&ocirc;le N&deg; 2.1</span></p>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=629
 style='width:472.05pt;margin-left:-.75pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid'>
  <td width=616 colspan=3 valign=top style='width:462.1pt;border:solid black 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center;layout-grid-mode:char'><i><span
  style='font-family:"Tahoma","sans-serif";color:navy'>Description</span></i></h1>
  </td>
  <td style='border:none;padding:0cm 0cm 0cm 0cm' width=13><p class='MsoNormal'>&nbsp;</td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=109 colspan=2 style='width:81.5pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Intitul&eacute;</span></h1>
  </td>
  <td width=507 style='width:380.6pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt;layout-grid-mode:char'><span
  style='font-size:11.0pt;line-height:200%;font-family:"Tahoma","sans-serif"'>Coh&eacute;rence
  entre le r&eacute;seau et  ses composants</span></p>
  </td>
  <td style='border:none;padding:0cm 0cm 0cm 0cm' width=13><p class='MsoNormal'>&nbsp;</td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=109 colspan=2 style='width:81.5pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Objectif</span></h1>
  </td>
  <td width=507 style='width:380.6pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:11.35pt;margin-bottom:
  6.0pt;margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>V&eacute;rification
  de la correcte r&eacute;f&eacute;rence &agrave; des LIGNEs/Chouette (&laquo; Line &raquo;)  dans  VERSION DU
  R&Eacute;SEAU   (&laquo;&nbsp;PTNetwork&nbsp;&raquo;).</span></h1>
  <h1 align=left style='margin-top:6.0pt;margin-right:11.35pt;margin-bottom:
  6.0pt;margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>V&eacute;rification
  de la correcte r&eacute;f&eacute;rence  &agrave; la  VERSION DU R&Eacute;SEAU(&laquo;&nbsp;PTNetwork&nbsp;&raquo;)
  dans LIGNEs/Chouette (&laquo; Line &raquo;).  </span></h1>
  </td>
  <td style='border:none;padding:0cm 0cm 0cm 0cm' width=13><p class='MsoNormal'>&nbsp;</td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=109 colspan=2 style='width:81.5pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>R&eacute;f&eacute;rences</span></h1>
  </td>
  <td width=507 style='width:380.6pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>TRIDENT/profil
  CHOUETTE/Transmodel V4 et V5.1</span></h1>
  </td>
  <td style='border:none;padding:0cm 0cm 0cm 0cm' width=13><p class='MsoNormal'>&nbsp;</td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=109 colspan=2 style='width:81.5pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>N&deg; de fiche(s)
  connexe(s)</span></h1>
  </td>
  <td width=507 style='width:380.6pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>&nbsp;</span></h1>
  </td>
  <td style='border:none;padding:0cm 0cm 0cm 0cm' width=13><p class='MsoNormal'>&nbsp;</td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=109 colspan=2 style='width:81.5pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:5.65pt 11.35pt 5.65pt 3.5pt;
  height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt;layout-grid-mode:char'><b><span
  style='font-size:11.0pt;line-height:200%;font-family:"Tahoma","sans-serif"'>Priorit&eacute;<span
  style='color:red'> </span></span></b></p>
  </td>
  <td width=507 style='width:380.6pt;border:solid black 1.0pt;border-top:none;
  padding:5.65pt 11.35pt 5.65pt 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>Obligatoire
  (si la s&eacute;quence &laquo;&nbsp;lineId&nbsp;&raquo; est utilis&eacute;e dans
  &laquo;&nbsp;PTNetwork&nbsp;&raquo;)</span></h1>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>Obligatoire
  (si l&rsquo;&eacute;l&eacute;ment ptNetworkIdShortCut est utilis&eacute; dans &laquo;&nbsp;Line&nbsp;&raquo;)</span></p>
  </td>
  <td style='border:none;padding:0cm 0cm 0cm 0cm' width=13><p class='MsoNormal'>&nbsp;</td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=109 colspan=2 style='width:81.5pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt;layout-grid-mode:char'><b><span
  style='font-size:11.0pt;line-height:200%;font-family:"Tahoma","sans-serif"'>R&eacute;sultat</span></b></p>
  </td>
  <td width=507 style='width:380.6pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>Conforme
  ou non conforme</span></h1>
  </td>
  <td style='border:none;padding:0cm 0cm 0cm 0cm' width=13><p class='MsoNormal'>&nbsp;</td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=616 colspan=3 valign=top style='width:462.1pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center;layout-grid-mode:char'><i><span
  style='font-family:"Tahoma","sans-serif";color:navy'>Mise en &oelig;uvre</span></i></h1>
  </td>
  <td style='border:none;padding:0cm 0cm 0cm 0cm' width=13><p class='MsoNormal'>&nbsp;</td>
 </tr>
 <tr>
  <td width=109 colspan=2 style='width:81.5pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt;layout-grid-mode:char'><b><span
  style='font-size:11.0pt;line-height:200%;font-family:"Tahoma","sans-serif"'>&nbsp;</span></b></p>
  <p class=MsoBodyText2 style='margin-top:6.0pt;layout-grid-mode:char'><b><span
  style='font-size:11.0pt;line-height:200%;font-family:"Tahoma","sans-serif"'>Explication</span></b></p>
  <p class=MsoBodyText2 style='margin-top:6.0pt;layout-grid-mode:char'><b><span
  style='font-size:11.0pt;line-height:200%;font-family:"Tahoma","sans-serif"'>&nbsp;</span></b></p>
  <p class=MsoBodyText2 style='margin-top:6.0pt;layout-grid-mode:char'><b><span
  style='font-size:11.0pt;line-height:200%;font-family:"Tahoma","sans-serif"'>&nbsp;</span></b></p>
  </td>
  <td width=507 valign=top style='width:380.6pt;border:solid black 1.0pt;
  border-top:none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:11.35pt;margin-bottom:6.0pt;
  margin-left:0cm;layout-grid-mode:char'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif";font-weight:normal'>La r&eacute;f&eacute;rence &agrave; la
  LIGNE/Chouette (&laquo; Line &raquo;), au sein de la classe d&rsquo;objets de VERSION DU
  R&Eacute;SEAU   (&laquo; PTNetwork &raquo;), a  un caract&egrave;re optionnel. Si cette r&eacute;f&eacute;rence est
  utilis&eacute;e, alors elle doit  correspondre &agrave; une ou plusieurs LIGNEs/Chouette (&laquo;
  Line &raquo;) effectivement d&eacute;finie(s). </span></h1>
  <p class=MsoNormal style='margin-top:0cm;margin-right:11.35pt;margin-bottom:
  6.0pt;margin-left:0cm;text-align:justify'><span style='font-size:11.0pt;
  font-family:"Arial","sans-serif"'>L&rsquo;&eacute;l&eacute;ment permettant d&rsquo;identifier le r&eacute;seau
  (ptNetworkIdShortcut) auquel appartient une LIGNE/Chouette (&laquo; Line &raquo;) </span><b><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'> </span></b><span
  style='font-size:11.0pt;font-family:"Arial","sans-serif"'>a un caract&egrave;re
  optionnel. Si cet &eacute;l&eacute;ment est utilis&eacute;, il convient de v&eacute;rifier que sa valeur
  correspond bien &agrave; l&rsquo;identifiant de la VERSION DU R&Eacute;SEAU   (&laquo; PTNetwork &raquo;)  en
  question.</span></p>
  </td>
  <td style='border:none;padding:0cm 0cm 0cm 0cm' width=13><p class='MsoNormal'>&nbsp;</td>
 </tr>
 <tr style='height:710.7pt'>
  <td width=109 colspan=2 valign=top style='width:81.5pt;border-top:none;
  border-left:solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:710.7pt'>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm;layout-grid-mode:char'><b><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>Exemple</span></b></p>
  </td>
  <td width=507 valign=top style='width:380.6pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:710.7pt'>
  <h1 align=left style='margin-left:18.0pt;text-align:left'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>&nbsp;</span></h1>
  <h1 align=left style='margin-left:18.0pt;text-align:left'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>Repr&eacute;sentation
  sch&eacute;matique de l&rsquo;Objet PTNetwork </span></h1>
  <p class=MsoNormal align=center style='text-align:center'><img width=457
  height=482 src="image001.jpg"></p>
  <h3 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  3.4pt;layout-grid-mode:char'>Exemple de l&rsquo;objet PTNetwork &agrave; partir d&rsquo;un
  fichier XML</h3>
  <p class=MsoNormal style='margin-left:3.4pt'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>...</span></p>
  <p class=MsoNormal style='margin-left:3.4pt'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>&lt;PTNetwork&gt;</span></p>
  <p class=MsoNormal style='margin-left:3.4pt;text-autospace:ideograph-numeric'><span
  lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>     &lt;objectId&gt;SYNTHESE:PTNetwork:6192449487677451&lt;/objectId&gt;</span></p>
  <p class=MsoNormal style='margin-left:3.4pt;text-autospace:ideograph-numeric'><span
  lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>     &lt;name&gt;MP/TLS
  - Tiss&eacute;o&lt;/name&gt;</span></p>
  <p class=MsoNormal style='margin-left:3.4pt;text-autospace:ideograph-numeric'><span
  lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>     &lt;lineId&gt;</span><span
  lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>SYNTHESE:Line:11821949021891693</span><span
  lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>&lt;/lineId&gt;</span></p>
  <p class=MsoNormal style='margin-left:3.4pt;text-autospace:ideograph-numeric'><span
  lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>     &lt;registration&gt;</span></p>
  <p class=MsoNormal style='margin-left:3.4pt;text-autospace:ideograph-numeric'><span
  lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>     &lt;registrationNumber&gt;6192449487677451&lt;/registrationNumber&gt;</span></p>
  <p class=MsoNormal style='margin-left:3.4pt;text-autospace:ideograph-numeric'><span
  lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>     &lt;/registration&gt;</span></p>
  <p class=MsoNormal style='margin-left:3.4pt;text-autospace:ideograph-numeric'><span
  lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>&lt;/PTNetwork&gt;</span></p>
  <p class=MsoNormal style='margin-left:3.4pt;text-autospace:ideograph-numeric'><span
  lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>...</span></p>
  <p class=MsoNormal style='margin-left:3.4pt;text-autospace:ideograph-numeric'><span
  lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>&lt;Line&gt;</span></p>
  <p class=MsoNormal style='margin-left:3.4pt;text-autospace:ideograph-numeric'><span
  lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>     &lt;objectId&gt;SYNTHESE:Line:11821949021891693&lt;/objectId&gt;</span></p>
  <p class=MsoNormal style='margin-left:3.4pt;text-autospace:ideograph-numeric'><span
  lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>     &lt;name&gt;MP/TLS/150&lt;/name&gt;</span></p>
  <p class=MsoNormal style='margin-left:3.4pt;text-autospace:ideograph-numeric'><span
  lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>     &lt;publishedName&gt;le
  taxi-bus Saubens&lt;/publishedName&gt;</span></p>
  <p class=MsoNormal style='margin-left:3.4pt;text-autospace:ideograph-numeric'><span
  style='font-size:10.0pt;font-family:"Courier New"'>&lt;routeId&gt;SYNTHESE:ChouetteRoute:2533274790396714&lt;/routeId&gt;</span></p>
  <p class=MsoNormal style='margin-left:3.4pt;text-autospace:ideograph-numeric'><span
  style='font-size:10.0pt;font-family:"Courier New"'>&lt;routeId&gt;SYNTHESE:ChouetteRoute:2533274790396715&lt;/routeId&gt;</span></p>
  <p class=MsoNormal style='margin-left:3.4pt;text-autospace:ideograph-numeric'><span
  style='font-size:10.0pt;font-family:"Courier New"'>&lt;routeId&gt;SYNTHESE:ChouetteRoute:2533274790397007&lt;/routeId&gt;</span></p>
  <p class=MsoNormal style='margin-left:3.4pt;text-autospace:ideograph-numeric'><span
  style='font-size:10.0pt;font-family:"Courier New"'>&lt;routeId&gt;SYNTHESE:ChouetteRoute:2533274790397008&lt;/routeId&gt;</span></p>
  <p class=MsoNormal style='margin-left:3.4pt;text-autospace:ideograph-numeric'><span
  style='font-size:10.0pt;font-family:"Courier New"'>     </span><span
  lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>&lt;registration&gt;</span></p>
  <p class=MsoNormal style='margin-left:3.4pt;text-autospace:ideograph-numeric'><span
  lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>&lt;registrationNumber&gt;11821949021891693&lt;/registrationNumber&gt;</span></p>
  <p class=MsoNormal style='margin-left:3.4pt;text-autospace:ideograph-numeric'><span
  lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>     &lt;/registration&gt;</span></p>
  <p class=MsoNormal style='margin-left:3.4pt;text-autospace:ideograph-numeric'><span
  lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>&lt;/Line&gt;</span></p>
  <p class=MsoNormal style='margin-left:3.4pt;text-autospace:ideograph-numeric'><span
  style='font-size:10.0pt;font-family:"Courier New"'>...<span style='color:
  teal'> </span></span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span
  style='font-size:10.0pt;font-family:Monospace;color:teal'>&nbsp;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span
  style='font-size:10.0pt;font-family:Monospace;color:teal'>&nbsp;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span
  style='font-size:10.0pt;font-family:Monospace;color:teal'>&nbsp;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span
  style='font-size:10.0pt;font-family:Monospace;color:teal'>&nbsp;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'>&nbsp;</p>
  </td>
  <td style='border:none;border-bottom:solid black 1.0pt' width=13><p class='MsoNormal'>&nbsp;</td>
 </tr>
 <tr>
  <td width=100 valign=top style='width:74.85pt;border-top:none;border-left:
  solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm;layout-grid-mode:char'><b><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>Exemple</span></b></p>
  </td>
  <td width=530 colspan=3 valign=top style='width:397.2pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=left style='margin-left:18.0pt;text-align:left;layout-grid-mode:
  char'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
  font-weight:normal'>&nbsp;</span></h1>
  <h1 align=left style='margin-left:18.0pt;text-align:left'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>Repr&eacute;sentation
  sch&eacute;matique de l&rsquo;Objet Line</span></h1>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal align=center style='text-align:center'><img width=478
  height=498 src="image002.jpg"></p>
  <p class=MsoNormal><u><span style='font-size:11.0pt'><span style='text-decoration:
   none'>&nbsp;</span></span></u></p>
  <p class=MsoNormal>&nbsp;</p>
  <h3 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  3.4pt'>Exemple de ligne r&eacute;f&eacute;ren&ccedil;ant le r&eacute;seau auquel appartient la ligne</h3>
  <p class=MsoNormal style='margin-left:3.4pt'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>...</span></p>
  <p class=MsoNormal style='margin-left:3.4pt'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>&lt;PTNetwork&gt;</span></p>
  <p class=MsoNormal style='margin-left:3.4pt;text-autospace:ideograph-numeric'><span
  lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>     &lt;objectId&gt;AMIV:PTNetwork:95&lt;/objectId&gt;</span></p>
  <p class=MsoNormal style='margin-left:3.4pt;text-autospace:ideograph-numeric'><span
  lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>     &lt;versionDate&gt;2007-03-21&lt;/versionDate&gt;</span></p>
  <p class=MsoNormal style='margin-left:3.4pt'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>...</span></p>
  <p class=MsoNormal style='margin-left:3.4pt'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>&lt;Line&gt;</span></p>
  <p class=MsoNormal style='margin-left:3.4pt;text-autospace:ideograph-numeric'><span
  lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>     &lt;objectId&gt;AMIV:Line:014014012&lt;/objectId&gt;</span></p>
  <p class=MsoNormal style='margin-left:3.4pt;text-autospace:ideograph-numeric'><span
  lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>     &lt;objectVersion&gt;1&lt;/objectVersion&gt;</span></p>
  <p class=MsoNormal style='margin-left:3.4pt;text-autospace:ideograph-numeric'><span
  lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>     &lt;creationTime&gt;2007-03-21T16:05:54.000+01:00&lt;/creationTime&gt;</span></p>
  <p class=MsoNormal style='margin-left:3.4pt;text-autospace:ideograph-numeric'><span
  lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>     &lt;name&gt;LIGNE
  012&lt;/name&gt;</span></p>
  <p class=MsoNormal style='margin-left:3.4pt;text-autospace:ideograph-numeric'><span
  lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>     &lt;publishedName&gt;Les
  Courriers de l'Ile de France&lt;/publishedName&gt;</span></p>
  <p class=MsoNormal style='margin-left:3.4pt;text-autospace:ideograph-numeric'><span
  lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>     &lt;transportModeName&gt;Bus&lt;/transportModeName&gt;</span></p>
  <p class=MsoNormal style='margin-left:3.4pt;text-autospace:ideograph-numeric'><span
  lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>     &lt;lineEnd&gt;AMIV:StopPoint:488957A0A237830&lt;/lineEnd&gt;</span></p>
  <p class=MsoNormal style='margin-left:3.4pt;text-autospace:ideograph-numeric'><span
  lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>     &lt;ptNetworkIdShortcut&gt;AMIV:PTNetwork:95&lt;/ptNetworkIdShortcut&gt;</span></p>
  <p class=MsoNormal style='margin-left:3.4pt;text-autospace:ideograph-numeric'><span
  lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>     &lt;routeId&gt;AMIV:Route:488957&lt;/routeId&gt;</span></p>
  <p class=MsoNormal style='margin-left:3.4pt;text-autospace:ideograph-numeric'><span
  lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>     </span><span
  style='font-size:10.0pt;font-family:"Courier New"'>&lt;routeId&gt;AMIV:Route:488959&lt;/routeId&gt;...</span></p>
  </td>
 </tr>
 <tr height=0>
  <td width=100 style='border:none'></td>
  <td width=7 style='border:none'></td>
  <td width=527 style='border:none'></td>
  <td width=7 style='border:none'></td>
 </tr>
</table>

<p class=MsoNormal><b><span style='font-family:"Tahoma","sans-serif"'>&nbsp;</span></b></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=624
 style='width:467.8pt;margin-left:-3.6pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid'>
  <td width=624 colspan=2 valign=top style='width:467.8pt;border:solid black 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <h2 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center;layout-grid-mode:char'><i><span lang=EN-US
  style='font-size:14.0pt;color:navy'>Evaluation</span></i></h2>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span lang=EN-US
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>N&deg; test</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border:solid black 1.0pt;border-top:none;
  padding:5.65pt 11.35pt 5.65pt 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>2.1.1</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Libell&eacute;</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border:solid black 1.0pt;border-top:none;
  padding:5.65pt 11.35pt 5.65pt 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>V&eacute;rification
  de la correcte r&eacute;f&eacute;rence &agrave; des LIGNEs/Chouette (&laquo; Line &raquo;)  dans  VERSION DU
  R&Eacute;SEAU   (&laquo;&nbsp;PTNetwork&nbsp;&raquo;).</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span lang=EN-US
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Champ
  d&rsquo;application</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border:solid black 1.0pt;border-top:none;
  padding:5.65pt 11.35pt 5.65pt 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;text-align:left;layout-grid-mode:char'><span
  lang=EN-US style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
  font-weight:normal'>&lt;PTNetwork&gt;</span></h1>
  <h1 align=left style='text-align:left;layout-grid-mode:char'><span
  lang=EN-US style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
  font-weight:normal'>&lt;Line&gt;</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>V&eacute;rification</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border:solid black 1.0pt;border-top:none;
  padding:5.65pt 11.35pt 5.65pt 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>-
  Si l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;lineId&nbsp;&raquo;, situ&eacute; dans l&rsquo;objet
  &laquo;&nbsp;PTNetwork&nbsp;&raquo;, existe alors poursuivre le test, sinon abandonner le
  test,</span></h1>
  <h1 align=left style='margin-bottom:6.0pt;text-align:left;layout-grid-mode:
  char'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
  font-weight:normal'>- Si la valeur de chaque &eacute;l&eacute;ment &laquo;&nbsp;LineId&nbsp;&raquo; de
  la classe d&rsquo;objets &laquo;PTNetwork&nbsp;&raquo;, est identifi&eacute;e dans l&rsquo;&eacute;l&eacute;ment
  &laquo;&nbsp;objectId&nbsp;&raquo;  de la classe d&rsquo;objets  &laquo;&nbsp;Line&nbsp;&raquo; alors le
  test est valid&eacute;, sinon le test est invalid&eacute; et produit le message &laquo;&nbsp;test
  2.1.1&nbsp;: la valeur de l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;LineId&nbsp;&raquo; de la classe
  d&rsquo;objets   &laquo;PTNetwork&nbsp;&raquo; n&rsquo;a pas &eacute;t&eacute; rep&eacute;r&eacute;e dans  l&rsquo;&eacute;l&eacute;ment
  &laquo;&nbsp;objectId&nbsp;&raquo;  de la classe d&rsquo;objets  &laquo;&nbsp;Line&nbsp;&raquo;.</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=104 style='width:78.0pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span lang=EN-US
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>N&deg; test</span></h1>
  </td>
  <td width=520 style='width:389.8pt;border:solid black 1.0pt;border-top:none;
  padding:5.65pt 11.35pt 5.65pt 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;text-align:left;layout-grid-mode:char'><span
  lang=EN-US style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
  font-weight:normal'>2.1.2</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=104 style='width:78.0pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span lang=EN-US
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Libell&eacute;</span></h1>
  </td>
  <td width=520 style='width:389.8pt;border:solid black 1.0pt;border-top:none;
  padding:5.65pt 11.35pt 5.65pt 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>V&eacute;rification
  de la correcte r&eacute;f&eacute;rence  &agrave; la  VERSION DU R&Eacute;SEAU  </span></h1>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>(
  &laquo;&nbsp;PTNetwork&nbsp;&raquo;).dans LIGNEs/Chouette (&laquo; Line &raquo;).</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=104 style='width:78.0pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span lang=EN-US
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Champ
  d&rsquo;application</span></h1>
  </td>
  <td width=520 style='width:389.8pt;border:solid black 1.0pt;border-top:none;
  padding:5.65pt 11.35pt 5.65pt 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span lang=EN-US
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>&lt;Line&gt;</span></h1>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span lang=EN-US
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>&lt;PTNetwork&gt;</span></h1>
  <p class=MsoNormal style='layout-grid-mode:char'><span lang=EN-US
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>&nbsp;</span></p>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=104 style='width:78.0pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>V&eacute;rification</span></h1>
  </td>
  <td width=520 style='width:389.8pt;border:solid black 1.0pt;border-top:none;
  padding:5.65pt 11.35pt 5.65pt 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>-
  Si l&rsquo;&eacute;l&eacute;ment &laquo;PtNetworkIdShortcut&raquo; existe alors poursuivre le test, sinon le
  test est abandonn&eacute;,</span></h1>
  <h1 align=left style='text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>-
  Si la valeur de chaque &laquo;&nbsp;ptNetworkIdShortcut&nbsp;&raquo; pour chaque
  &laquo;&nbsp;Line&nbsp;&raquo;, est identifi&eacute;e  dans l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;objectId&nbsp;&raquo; 
  de  la classe d&rsquo;objets &laquo;&nbsp;PTNetwork&nbsp;&raquo; alors le test est valid&eacute;,
  sinon le test est invalid&eacute; et produit le message &laquo;&nbsp;test 2.1.2&nbsp;: la
  r&eacute;f&eacute;rence au r&eacute;seau &laquo;&nbsp;PtNetworkIdShortcut&nbsp;&raquo; n&rsquo;a pas &eacute;t&eacute; rep&eacute;r&eacute;e
  dans l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;objectId&nbsp;&raquo; de la classe d&rsquo;objets &laquo;&nbsp;PtNetwork&raquo;
  &raquo;.</span></h1>
  <h1 align=left style='text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>&nbsp;</span></h1>
  </td>
 </tr>
</table>


</div>

