<h1 class="western" style="border: 1pt solid rgb(0, 0, 0); padding: 0.05cm 0.12cm; margin-top: 0.21cm;" align="center">
<font face="Arial, sans-serif"><font style="font-size: 20pt;" size="5"><i>
 point de contrôle N° 2.12<br>
Définition de  l'Interdiction de  Trafic Local<br>
</i></font></font></h1>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Objectif: </b></u>
Vérification   de cohérence entre les objets «&nbsp; ITL&nbsp;»  et les ARRÊTs/Chouette   («&nbsp;StopArea&nbsp;»).<br>
</font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Priorité: </b></u> Obligatoire  (si le réseau contient des Interdictions de Trafic Local «&nbsp;ITL&nbsp;»)</font></p><font face="Arial, sans-serif">
</font><p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><u><b>Explications:</b></u> 
</font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Les Interdictions de Trafic Local «&nbsp;ITL&nbsp;» sont optionnelles
dans un réseau. Lorsqu'elles existent, il convient de vérifier pour
chaque ARRÊT/Chouette («&nbsp;StopArea&nbsp;») de type &nbsp;ITL&nbsp;,
que l'élément «&nbsp;areaId&nbsp;» qui est à caractère obligatoire,
correspond à un identifiant «&nbsp;ObjectId&nbsp;» d’ARRÊT/Chouette
(«&nbsp;StopArea&nbsp;»)» du réseau.</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>Exemple: </u></b></font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Représentation  schématique de l’Objet «&nbsp; ITL&nbsp;»</font></font></font></p>
<p><font face="Arial, sans-serif"><img src="image010.jpg" height="139" width="278"></font></p>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif"><span style="font-style: italic;">Exemple d'ITL dont l'« areaId » référence un point d’arrêt</span><br>...<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;StopArea&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;objectId&gt;AMIV:StopPoint:237814&lt;/objectId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;name&gt;Croix   l'Alouettes&lt;/name&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;contains&gt;AMIV:StopPoint:488965A7A23781400&lt;/contains&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">...<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;ITL&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;areaId&gt;AMIV:StopPoint:237814&lt;/areaId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;name&gt;Croix   l'Alouettes000&lt;/name&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;lineIdShortCut&gt;AMIV:Line:014014012000&lt;/lineIdShortCut&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;/ITL&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">...<br></font></span>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>N° test:</u></b> 
2.12.1</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Libellé:</u> 
Vérification  de cohérence entre les objets «&nbsp; ITL&nbsp;»  et les ARRÊTs/Chouette  («&nbsp;StopArea&nbsp;»).</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Champ d’application:</u> 
&lt;ITL&gt;&nbsp;&lt;StopArea&gt;</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Vérification:</u> </font></font></font></p>


<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
-  Si l’objet «&nbsp;ITL&nbsp;» existe alors poursuivre le test, sinon le test  est abandonné</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si l’élément «&nbsp;areaId&nbsp;», référencé dans un objet
d’interdiction de trafic local «&nbsp;ITL&nbsp;», possède un
identifiant «&nbsp;ObjectId&nbsp;» dans un objet «&nbsp;StopArea&nbsp;»
, le test est validé, sinon le test est invalidé et produit le message
«&nbsp;test 2.12.1&nbsp;: Un objet d’interdiction de trafic local
«&nbsp;ITL&nbsp;» fait référence à un arrêt du réseau
«&nbsp;StopArea&nbsp;» inexistant&nbsp;».</font></font></font></p>

