<body lang=FR link=blue vlink=purple>

<div class=WordSection1>
</span></b>

<p class=MsoTitle><span style='font-size:14.0pt;font-family:"Tahoma","sans-serif"'>Fiche
du point de contr&ocirc;le N&deg; 2.13</span></p>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=648
 style='width:485.7pt;margin-left:-.25pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid'>
  <td width=648 colspan=2 valign=top style='width:485.7pt;border:solid black 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center;text-indent:0cm;layout-grid-mode:char'><i><span
  style='font-family:"Tahoma","sans-serif";color:navy'>Description</span></i></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Intitul&eacute;</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt;layout-grid-mode:char'><span
  style='font-size:11.0pt;line-height:200%;font-family:"Tahoma","sans-serif"'>R&eacute;f&eacute;rence
  &agrave; une ligne des arr&ecirc;ts ITL</span></p>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Objectif</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>V&eacute;rification
  de la correcte r&eacute;f&eacute;rence &agrave; la LIGNE/Chouette (&laquo;&nbsp;Line&nbsp;&raquo;) pour chaque
  &laquo;&nbsp;ITL&nbsp;&raquo;.</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>R&eacute;f&eacute;rences</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>TRIDENT/profil
  CHOUETTE/Transmodel V4 et V5.1</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>N&deg; de fiche(s)
  connexe(s)</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-left:0cm;text-align:left;text-indent:0cm;
  layout-grid-mode:char'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
  font-weight:normal'>&nbsp;</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt;layout-grid-mode:char'><b><span
  style='font-size:11.0pt;line-height:200%;font-family:"Tahoma","sans-serif"'>Priorit&eacute;<span
  style='color:red'> </span></span></b></p>
  </td>
  <td width=108 style='width:81.35pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>Obligatoire
  (si le r&eacute;seau contient des Interdictions de Trafic Local &laquo;&nbsp;ITL&nbsp;&raquo;)</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt;layout-grid-mode:char'><b><span
  style='font-size:11.0pt;line-height:200%;font-family:"Tahoma","sans-serif"'>R&eacute;sultat</span></b></p>
  </td>
  <td width=108 style='width:81.35pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>Conforme
  ou non conforme</span></h1>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=648 colspan=2 valign=top style='width:485.7pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center;text-indent:0cm;layout-grid-mode:char'><i><span
  style='font-family:"Tahoma","sans-serif";color:navy'>Mise en &oelig;uvre</span></i></h1>
  </td>
 </tr>
 <tr>
  <td width=100 style='width:74.85pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Explication</span></h1>
  </td>
  <td width=548 style='width:410.85pt;border:solid black 1.0pt;border-top:none;
  padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>Les
  Interdictions de Trafic Local &laquo;&nbsp;ITL&nbsp;&raquo; sont optionnelles dans un
  r&eacute;seau. Lorsqu'elles existent, il convient de v&eacute;rifier pour chaque
  &laquo;&nbsp;ITL&nbsp;&raquo; que si l'&eacute;l&eacute;ment &laquo;&nbsp;lineIdShortcut&nbsp;&raquo;, qui est &agrave;
  caract&egrave;re optionnel dans l'&laquo;&nbsp;ITL&nbsp;&raquo;, existe, il correspond &agrave; l'identifiant
  &laquo;&nbsp;ObjectId&nbsp;&raquo; d&rsquo;une  LIGNE/Chouette (&laquo;&nbsp;Line&nbsp;&raquo;) d&eacute;finie. </span></h1>
  </td>
 </tr>
</table>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=648
 style='width:485.7pt;margin-left:-.25pt;border-collapse:collapse'>
 <tr>
  <td width=108 valign=top style='width:81.35pt;border:solid black 1.0pt;
  border-right:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm;layout-grid-mode:char'><b><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>Exemple</span></b></p>
  </td>
  <td width=108 valign=top style='width:81.35pt;border:solid black 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=left style='margin-left:18.0pt;text-align:left;text-indent:0cm;
  layout-grid-mode:char'><span style='font-size:11.0pt;font-weight:normal'>&nbsp;</span></h1>
  <h1 align=left style='margin-left:18.0pt;text-align:left;text-indent:0cm'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>Repr&eacute;sentation
  sch&eacute;matique de l&rsquo;Objet &laquo;&nbsp;ITL&nbsp;&raquo;</span></h1>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal align=center style='text-align:center'><img width=278
  height=139 src="/assets/test_sheet/image010.jpg"></p>
  <p class=MsoNormal>                                         </p>
  <p class=MsoNormal>&nbsp;</p>
  <h3 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm;text-indent:0cm'>Exemple d'ITL avec le &laquo;&nbsp;lineIdShortcut&nbsp;&raquo;
  r&eacute;f&eacute;renc&eacute; dans la ligne du r&eacute;seau</h3>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>...</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>&lt;Line&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>      &lt;objectId&gt;AMIV:Line:014014012&lt;/objectId&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>      &lt;objectVersion&gt;1&lt;/objectVersion&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>...</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>&lt;ITL&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>      &lt;areaId&gt;AMIV:StopPoint:237814&lt;/areaId&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>      &lt;name&gt;Croix 
  l'Alouettes000&lt;/name&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>      &lt;lineIdShortCut&gt;AMIV:Line:014014012&lt;/lineIdShortCut&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>&lt;/ITL&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>...</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=648 colspan=2 valign=top style='width:485.7pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h2 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center;text-indent:0cm;layout-grid-mode:char'><i><span
  lang=EN-US style='font-size:14.0pt;color:navy'>Evaluation</span></i></h2>
  </td>
 </tr>
 <tr>
  <td width=100 style='width:74.85pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm;layout-grid-mode:char'><span
  lang=EN-US style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>N&deg; test</span></h1>
  </td>
  <td width=548 style='width:410.85pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>2.13.1</span></h1>
  </td>
 </tr>
 <tr>
  <td width=100 style='width:74.85pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Libell&eacute;</span></h1>
  </td>
  <td width=548 style='width:410.85pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>V&eacute;rification
  de la correcte r&eacute;f&eacute;rence &agrave; la LIGNE/Chouette (&laquo;&nbsp;Line&nbsp;&raquo;) pour chaque
  &laquo;&nbsp;ITL&nbsp;&raquo;.</span></h1>
  </td>
 </tr>
 <tr>
  <td width=100 style='width:74.85pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm;layout-grid-mode:char'><span
  lang=EN-US style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Champ
  d&rsquo;application</span></h1>
  </td>
  <td width=548 style='width:410.85pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm;layout-grid-mode:char'><span
  lang=EN-US style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
  font-weight:normal'>&lt;ITL&gt;</span></h1>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm;layout-grid-mode:char'><span lang=EN-US
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>&lt;Line&gt;</span></p>
  </td>
 </tr>
 <tr>
  <td width=100 style='width:74.85pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>V&eacute;rification</span></h1>
  </td>
  <td width=548 style='width:410.85pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=left style='margin-left:0cm;text-align:left;text-indent:0cm;
  layout-grid-mode:char'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
  font-weight:normal'>&nbsp;</span></h1>
  <h1 align=left style='margin-top:0cm;margin-right:11.35pt;margin-bottom:0cm;
  margin-left:0cm;margin-bottom:.0001pt;text-align:left;text-indent:0cm;
  layout-grid-mode:char'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
  font-weight:normal'>- Si l&rsquo;objet &laquo;&nbsp;ITL&nbsp;&raquo; existe alors poursuivre le
  test, sinon le test est abandonn&eacute; </span></h1>
  <p class=MsoNormal style='margin-right:11.35pt'><span style='font-family:
  "Tahoma","sans-serif"'>&nbsp;</span></p>
  <p class=MsoBodyText2 style='margin-right:11.35pt'><span style='font-family:
  "Tahoma","sans-serif"'>- </span><span style='font-size:11.0pt;line-height:
  200%;font-family:"Tahoma","sans-serif"'>Si l&rsquo;&eacute;l&eacute;ment de raccourci de ligne
  &laquo;&nbsp;lineIdShortcut&nbsp;&raquo; existe alors poursuivre le test, sinon le test
  est abandonn&eacute;</span></p>
  <p class=MsoNormal style='margin-top:0cm;margin-right:11.35pt;margin-bottom:
  0cm;margin-left:18.0pt;margin-bottom:.0001pt'><span style='font-family:"Tahoma","sans-serif"'>&nbsp;</span></p>
  <h1 align=left style='margin-top:0cm;margin-right:11.35pt;margin-bottom:0cm;
  margin-left:0cm;margin-bottom:.0001pt;text-align:left;text-indent:0cm;
  layout-grid-mode:char'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
  font-weight:normal'>- Si l&rsquo;&eacute;l&eacute;ment de raccourci de ligne
  &laquo;&nbsp;lineIdShortcut&nbsp;&raquo;, r&eacute;f&eacute;renc&eacute; dans un objet d&rsquo;interdiction de
  trafic local  &laquo;&nbsp;ITL&nbsp;&raquo;, poss&egrave;de un identifiant
  &laquo;&nbsp;ObjectId&nbsp;&raquo; dans un objet de ligne &laquo;&nbsp;Line&nbsp;&raquo; , le test
  est valid&eacute;, sinon le test est invalid&eacute; et produit le message &laquo;&nbsp;test
  2.13.1&nbsp;: Un objet d&rsquo;interdiction de trafic local  &laquo;&nbsp;ITL&nbsp;&raquo; fait
  r&eacute;f&eacute;rence &agrave; une ligne inexistante&nbsp;&raquo;. </span></h1>
  <h1 align=left style='margin-left:0cm;text-align:left;text-indent:0cm;
  layout-grid-mode:char'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
  font-weight:normal'>&nbsp;</span></h1>
  </td>
 </tr>
</table>

<p class=MsoNormal>&nbsp;</p>

</div>

