<h1 class="western" style="border: 1pt solid rgb(0, 0, 0); padding: 0.05cm 0.12cm; margin-top: 0.21cm;" align="center">
<font face="Arial, sans-serif"><font style="font-size: 20pt;" size="5"><i>
 point de contrôle N° 2.13<br>
Référence  à une ligne des arrêts ITL<br>
</i></font></font></h1>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Objectif: </b></u>
Vérification   de la correcte référence à la LIGNE/Chouette («&nbsp;Line&nbsp;») pour chaque   «&nbsp;ITL&nbsp;».<br>
</font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Priorité: </b></u> Obligatoire  (si le réseau contient des Interdictions de Trafic Local «&nbsp;ITL&nbsp;»)</font></p><font face="Arial, sans-serif">
</font><p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><u><b>Explications:</b></u> 
</font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Les Interdictions de Trafic Local «&nbsp;ITL&nbsp;» sont optionnelles
dans un réseau. Lorsqu'elles existent, il convient de vérifier pour
chaque «&nbsp;ITL&nbsp;» que si l'élément «&nbsp;lineIdShortcut&nbsp;»,
qui est à caractère optionnel dans l'«&nbsp;ITL&nbsp;», existe, il
correspond à l'identifiant «&nbsp;ObjectId&nbsp;» d’une LIGNE/Chouette
(«&nbsp;Line&nbsp;») définie.</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>Exemple: </u></b></font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Représentation  schématique de l’Objet «&nbsp;ITL&nbsp;»</font></font></font></p>
<p><font face="Arial, sans-serif"><img src="image010.jpg" height="139" width="278"></font></p>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif"><span style="font-style: italic;">Exemple d'ITL avec le « lineIdShortcut » référencé dans la ligne du réseau</span><br>...<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;Line&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;objectId&gt;AMIV:Line:014014012&lt;/objectId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;objectVersion&gt;1&lt;/objectVersion&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">...<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;ITL&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;areaId&gt;AMIV:StopPoint:237814&lt;/areaId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;name&gt;Croix   l'Alouettes000&lt;/name&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;lineIdShortCut&gt;AMIV:Line:014014012&lt;/lineIdShortCut&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;/ITL&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">...<br></font></span>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>N° test:</u></b> 
2.13.1</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Libellé:</u> 
Vérification  de la correcte référence à la LIGNE/Chouette («&nbsp;Line&nbsp;») pour chaque  «&nbsp;ITL&nbsp;».</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Champ d’application:</u> 
&lt;ITL&gt;&nbsp;&lt;Line&gt;</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Vérification:</u> </font></font></font></p>


<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si l’objet «&nbsp;ITL&nbsp;» existe alors poursuivre le  test, sinon le test est abandonné&nbsp;</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
-&nbsp;Si l’élément de raccourci de ligne «&nbsp;lineIdShortcut&nbsp;»
existe alors poursuivre le test, sinon le test est abandonné</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si l’élément de raccourci de ligne «&nbsp;lineIdShortcut&nbsp;»,
référencé dans un objet d’interdiction de trafic local
«&nbsp;ITL&nbsp;», possède un identifiant «&nbsp;ObjectId&nbsp;» dans
un objet de ligne «&nbsp;Line&nbsp;» , le test est validé, sinon le
test est invalidé et produit le message «&nbsp;test 2.13.1&nbsp;: Un
objet d’interdiction de trafic local «&nbsp;ITL&nbsp;» fait référence à
une ligne inexistante&nbsp;».</font></font></font></p>

