<div class=WordSection1>
</span></b>

<p class=MsoTitle><span style='font-size:14.0pt;font-family:"Tahoma","sans-serif"'>Fiche
du point de contr&ocirc;le N&deg; 2.14</span></p>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=657
 style='width:492.55pt;border-collapse:collapse;border:none'>
 <tr style='page-break-inside:avoid'>
  <td width=657 colspan=2 valign=top style='width:492.55pt;border:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center;text-indent:0cm'><i><span style='font-family:
  "Tahoma","sans-serif";color:navy'>Description</span></i></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>Intitul&eacute;</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt'><span style='font-size:11.0pt;
  line-height:200%;font-family:"Tahoma","sans-serif"'>Association points
  d&rsquo;arr&ecirc;t, tron&ccedil;ons, itin&eacute;raire.</span></p>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>Objectif</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif";font-weight:normal'>V&eacute;rification que tout </span><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>POINT
  D&rsquo;ARR&Ecirc;T SUR PARCOURS  (&laquo; StopPoint &raquo;)</span><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif";font-weight:normal'> est associ&eacute; &agrave; un </span><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>Itin&eacute;raire/Chouette
  (ChouetteRoute&nbsp;&raquo;).</span></h1>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif";font-weight:normal'>Analyse de la
  continuit&eacute; des <span style='text-transform:uppercase'>tron&ccedil;ons</span>
  COMMERCIAUX/Chouette (&laquo;&nbsp;PtLink&nbsp;&raquo;) au sein d&rsquo;un Itin&eacute;raire/Chouette
  (ChouetteRoute&nbsp;&raquo;)..</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>R&eacute;f&eacute;rences</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif";font-weight:normal'>TRIDENT/profil
  CHOUETTE/Transmodel V4 et V5.1</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>N&deg; de fiche(s) connexe(s)</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-left:0cm;text-align:left;text-indent:0cm'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>&nbsp;</span></h1>
  <h1 align=left style='margin-left:0cm;text-align:left;text-indent:0cm'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>&nbsp;</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt'><b><span style='font-size:
  11.0pt;line-height:200%;font-family:"Tahoma","sans-serif"'>Priorit&eacute;<span
  style='color:red'> </span></span></b></p>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif";font-weight:normal'>Obligatoire</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt'><b><span style='font-size:
  11.0pt;line-height:200%;font-family:"Tahoma","sans-serif"'>R&eacute;sultat</span></b></p>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif";font-weight:normal'>Conforme ou non
  conforme</span></h1>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=657 colspan=2 valign=top style='width:492.55pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center;text-indent:0cm'><i><span style='font-family:
  "Tahoma","sans-serif";color:navy'>Mise en &oelig;uvre</span></i></h1>
  </td>
 </tr>
 <tr>
  <td width=100 style='width:74.85pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>Explication</span></h1>
  </td>
  <td width=557 style='width:417.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 11.35pt 0cm 3.5pt'>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>Ce
  point de contr&ocirc;le v&eacute;rifie que tous les POINTs D&rsquo;ARR&Ecirc;T SUR PARCOURS  </span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>(&laquo;
  StopPoint &raquo;)   sont bien rattach&eacute;s &agrave; un Itin&eacute;raire/Chouette
  (&laquo;&nbsp;ChouetteRoute&nbsp;&raquo;)  et que chaque POINT D&rsquo;ARR&Ecirc;T SUR PARCOURS  </span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>(&laquo;
  StopPoint &raquo;)  appartient &agrave; un </span><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif";text-transform:uppercase'>tron&ccedil;on</span><span
  style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
  COMMERCIAL/Chouette (&laquo;&nbsp;PtLink&nbsp;&raquo;).</span></p>
  <p class=MsoNormal style='margin-top:6.0pt'><span style='font-size:11.0pt;
  font-family:"Arial","sans-serif"'>D&rsquo;autre part, les POINTs D&rsquo;ARR&Ecirc;T SUR
  PARCOURS  (&laquo; StopPoint &raquo;) doivent &ecirc;tre ordonn&eacute;s sur l&rsquo;Itin&eacute;raire/Chouette
  (&laquo;&nbsp;ChouetteRoute&nbsp;&raquo;) et former une s&eacute;quence de tron&ccedil;ons contigus.</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>&nbsp;</span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=647
 style='width:485.45pt;border-collapse:collapse;border:none'>
 <tr>
  <td width=108 valign=top style='width:81.35pt;border:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm'><b><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Exemple</span></b></p>
  </td>
  <td width=547 valign=top style='width:410.6pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=left style='margin-left:18.0pt;text-align:left;text-indent:-18.0pt'><span
  style='font-size:11.0pt;font-weight:normal'>&nbsp;</span></h1>
  <h3 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm;text-indent:0cm'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Exemple
  de d&eacute;finition &agrave; partir d&rsquo;un fichier XML sur le RER A</span></h3>
  <p class=MsoNormal>L&rsquo;&eacute;l&eacute;ment StopPoint poss&egrave;de l&rsquo;identifiant 521850&nbsp;:</p>
  <p class=MsoNormal><span style='font-size:10.0pt'> </span></p>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>&lt;StopPoint&gt;</span></p>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>&lt;objectId&gt;NINOXE:StopPoint:521850&lt;/objectId&gt;</span></p>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>&lt;objectVersion&gt;0&lt;/objectVersion&gt;</span></p>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>&lt;creationTime&gt;2007-06-28T17:18:56.000+02:00&lt;/creationTime&gt;</span></p>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>&lt;containedIn&gt;NINOXE:StopArea:521759&lt;/containedIn&gt;</span></p>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>&lt;/StopPoint&gt;</span></p>
  <p class=MsoNormal><span lang=EN-US style='font-family:"Courier New"'>&nbsp;</span></p>
  <p class=MsoNormal>On le retrouve dans le tron&ccedil;on ci-apr&egrave;s :</p>
  <p class=MsoNormal><span style='font-family:"Courier New"'>&nbsp;</span></p>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>&lt;PtLink&gt;</span></p>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>&lt;objectId&gt;NINOXE:PtLink:521850-521851&lt;/objectId&gt;</span></p>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>&lt;startOfLink&gt;NINOXE:StopPoint:521850&lt;/startOfLink&gt;</span></p>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>&lt;endOfLink&gt;NINOXE:StopPoint:521851&lt;/endOfLink&gt;</span></p>
  <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Courier New"'>&lt;/PtLink&gt;</span></p>
  <p class=MsoNormal><span style='font-family:"Courier New"'>&nbsp;</span></p>
  <p class=MsoNormal>Et ce m&ecirc;me tron&ccedil;on est int&eacute;gr&eacute; dans l&rsquo;itin&eacute;raire ci-apr&egrave;s
  :</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Courier New"'>&lt;ChouetteRoute&gt;</span></p>
  <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Courier New"'>&lt;objectId&gt;NINOXE:Route:521755&lt;/objectId&gt;</span></p>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>&lt;objectVersion&gt;0&lt;/objectVersion&gt;</span></p>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>&lt;creationTime&gt;2007-06-28T17:18:56.000+02:00&lt;/creationTime&gt;</span></p>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>&lt;name&gt;X&lt;/name&gt;</span></p>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>&lt;publishedName&gt;Marne-la-Vall&eacute;e-Chessy 
  Cergy&lt;/publishedName&gt;</span></p>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>&lt;number&gt;ALLER&lt;/number&gt;</span></p>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>&lt;ptLinkId&gt;NINOXE:PtLink:521850-521851&lt;/ptLinkId&gt;</span></p>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>…</span></p>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>&lt;/ChouetteRoute&gt;</span></p>
  <p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
  <p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=647 colspan=2 valign=top style='width:485.45pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h2 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center;text-indent:0cm'><i><span lang=EN-US
  style='font-size:14.0pt;color:navy'>Evaluation</span></i></h2>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm'><span lang=EN-US
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>N&deg; test</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-left:0cm;text-align:left;text-indent:0cm'><span
  lang=EN-US style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
  font-weight:normal'>Test 2.14.1</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>Libell&eacute;</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-left:0cm;text-align:left;text-indent:0cm'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>V&eacute;rification
  que tout </span><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
  font-weight:normal'>POINT D&rsquo;ARR&Ecirc;T SUR PARCOURS  (&laquo; StopPoint &raquo;)</span><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>
  est associ&eacute; &agrave; un </span><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
  font-weight:normal'>Itin&eacute;raire/Chouette (ChouetteRoute&nbsp;&raquo;).</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm'><span lang=EN-US
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Champ d&rsquo;application</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoNormal><span lang=EN-US style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>
  <p class=MsoNormal><span lang=EN-US style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&lt;StopPoint&gt;</span></p>
  <p class=MsoNormal><span lang=EN-US style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&lt;PtLink&gt;</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&lt;chouetteRoute&gt;</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>&nbsp;</span></p>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>V&eacute;rification</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 11.35pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoBodyText>&nbsp;</p>
  <p class=MsoBodyText>- Si l&rsquo;objet de point d&rsquo;arr&ecirc;t &laquo;&nbsp;StopPoint&nbsp;&raquo;
  mentionn&eacute; dans les champs d&rsquo;application est pr&eacute;sent une ou plusieurs fois,
  poursuivre le test, sinon le test est abandonn&eacute;.</p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>-
  Si l&rsquo;identifiant du point d&rsquo;arr&ecirc;t d&eacute;tect&eacute;, contenu dans l&rsquo;&eacute;l&eacute;ment
  &laquo;&nbsp;StopPoint&nbsp;&raquo;, figure dans l&rsquo;un des &eacute;l&eacute;ments
  &laquo;&nbsp;startOfLink&nbsp;&raquo; ou &laquo;&nbsp;endOfLink&nbsp;&raquo; de l&rsquo;objet de tron&ccedil;on
  &laquo;&nbsp;PTLink&nbsp;&raquo; , poursuivre le test, sinon le test fournit le message
  d&rsquo;alerte &laquo;&nbsp; test 2.14.1 a&nbsp;: le point d&rsquo;arr&ecirc;t  (&laquo; StopPoint &raquo;)  XX
  n&rsquo;appartient &agrave; aucune extr&eacute;mit&eacute; de tron&ccedil;on&nbsp;&raquo;. La poursuite des tests est
  abandonn&eacute;e. </span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>-
  Si l&rsquo;identifiant du tron&ccedil;on &laquo;&nbsp;PtLink&nbsp;&raquo;, d&eacute;tect&eacute; ci-avant, est
  int&eacute;gr&eacute; dans un objet &laquo;&nbsp;ChouetteRoute&nbsp;&raquo;, le test est valid&eacute;, sinon
  le test est invalid&eacute; et fournit le message &laquo;&nbsp; test 2.14.1 b&nbsp;: le
  tron&ccedil;on XX fait r&eacute;f&eacute;rence &agrave; un itin&eacute;raire inexistant&nbsp;&raquo;.</span></p>
  <p class=MsoBodyText>&nbsp;</p>
  <p class=MsoNormal><b><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>&nbsp;</span></b></p>
  </td>
 </tr>
</table>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=638
 style='width:478.4pt;border-collapse:collapse;border:none'>
 <tr style='height:37.4pt'>
  <td width=100 style='width:74.85pt;border:solid windowtext 1.0pt;padding:
  0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm'><span lang=EN-US
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>N&deg; test</span></h1>
  </td>
  <td width=538 style='width:403.55pt;border:solid windowtext 1.0pt;border-left:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-left:0cm;text-align:left;text-indent:0cm'><span
  lang=EN-US style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
  font-weight:normal'>Test 2.14.2</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=100 style='width:74.85pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>Libell&eacute;</span></h1>
  </td>
  <td width=538 style='width:403.55pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-left:0cm;text-align:left;text-indent:0cm'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>Analyse
  de la continuit&eacute; des </span><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
  text-transform:uppercase;font-weight:normal'>tron&ccedil;ons</span><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>
  COMMERCIAUX/Chouette (&laquo;&nbsp;PtLink&nbsp;&raquo;) au sein d&rsquo;un Itin&eacute;raire/Chouette
  (&laquo;&nbsp;ChouetteRoute&nbsp;&raquo;).</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=100 style='width:74.85pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>Champ d&rsquo;application</span></h1>
  </td>
  <td width=538 style='width:403.55pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&lt;PtLink&gt;</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&lt;chouetteRoute&gt;</span></p>
  <p class=MsoNormal><span style='font-family:"Tahoma","sans-serif"'>&nbsp;</span></p>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=100 style='width:74.85pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>V&eacute;rification</span></h1>
  </td>
  <td width=538 style='width:403.55pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 11.35pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoBodyText>&nbsp;</p>
  <p class=MsoBodyText>- Si l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;ChouetteRoute&nbsp;&raquo; mentionn&eacute;
  dans les champs d&rsquo;application est pr&eacute;sent une ou plusieurs fois, poursuivre
  le test, sinon le test est abandonn&eacute;.</p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>-
  Pour chaque identifiant de tron&ccedil;on &laquo;&nbsp;PtLink&nbsp;&raquo; successif, contenu
  dans l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;ChouetteRoute&nbsp;&raquo;, si la valeur de l&rsquo;attribut de
  l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;endOfLink&nbsp;&raquo; du premier tron&ccedil;on &laquo;&nbsp;PtLink&nbsp;&raquo; est
  identique &agrave; la valeur de l&rsquo;attribut de l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;startOfLink&nbsp;&raquo; du
  deuxi&egrave;me tron&ccedil;on &laquo;&nbsp;PtLink&nbsp;&raquo;, poursuivre le test (se d&eacute;caler d&rsquo;un
  tron&ccedil;on), sinon le test est invalid&eacute; et fournit message&nbsp;: &laquo;&nbsp;test
  2.14.2&nbsp;: l&rsquo;analyse des tron&ccedil;ons d&rsquo;un itin&eacute;raire fait appara&icirc;tre que la
  valeur de l&rsquo;attribut de l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;endOfLink&nbsp;&raquo; d&rsquo;un premier
  tron&ccedil;on &laquo;&nbsp;PtLink&nbsp;&raquo; n&rsquo;est pas identique &agrave; la valeur de l&rsquo;attribut de
  l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;startOfLink&nbsp;&raquo; du deuxi&egrave;me tron&ccedil;on
  &laquo;&nbsp;PtLink&nbsp;&raquo;&nbsp;&raquo;.</span></p>
  <h1 align=left style='margin-left:0cm;text-align:left;text-indent:0cm'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>&nbsp;</span></h1>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>-
  Le test est valid&eacute;</span></p>
  <p class=MsoNormal><span style='font-family:"Tahoma","sans-serif"'>&nbsp;</span></p>
  </td>
 </tr>
</table>

<p class=MsoTitle><span style='font-size:12.0pt;font-family:"Times New Roman","serif";
font-weight:normal'>&nbsp;</span></p>


</div>

