<h1 class="western" style="border: 1pt solid rgb(0, 0, 0); padding: 0.05cm 0.12cm; margin-top: 0.21cm;" align="center">
<font face="Arial, sans-serif"><font style="font-size: 20pt;" size="5"><i>
 point de contrôle N° 2.18<br>
Cohérence  entre  missions commerciales et&nbsp;courses<br>
</i></font></font></h1>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Objectif: </b></u>
Vérification de l’existence d’une MISSION COMMERCIALE
(«&nbsp;JourneyPattern&nbsp;«&nbsp;) pour chaque COURSE COMMERCIALE
(«&nbsp;VehicleJourney&nbsp;»).<br>
Vérification de la cohérence de points entre MISSION COMMERCIALE
(«&nbsp;JourneyPattern&nbsp;«&nbsp;) et COURSE COMMERCIALE
(«&nbsp;VehicleJourney&nbsp;»).<br>
</font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Priorité: </b></u> Obligatoire  (si l'objet «&nbsp;VehicleJourney&nbsp;» existe et contient l'élément  «&nbsp;journeyPatternId&nbsp;»)</font></p><font face="Arial, sans-serif">
</font><p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><u><b>Explications:</b></u> 
</font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Lorsqu’une COURSE COMMERCIALE (« VehicleJourney » ) est définie, il
convient de vérifier que si l’élément «&nbsp;journeyPatternId&nbsp;» de
MISSION COMMERCIALE («&nbsp;JourneyPattern&nbsp;») , qui est à
caractère optionnel dans la course, existe (c’est-à-dire si on fait
référence à une MISSION COMMERCIALE) alors il doit correspondre à une
MISSION COMMERCIALE («&nbsp;JourneyPattern&nbsp;») définie .</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Par ailleurs, les points d’une COURSE COMMERCIALE (« VehicleJourney »)
doivent appartenir à la MISSION COMMERCIALE
(«&nbsp;JourneyPattern&nbsp;») à laquelle la COURSE COMMERCIALE («
VehicleJourney ») est associée.</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>Exemple: </u></b></font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Représentation  schématique de l’objet «&nbsp;VehicleJourney&nbsp;»</font></font></font></p>
<p><font face="Arial, sans-serif"><img src="image011.jpg" height="618" width="372"></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
&nbsp;</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Exemple  d'une course qui référence une mission</font></font></font></p>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">...<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;VehicleJourney&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;objectId&gt;AMIV:VehicleJourney:8970758&lt;/objectId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;routeId&gt;AMIV:Route:488970&lt;/routeId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;journeyPatternId&gt;AMIV:JourneyPattern:488970M1&lt;/journeyPatternId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;lineIdShortcut&gt;AMIV:Line:014014012&lt;/lineIdShortcut&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;operatorId&gt;AMIV:Company:2422&lt;/operatorId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;timeSlotId&gt;AMIV:TimeSlot:0&lt;/timeSlotId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;vehicleJourneyAtStop&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;stopPointId&gt;AMIV:StopPoint:488970A0A237816&lt;/stopPointId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;vehicleJourneyId&gt;AMIV:VehicleJourney:8970758&lt;/vehicleJourneyId&gt;
&lt;arrivalTime&gt;05:45:00&lt;/arrivalTime&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;departureTime&gt;05:45:00&lt;/departureTime&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;order&gt;1&lt;/order&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;/vehicleJourneyAtStop&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;vehicleJourneyAtStop&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;stopPointId&gt;AMIV:StopPoint:488970A1A237817&lt;/stopPointId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;vehicleJourneyId&gt;AMIV:VehicleJourney:8970758&lt;/vehicleJourneyId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">...<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;JourneyPattern&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;objectId&gt;AMIV:JourneyPattern:488970M1&lt;/objectId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif"><br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;routeId&gt;AMIV:Route:488970&lt;/routeId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">...</font></span><span style="font-size: 10pt; font-family: &quot;Courier New&quot;;"></span><br><p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">L’objet  «&nbsp;JourneyPattern&nbsp;» référence une liste de point d’arrêt et  l’identifiant d’un itinéraire&nbsp;:</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<img src="image008.jpg" height="483" width="487"></font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<span style="text-decoration: none;">&nbsp;</span></font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Ces mêmes identifiants de points d’arrêt sont référencés dans les
objets «&nbsp;vehicleJourneyAtStop&nbsp;» dépendant de la course
«&nbsp;vehicleJourney&nbsp;» qui contient l’identifiant de la mission.</font></font></font></p>
<p><font face="Arial, sans-serif"><img src="image012.jpg" height="338" width="433"></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>N° test:</u></b> 
2.18.1</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Libellé:</u> Vérification de l’existence d’une MISSION COMMERCIALE
(«&nbsp;JourneyPattern&nbsp;«&nbsp;) pour chaque COURSE COMMERCIALE
(«&nbsp;VehicleJourney&nbsp;»).</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Champ d’application:</u> 
&lt;VehicleJourney&gt;&nbsp;&lt;JourneyPattern&gt;</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Vérification:</u> </font></font></font></p>


<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
-  Si l’objet de course «&nbsp;VehicleJourney&nbsp;» existe, poursuivre le test,  sinon abandonner le test</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si l’élément «&nbsp;JourneyPatternId&nbsp;» existe dans l’objet de
course «&nbsp;VehicleJourney&nbsp;», poursuivre le test, sinon
abandonner le test</font></font></font></p>


<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si un élément  «&nbsp;JourneyPatternId&nbsp;»<b> </b>,
référencé dans un objet de course «&nbsp;VehicleJourney&nbsp;», possède
un identifiant «&nbsp;objectId&nbsp;» dans un objet
«&nbsp;JourneyPattern&nbsp;», alors le test est validé, sinon le test
est invalidé et produit le message «&nbsp;test 2.18.1&nbsp;: la course
XX fait référence à une mission commerciale inexistante&nbsp;»</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>N° test:</u></b> 
Test  2.18.2</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Libellé:</u> 
Vérification  de la cohérence de points entre MISSION COMMERCIALE  («&nbsp;JourneyPattern&nbsp;</font></font></font><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">»</font></font></font><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">&nbsp;) et COURSE COMMERCIALE  («&nbsp;VehicleJourney&nbsp;»).</font></font></font></p>




<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2"><span style="text-decoration: underline;">
Champ d’application:</span> &nbsp;&lt;StopPoint&gt; &lt;JourneyPattern&gt;&nbsp;&lt;vehicleJourneyAtStop&gt;&nbsp;&lt;vehicleJourney&gt;&nbsp;</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Vérification:</u> </font></font></font></p>


<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si «&nbsp;StopPoint&nbsp;» mentionné dans les champs d’application
est présent une ou plusieurs fois, poursuivre le test, sinon le test
est abandonné.</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si l’identifiant du « StopPoint » détecté figure dans la liste des
points d’arrêts «&nbsp;stopPointList&nbsp;» de
«&nbsp;JourneyPattern&nbsp;», poursuivre le test, sinon le test est
invalidé et fournit le message&nbsp;:&nbsp;» test 2.18.2.1a&nbsp;:
l’identifiant (« StopPoint ») détecté dans un objet
«&nbsp;StopPoint&nbsp;» ne figure pas dans la liste des points d’arrêts
«&nbsp;stopPointList&nbsp;» de «&nbsp;JourneyPattern&nbsp;».</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si l’identifiant du « StopPoint » figure dans l’élément
«&nbsp;stopPointId&nbsp;» d’un objet
«&nbsp;vehicleJourneyAtStop&nbsp;», poursuivre le test, sinon le test
est invalidé et fournit le message&nbsp;: «&nbsp;test 2.18.2b&nbsp;:
l’identifiant (« StopPoint ») ne figure pas dans l’élément
«&nbsp;stopPointId&nbsp;» d’un objet «&nbsp;vehicleJourneyAtStop&nbsp;».</font></font></font></p>
