<h1 class="western" style="border: 1pt solid rgb(0, 0, 0); padding: 0.05cm 0.12cm; margin-top: 0.21cm;" align="center">
<font face="Arial, sans-serif"><font style="font-size: 20pt;" size="5"><i>
 point de contrôle N° 2.2<br>
Cohérence  entre le regroupement de lignes et ses composants<br>
</i></font></font></h1>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Objectif: </b></u>
Vérification   de la correcte référence  à des LIGNEs/Chouette (« Line ») dans GROUPE DE   LIGNES (« GroupOfLine »).<br>
</font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Priorité: </b></u> Obligatoire  (si l’objet «&nbsp;GroupOfLine&nbsp;» existe)</font></p><font face="Arial, sans-serif">
</font><p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><u><b>Explications:</b></u> 
</font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Si la classe d’objets de GROUPE DE LIGNES (« GroupOfLine ») existe, il
convient de vérifier que les LIGNEs/Chouette (« Line ») référencées
dans cette classe, sont réellement définies, en vérifiant l’existence
de leurs identifiants.</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>Exemple: </u></b></font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Représentation  schématique de l’Objet  «&nbsp;GroupOfLIne&nbsp;»</font></font></font></p>
<p><font face="Arial, sans-serif"><img src="image003.jpg" height="261" width="291"></font></p>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">...<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;GroupOfLine&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;objectId&gt;AMIV:GroupOfLine:1&lt;/objectId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;name&gt;SERVICE  URBAIN&lt;/name&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;lineId&gt;AMIV:Line:014014012&lt;/lineId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;/GroupOfLine&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">...<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;Line&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;objectId&gt;AMIV:Line:014014012&lt;/objectId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif"><br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">...<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;/Line&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">...<br></font></span>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>N° test:</u></b> 
2.2.1</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Libellé:</u> 
Vérification de la correcte référence  à des  LIGNEs/Chouette (« Line ») dans GROUPE DE LIGNES («GroupOfLine »).</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Champ d’application:</u> 
&lt;GroupOfLine&gt; &lt;Line&gt;</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Vérification:</u> </font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si la classe d’objets  «&nbsp;GroupOfLine&nbsp;» existe alors poursuivre le test, sinon abandonner le  test,</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si la valeur de chaque élément «&nbsp;LineId&nbsp;» de la classe
d’objets «&nbsp;GroupOfLine&nbsp;», est identifiée dans l’élément
«&nbsp;objectId&nbsp;» de la classe d’objets «&nbsp;Line&nbsp;» alors
le test est validé, sinon le test est invalidé et produit le message
«&nbsp;test 2.2.1&nbsp;: la valeur de l’élément «&nbsp;lineId&nbsp;» de
la classe d’objets «&nbsp;GroupOfLine&nbsp;» n’a pas été repérée dans
l’élément «&nbsp;objectId&nbsp;» de la classe d’objets
«&nbsp;Line&nbsp;».</font></font></font></p>
