<h1 class="western" style="border: 1pt solid rgb(0, 0, 0); padding: 0.05cm 0.12cm; margin-top: 0.21cm;" align="center">
<font face="Arial, sans-serif"><font style="font-size: 20pt;" size="5"><i>
 point de contrôle N° 2.20<br>
Vérification  des identifiants d'exploitants que référencent les courses<br>
</i></font></font></h1>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Objectif:</b></u></font><font face="Arial, sans-serif">
&nbsp; Vérification de la correcte référence à l’EXPLOITANT/Chouette («
Company ») dans une COURSE COMMERCIALE (« VehicleJourney » )</font><font face="Arial, sans-serif">
<span style="color: rgb(51, 51, 153);">
</span></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Priorité: </b></u> Obligatoire  (si l’objet «&nbsp;VehicleJourney&nbsp;» existe et s’il contient l’objet  «&nbsp;operatorId&nbsp;»</font></p><font face="Arial, sans-serif">
</font><p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><u><b>Explications:</b></u> 
</font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Lorsque l’objet de course COURSE COMMERCIALE (« VehicleJourney » )
existe, et lorsque l'identifiant EXPLOITANT/Chouette
(«&nbsp;Company&nbsp;») - «&nbsp;operatorId&nbsp;» -qui est à caractère
optionnel dans la COURSE COMMERCIALE (« VehicleJourney » ) , est
référencé, il convient de vérifier qu'il correspond à l'identifiant
«&nbsp;objectId&nbsp;» d'un EXPLOITANT/Chouette
(«&nbsp;Company&nbsp;»)défini.</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>Exemple: </u></b></font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Représentation  schématique de l’objet «&nbsp;VehicleJourney&nbsp;»</font></font></font></p>
<p><font face="Arial, sans-serif"><img src="image011.jpg" height="618" width="372"></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Exemple  d'une course qui référence un opérateur exploitant la ligne</font></font></font></p>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">...<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;Company&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;objectId&gt;AMIV:Company:2422&lt;/objectId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;name&gt;CIF 93 -  TREMBLAY&lt;/name&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;registration&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;registrationNumber&gt;014&lt;/registrationNumber&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;/registration&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;/Company&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">...<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;VehicleJourney&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;objectId&gt;AMIV:VehicleJourney:8970758&lt;/objectId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;routeId&gt;AMIV:Route:488970&lt;/routeId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;journeyPatternId&gt;AMIV:JourneyPattern:488970M1&lt;/journeyPatternId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;lineIdShortcut&gt;AMIV:Line:014014012&lt;/lineIdShortcut&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;operatorId&gt;AMIV:Company:2422&lt;/operatorId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;timeSlotId&gt;AMIV:TimeSlot:0&lt;/timeSlotId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;vehicleJourneyAtStop&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;stopPointId&gt;AMIV:StopPoint:488970A0A237816&lt;/stopPointId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;vehicleJourneyId&gt;AMIV:VehicleJourney:8970758&lt;/vehicleJourneyId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;arrivalTime&gt;05:45:00&lt;/arrivalTime&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;departureTime&gt;05:45:00&lt;/departureTime&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;order&gt;1&lt;/order&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;/vehicleJourneyAtStop&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;vehicleJourneyAtStop&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;stopPointId&gt;AMIV:StopPoint:488970A1A237817&lt;/stopPointId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;vehicleJourneyId&gt;AMIV:VehicleJourney:8970758&lt;/vehicleJourneyId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">...<br></font></span>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>N° test:</u></b> 
2.20.1</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Libellé:</u> &nbsp; Vérification de la correcte référence à
l’EXPLOITANT/Chouette (« Company ») dans une COURSE COMMERCIALE («
VehicleJourney » ) <span style="color: rgb(51, 51, 153);"></span></font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Champ d’application:</u> 
&lt;VehicleJourney&gt;&nbsp;&lt;Company&gt;</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Vérification:</u> </font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
-  Si l’objet «&nbsp;VehicleJourney&nbsp;» existe, poursuivre le test, sinon  abandonner le test</font></font></font></p>


<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si l’élément désignant l’exploitant «&nbsp;operatorId&nbsp;» existe
dans l’objet «&nbsp;VehicleJourney&nbsp;», poursuivre le test, sinon
abandonner le test</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si un élément désignant  l’exploitant «&nbsp;operatorId&nbsp;»<b> </b>,
référencé dans un objet «&nbsp;VehicleJourney&nbsp;», possède un
identifiant «&nbsp;objectId&nbsp;» dans un objet «&nbsp;Company&nbsp;»,
alors le test est validé, sinon le test est invalidé et produit le
message «&nbsp;test 2.20.1&nbsp;: la course XX fait référence à un
exploitant inexistant&nbsp;».</font></font></font></p>
