<div class=WordSection1>
</span></b>

<p class=MsoTitle><span style='font-size:14.0pt;font-family:"Tahoma","sans-serif"'>Fiche
du point de contr&ocirc;le N&deg; 2.22</span></p>

<p class=MsoSubtitle>&nbsp;</p>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=657
 style='width:492.8pt;margin-left:-.25pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid'>
  <td width=657 colspan=2 valign=top style='width:492.8pt;border:solid black 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center;text-indent:0cm;layout-grid-mode:char'><i><span
  style='font-family:"Tahoma","sans-serif";color:navy'>Description</span></i></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 11.35pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Intitul&eacute;</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 11.35pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt;layout-grid-mode:char'><span
  style='font-size:11.0pt;line-height:200%;font-family:"Tahoma","sans-serif"'>Coh&eacute;rence
  entre les points d'arr&ecirc;ts et les heures de passage.</span></p>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 11.35pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Objectif</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 11.35pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>V&eacute;rifier
  la correcte r&eacute;f&eacute;rence &agrave; un POINT D&rsquo;ARR&Ecirc;T SUR PARCOURS
  (&laquo;&nbsp;StopPoint&nbsp;&raquo;) pour les HEUREs DE PASSAGE GRAPHIQU</span><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";text-transform:
  uppercase;font-weight:normal'>&eacute;e</span><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif";font-weight:normal'>s/Chouette
  (&laquo;&nbsp;VehicleJourneyAtStop&nbsp;&raquo;).</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 11.35pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>R&eacute;f&eacute;rences</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 11.35pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>TRIDENT/profil
  CHOUETTE/Transmodel V4 et V5.1</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 11.35pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:-6.65pt;margin-bottom:
  6.0pt;margin-left:0cm;text-align:left;text-indent:0cm;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>N&deg;de fiche(s)
  connexe(s)</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 11.35pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:0cm;
  margin-left:0cm;margin-bottom:.0001pt;text-align:left;text-indent:0cm;
  layout-grid-mode:char'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
  font-weight:normal'>1.2 (v&eacute;rifier qu&rsquo;il existe au moins 2 HEURES DE PASSAGE
  GRAPHIQUEES/Chouette  pour  une COURSE COMMERCIALE  (&laquo; VehicleJourney &raquo; )</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 11.35pt 0cm 3.5pt;
  height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt;layout-grid-mode:char'><b><span
  style='font-family:"Tahoma","sans-serif"'>Priorit&eacute;<span style='color:red'> </span></span></b></p>
  </td>
  <td width=108 style='width:81.35pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 11.35pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>Obligatoire
  (si l&rsquo;objet &laquo;&nbsp;VehicleJourney&nbsp;&raquo;)</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 11.35pt 0cm 3.5pt;
  height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt;layout-grid-mode:char'><b><span
  style='font-family:"Tahoma","sans-serif"'>R&eacute;sultat</span></b></p>
  </td>
  <td width=108 style='width:81.35pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 11.35pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>Conforme
  ou non conforme</span></h1>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=657 colspan=2 valign=top style='width:492.8pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center;text-indent:0cm;layout-grid-mode:char'><i><span
  style='font-family:"Tahoma","sans-serif";color:navy'>Mise en &oelig;uvre</span></i></h1>
  </td>
 </tr>
 <tr>
  <td width=100 valign=top style='width:74.85pt;border-top:none;border-left:
  solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
  padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm;text-indent:0cm;layout-grid-mode:char'><span style='font-size:11.0pt'>Explication</span></h1>
  </td>
  <td width=557 valign=top style='width:417.95pt;border:solid black 1.0pt;
  border-top:none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm;text-indent:0cm;layout-grid-mode:char'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif";font-weight:normal'>Lorsque l&rsquo;objet de
  course COURSE COMMERCIALE  (&laquo; VehicleJourney &raquo; ) existe, et pour chaque 
  &laquo;&nbsp;VehicleJourneyAtStop&nbsp;&raquo;, qui est &agrave; caract&egrave;re obligatoire dans la
  course, il convient de v&eacute;rifier que l'identifiant &laquo;&nbsp;stopPointId&nbsp;&raquo;,
  qui est &agrave; son tour obligatoire dans les &laquo;&nbsp;VehicleJourneyAtStop&nbsp;&raquo;,
  correspond &agrave; l'identifiant &laquo;&nbsp;objectId&nbsp;&raquo; d'un &laquo;&nbsp;StopPoint&nbsp;&raquo;
  du r&eacute;seau.</span></h1>
  </td>
 </tr>
</table>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=648
 style='width:485.7pt;margin-left:-.25pt;border-collapse:collapse'>
 <tr>
  <td width=108 valign=top style='width:81.35pt;border:solid black 1.0pt;
  border-right:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm;layout-grid-mode:char'><b><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>Exemple</span></b></p>
  </td>
  <td width=548 valign=top style='width:410.85pt;border:solid black 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=left style='margin-left:18.0pt;text-align:left;text-indent:0cm;
  layout-grid-mode:char'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
  font-weight:normal'>&nbsp;</span></h1>
  <h1 align=left style='margin-left:18.0pt;text-align:left;text-indent:0cm'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>Repr&eacute;sentation
  sch&eacute;matique de l&rsquo;objet &laquo;&nbsp;VehicleJourneyAtStop&nbsp;&raquo;</span></h1>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal align=center style='text-align:center'>&nbsp;</p>
  <p class=MsoNormal align=center style='text-align:center'><img width=433
  height=338 src="image012.jpg"></p>
  <p class=MsoNormal>                                         </p>
  <h1 align=left style='margin-left:18.0pt;text-align:left;text-indent:0cm'><span
  style='font-size:11.0pt;font-weight:normal'>&nbsp;</span></h1>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <h3 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm;text-indent:0cm'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Exemple
  d'un heure de passage qui r&eacute;f&eacute;rence un point d'arr&ecirc;t</span></h3>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>...</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>&lt;StopPoint&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>      &lt;objectId&gt;AMIV:StopPoint:488970A0A237816&lt;/objectId&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>      &lt;objectVersion&gt;1&lt;/objectVersion&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>...</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>&lt;VehicleJourney&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>&lt;objectId&gt;AMIV:VehicleJourney:8970758&lt;/objectId&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>&lt;routeId&gt;AMIV:Route:488970&lt;/routeId&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>&lt;journeyPatternId&gt;AMIV:JourneyPattern:488970M1&lt;/journeyPatternId&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>&lt;lineIdShortcut&gt;AMIV:Line:014014012&lt;/lineIdShortcut&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>&lt;operatorId&gt;AMIV:Company:2422&lt;/operatorId&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>&lt;timeSlotId&gt;AMIV:TimeSlot:0&lt;/timeSlotId&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>&nbsp;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>&lt;vehicleJourneyAtStop&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>&lt;stopPointId&gt;AMIV:StopPoint:488970A0A237816&lt;/stopPointId&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>&lt;vehicleJourneyId&gt;AMIV:VehicleJourney:8970758&lt;/vehicleJourneyId&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>&lt;arrivalTime&gt;05:45:00&lt;/arrivalTime&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>&lt;departureTime&gt;05:45:00&lt;/departureTime&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>&lt;order&gt;1&lt;/order&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>&lt;/vehicleJourneyAtStop&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>&nbsp;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>&lt;vehicleJourneyAtStop&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>&lt;stopPointId&gt;AMIV:StopPoint:488970A1A237817&lt;/stopPointId&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>&lt;vehicleJourneyId&gt;AMIV:VehicleJourney:8970758&lt;/vehicleJourneyId&gt;</span></p>
  <h3 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm;text-indent:0cm'><span lang=EN-US style='font-size:10.0pt;font-family:
  "Courier New"'>...</span><span lang=EN-US> </span></h3>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=648 colspan=2 valign=top style='width:485.7pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h2 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center;text-indent:0cm;layout-grid-mode:char'><i><span
  lang=EN-US style='font-size:14.0pt;color:navy'>Evaluation</span></i></h2>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 valign=top style='width:81.35pt;border-top:none;border-left:
  solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm;text-indent:0cm;layout-grid-mode:char'><span lang=EN-US style='font-size:
  11.0pt'>N&deg; test</span></h1>
  </td>
  <td width=108 valign=top style='width:81.35pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm;text-indent:0cm;layout-grid-mode:char'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif";font-weight:normal'>2.22.1</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 valign=top style='width:81.35pt;border-top:none;border-left:
  solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm;text-indent:0cm;layout-grid-mode:char'><span style='font-size:11.0pt'>Libell&eacute;</span></h1>
  </td>
  <td width=108 valign=top style='width:81.35pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm;text-indent:0cm;layout-grid-mode:char'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif";font-weight:normal'>V&eacute;rifier la correcte
  r&eacute;f&eacute;rence &agrave; un POINT D&rsquo;ARR&Ecirc;T SUR PARCOURS (&laquo;&nbsp;StopPoint&nbsp;&raquo;) pour les
  HEUREs DE PASSAGE GRAPHIQU</span><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif";text-transform:uppercase;font-weight:normal'>&eacute;e</span><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>s/Chouette
  (&laquo;&nbsp;VehicleJourneyAtStop&nbsp;&raquo;).</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 valign=top style='width:81.35pt;border-top:none;border-left:
  solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm;text-indent:0cm;layout-grid-mode:char'><span lang=EN-US style='font-size:
  11.0pt'>Champ d&rsquo;application</span></h1>
  </td>
  <td width=108 valign=top style='width:81.35pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm;text-indent:0cm;layout-grid-mode:char'><span lang=EN-US style='font-size:
  11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>&lt;VehicleJourneyAtStop&gt;</span></h1>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm;text-indent:0cm;layout-grid-mode:char'><span lang=EN-US style='font-size:
  11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>&lt;VehicleJourney&gt;</span></h1>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm;text-indent:0cm;layout-grid-mode:char'><span lang=EN-US style='font-size:
  11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>&lt;StopPoint&gt;</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 valign=top style='width:81.35pt;border-top:none;border-left:
  solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm;text-indent:0cm;layout-grid-mode:char'><span style='font-size:11.0pt'>V&eacute;rification</span></h1>
  </td>
  <td width=108 valign=top style='width:81.35pt;border:solid black 1.0pt;
  border-top:none;padding:5.65pt 11.35pt 5.65pt 3.5pt;height:37.4pt'>
  <h1 style='margin-left:0cm;text-indent:0cm;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>&nbsp;</span></h1>
  <h1 style='margin-left:0cm;text-indent:0cm;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>-
  Si l&rsquo;objet de course &laquo;&nbsp;VehicleJourney&nbsp;&raquo; existe, poursuivre le test,
  sinon abandonner le test</span></h1>
  <p class=MsoNormal><span style='font-family:"Tahoma","sans-serif"'>&nbsp;</span></p>
  <p class=MsoBodyText3 align=left style='text-align:left'><span
  style='font-family:"Tahoma","sans-serif"'>- Si  &laquo;&nbsp;StopPointId&nbsp;&raquo;<b> </b>r&eacute;f&eacute;renc&eacute;
  dans &laquo;&nbsp;VehicleJourneyAtStop&nbsp;&raquo;, correspond &agrave; un identifiant
  &laquo;&nbsp;objectId&nbsp;&raquo; dans &laquo;&nbsp;StopPoint&nbsp;&raquo;, alors le test est
  valid&eacute;, sinon le test est invalid&eacute; et produit le message &laquo;&nbsp;test
  2.22.1&nbsp;: une heure de passage XX fait r&eacute;f&eacute;rence &agrave; un point d&rsquo;arr&ecirc;t  (&laquo;
  StopPoint &raquo;)  inexistant&nbsp;&raquo;.</span></p>
  <h1 style='margin-left:0cm;text-indent:0cm;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>&nbsp;</span></h1>
  </td>
 </tr>
</table>


</div>
