<h1 class="western" style="border: 1pt solid rgb(0, 0, 0); padding: 0.05cm 0.12cm; margin-top: 0.21cm;" align="center">
<font face="Arial, sans-serif"><font style="font-size: 20pt;" size="5"><i>
 point de contrôle N° 2.23<br>
Cohérence  entre les courses et  des heures de passage<br>
</i></font></font></h1>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Objectif: </b></u>
Vérification de la correcte référence à une COURSE COMMERCIALE («
VehicleJourney ») dans HEURE DE PASSAGE GRAPHIQUEE/Chouette
(«&nbsp;VehicleJourneyAtStop&nbsp;»).<br>
</font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Priorité: </b></u>
Obligatoire (si l’objet «&nbsp;VehicleJourney&nbsp;» existe et si ses
«&nbsp;VehicleJourneyAtStop&nbsp;» référencent l'identifiant
«&nbsp;vehicleJourneyId&nbsp;»)</font></p><font face="Arial, sans-serif">
</font><p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><u><b>Explications:</b></u> 
</font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Pour chaque HEURE DE PASSAGE GRAPHIQUEE/Chouette
(«&nbsp;VehicleJourneyAtStop&nbsp;») la référence à la COURSE
COMMERCIALE&nbsp;(«
VehicleJourney » ) à travers «&nbsp;vehicleJourneyId&nbsp;», est
optionnelle. Si elle est utilisée, vérifier qu’elle correspond à un
identifiant de COURSE COMMERCIALE (« VehicleJourney » ) définie.</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>Exemple: </u></b></font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Représentation  schématique de l’objet «&nbsp;VehicleJourneyAtStop&nbsp;»</font></font></font></p>
<p><font face="Arial, sans-serif"><img src="image012.jpg" height="338" width="433"></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Exemple  d'un temps d'attente qui référence la course qui le contient</font></font></font></p>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">...<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;VehicleJourney&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;objectId&gt;AMIV:VehicleJourney:8970758&lt;/objectId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;routeId&gt;AMIV:Route:488970&lt;/routeId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;journeyPatternId&gt;AMIV:JourneyPattern:488970M1&lt;/journeyPatternId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;lineIdShortcut&gt;AMIV:Line:014014012&lt;/lineIdShortcut&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;operatorId&gt;AMIV:Company:2422&lt;/operatorId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;timeSlotId&gt;AMIV:TimeSlot:0&lt;/timeSlotId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&nbsp;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;vehicleJourneyAtStop&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;stopPointId&gt;AMIV:StopPoint:488970A0A237816&lt;/stopPointId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;vehicleJourneyId&gt;AMIV:VehicleJourney:8970758&lt;/vehicleJourneyId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;arrivalTime&gt;05:45:00&lt;/arrivalTime&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;departureTime&gt;05:45:00&lt;/departureTime&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;order&gt;1&lt;/order&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;/vehicleJourneyAtStop&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&nbsp;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;vehicleJourneyAtStop&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;stopPointId&gt;AMIV:StopPoint:488970A1A237817&lt;/stopPointId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;vehicleJourneyId&gt;AMIV:VehicleJourney:8970758&lt;/vehicleJourneyId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">...<br></font></span>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>N° test:</u></b> 
2.23.1</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Libellé:</u> 
Vérification de la  correcte référence à une COURSE COMMERCIALE&nbsp;(« VehicleJourney »)  dans HEURE DE PASSAGE GRAPHIQUEE/Chouette  («&nbsp;VehicleJourneyAtStop&nbsp;»).</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Champ d’application:</u> 
&lt;VehicleJourneyAtStop&gt;&nbsp;&lt;VehicleJourney&gt;</font></font></font></p>


<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Vérification:</u>&nbsp;</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
-  Si l’objet de course «&nbsp;VehicleJourney&nbsp;» existe, poursuivre le test,  sinon abandonner le test</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si un élément «&nbsp;VehicleJourneyId&nbsp;», référencé dans un objet
«&nbsp;VehicleJourneyAtStop&nbsp;», correspond à un identifiant
«&nbsp;objectId&nbsp;» dans l’objet de course
«&nbsp;VehicleJourney&nbsp;» qui contient l’objet de heure de passage
au point d’arrêt, alors le test est validé, sinon le test est invalidé
et produit le message «&nbsp;test 2.23.1&nbsp;:&nbsp;un heure de
passage XX fait référence à une course inexistante&nbsp;»</font></font></font></p>
