<div class=WordSection1>
</span></b>

<p class=MsoTitle><span style='font-size:14.0pt;font-family:"Tahoma","sans-serif"'>Fiche
du point de contr&ocirc;le N&deg; 2.24</span></p>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=657
 style='width:492.55pt;border-collapse:collapse;border:none'>
 <tr style='page-break-inside:avoid'>
  <td width=657 colspan=2 valign=top style='width:492.55pt;border:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center;text-indent:0cm'><i><span style='font-family:
  "Tahoma","sans-serif";color:navy'>Description</span></i></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>Intitul&eacute;</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt'><span style='font-size:11.0pt;
  line-height:200%;font-family:"Tahoma","sans-serif"'>Coh&eacute;rence entre la
  mission commerciale de la course et l&rsquo;itin&eacute;raire de la course </span></p>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>Objectif</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif";font-weight:normal'>V&eacute;rification de la
  coh&eacute;rence de la r&eacute;f&eacute;rence un Itin&eacute;raire/Chouette pour une COURSE COMMERCIALE
  (&laquo;&nbsp;VehicleJourney&nbsp;&raquo;) et la MISSION COMMERCIALE
  (&laquo;&nbsp;JourneyPattern&nbsp;&raquo;) correspondante.</span><span style='font-size:
  11.0pt;font-family:"Tahoma","sans-serif"'>  </span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>R&eacute;f&eacute;rences</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif";font-weight:normal'>TRIDENT/profil
  CHOUETTE/Transmodel V4 et V5.1</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>N&deg; de fiche(s) connexe(s)</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-left:0cm;text-align:left;text-indent:0cm'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>&nbsp;</span></h1>
  <h1 align=left style='margin-left:0cm;text-align:left;text-indent:0cm'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>&nbsp;</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt'><b><span style='font-family:
  "Tahoma","sans-serif"'>Priorit&eacute;<span style='color:red'> </span></span></b></p>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif";font-weight:normal'>Obligatoire</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt'><b><span style='font-family:
  "Tahoma","sans-serif"'>R&eacute;sultat</span></b></p>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif";font-weight:normal'>Conforme ou non
  conforme</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 colspan=2 style='width:81.35pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center;text-indent:0cm'><i><span style='font-family:
  "Tahoma","sans-serif";color:navy'>Mise en &oelig;uvre</span></i></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;text-indent:0cm'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>Explication</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:5.65pt 11.35pt 5.65pt 3.5pt;height:37.4pt'>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>La
  MISSION COMMERCIALE (&laquo;&nbsp;JourneyPattern&nbsp;&raquo;) correspondant &agrave; une COURSE
  COMMERCIALE (&laquo;&nbsp;VehicleJourney&nbsp;&raquo;)  poss&egrave;de un identifiant
  d&rsquo;Itin&eacute;raire. Ce m&ecirc;me identifiant se retrouve dans la COURSE COMMERCIALE qui
  est associ&eacute;e &agrave; cette MISSION COMMERCIALE.</span></p>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Ce
  point de contr&ocirc;le consiste donc &agrave; v&eacute;rifier la coh&eacute;rence de deux identifiants.
  </span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=657
 style='width:492.55pt;border-collapse:collapse;border:none'>
 <tr>
  <td width=108 valign=top style='width:81.35pt;border:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm'><b><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Exemple</span></b></p>
  </td>
  <td width=557 valign=top style='width:417.7pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=left style='margin-left:18.0pt;text-align:left;text-indent:-18.0pt'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>&nbsp;</span></h1>
  <p class=MsoBodyText2><span style='font-size:11.0pt;line-height:200%;
  font-family:"Tahoma","sans-serif"'>La mission poss&egrave;de un identifiant
  d&rsquo;Itin&eacute;raire (RouteId)&nbsp;:</span></p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal align=center style='text-align:center'><img width=487
  height=483 src="image008.jpg"></p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoBodyText2><span style='font-size:11.0pt;line-height:200%;
  font-family:"Tahoma","sans-serif"'>La course associ&eacute;e &agrave; la mission
  commerciale poss&egrave;de le m&ecirc;me identifiant d&rsquo;Itin&eacute;raire (RouteId)</span></p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal align=center style='text-align:center'><img width=372
  height=618 src="image011.jpg"></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=657 colspan=2 valign=top style='width:492.55pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h2 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center;text-indent:0cm'><i><span lang=EN-US
  style='font-size:14.0pt;color:navy'>Evaluation</span></i></h2>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 valign=top style='width:81.35pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm;text-indent:0cm'><span lang=EN-US style='font-size:11.0pt'>N&deg; test</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>Test
  2.24.1</span></p>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 valign=top style='width:81.35pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm;text-indent:0cm'><span style='font-size:11.0pt'>Libell&eacute;</span></h1>
  </td>
  <td width=108 valign=top style='width:81.35pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>V&eacute;rification
  de la coh&eacute;rence de la r&eacute;f&eacute;rence un Itin&eacute;raire/Chouette pour une COURSE
  COMMERCIALE (&laquo;&nbsp;VehicleJourney&nbsp;&raquo;) et la MISSION COMMERCIALE
  (&laquo;&nbsp;JourneyPattern&nbsp;&raquo;) correspondante.  </span></p>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 valign=top style='width:81.35pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm;text-indent:0cm'><span style='font-size:11.0pt'>Champ d&rsquo;application</span></h1>
  </td>
  <td width=108 valign=top style='width:81.35pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&lt;JourneyPattern&gt;</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&lt;VehicleJourney&gt;</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>&nbsp;</span></p>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 valign=top style='width:81.35pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm;text-indent:0cm'><span style='font-size:11.0pt'>V&eacute;rification</span></h1>
  </td>
  <td width=108 valign=top style='width:81.35pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>-
  Si l&rsquo;objet &laquo;&nbsp;JourneyPattern&nbsp;&raquo; mentionn&eacute; dans les champs
  d&rsquo;application est pr&eacute;sent une ou plusieurs fois, poursuivre le test, sinon le
  test est abandonn&eacute;.</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>-
  Si l&rsquo;objet &laquo;&nbsp;vehicleJourney&nbsp;&raquo; mentionn&eacute; dans les champs
  d&rsquo;application est pr&eacute;sent une ou plusieurs fois, poursuivre le test, sinon le
  test est abandonn&eacute;.</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>-
  Si pour chaque objet &laquo;&nbsp;JourneyPattern&nbsp;&raquo;, il existe un objet
  &laquo;&nbsp;vehicleJourney&nbsp;&raquo; dont la valeur de l&rsquo;attribut de l&rsquo;&eacute;l&eacute;ment
  &laquo;&nbsp;RouteId&nbsp;&raquo; est &eacute;gale &agrave; la valeur de l&rsquo;&eacute;l&eacute;ment
  &laquo;&nbsp;RouteId&nbsp;&raquo; de l&rsquo;objet de r&eacute;f&eacute;rence &laquo;&nbsp;JourneyPattern&nbsp;&raquo;
  alors le test est valid&eacute;, sinon le test est invalid&eacute; et fournit le
  message&nbsp;: &laquo;&nbsp;test 2.24.1&nbsp;: un objet
  &laquo;&nbsp;vehicleJourney&nbsp;&raquo; poss&egrave;de une valeur de l&rsquo;attribut de l&rsquo;&eacute;l&eacute;ment
  &laquo;&nbsp;RouteId&nbsp;&raquo;. Cette valeur ne se retrouve dans un &eacute;l&eacute;ment
  &laquo;&nbsp;RouteId&nbsp;&raquo; d&rsquo;un objet &laquo;&nbsp;JourneyPattern&nbsp;&raquo;&nbsp;&raquo;&nbsp;</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>&nbsp;</span></p>
  </td>
 </tr>
</table>

</div>


