<h1 class="western" style="border: 1pt solid rgb(0, 0, 0); padding: 0.05cm 0.12cm; margin-top: 0.21cm;" align="center">
<font face="Arial, sans-serif"><font style="font-size: 20pt;" size="5"><i>
 point de contrôle N° 2.25<br>
Définition  des liens d’accès<br>
</i></font></font></h1>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Objectif: </b></u>
Vérification de la correcte référence aux Accès/ARRÊTs/NEPTUNE
(«&nbsp;AccessPoint&nbsp;» / « StopArea ») définissant des
LiensAccèsZoneArrêt /NEPTUNE («&nbsp;AccessLink&nbsp;») .<br>
</font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Priorité: </b></u> Obligatoire  (si l’objet «&nbsp;AccessLink&nbsp;» existe)</font></p><font face="Arial, sans-serif">
</font><p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><u><b>Explications:</b></u> 
</font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
La liste des LiensAccèsZoneArrêt /Chouette («&nbsp;AccessLink&nbsp;»)
définie dans un «&nbsp;ChouettePTNetwork&nbsp;» est optionnelle. Les
éléments «&nbsp;startOfLink&nbsp;» et «&nbsp;endOfLink&nbsp;» de chaque
LiensAccèsZoneArrêt /NEPTUNE («&nbsp;AccessLink&nbsp;») sont
obligatoires.</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Lorsque la liste des LiensAccèsZoneArrêt /NEPTUNE
(«&nbsp;AccessLink&nbsp;») est non vide, il convient de vérifier que
pour chaque LiensAccèsZoneArrêt /NEPTUNE («&nbsp;AccessLink&nbsp;»)
«&nbsp;startOfLink&nbsp;» et «&nbsp;endOfLink&nbsp;» correspondent à un
identifiant d’ARRÊTs/NEPTUNE (« StopArea ») ou à un identifiant
d’ACCES/NEPTUNE («AccessPoint&nbsp;»).</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>Exemple: </u></b></font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Représentation  schématique de l’Objet «&nbsp;AccessLink&nbsp;» dans le schéma XSD CHOUETTE</font></font></font></p>
<p><font face="Arial, sans-serif"><img src="image013.jpg" height="529" width="364"></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Exemple d’un arrêt et  d’un point d’accès connectés lien d’accès</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>N° test:</u></b> 
2.25.1</font></font></font></p>


<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Libellé:</u> 
Vérification  de la correcte référence aux ARRÊTs/Chouette (« StopArea ») et&nbsp;ACCES/NEPTUNE  («AccessPoint&nbsp;»)&nbsp;définissant des LiensAccèsZoneArrêt/NEPTUNE   («&nbsp;AccessLink&nbsp;») .</font></font></font></p>


<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Champ d’application:</u> 
&lt;StopArea&gt;&nbsp;&lt;AccessPoint&gt;&nbsp;&lt;AccessLink&gt;</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Vérification:</u> </font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si l’objet «&nbsp;AccessLink&nbsp;» existe alors  poursuivre le test, sinon le test est abandonné,</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si l’objet «&nbsp;AccessLink&nbsp;» possède des identifiants d’arrêt
distincts «&nbsp;StartOfLink&nbsp;» et «&nbsp;EndOfLink&nbsp;» alors
poursuivre le test sinon le test est invalidé et produit le
message&nbsp;«&nbsp;test 2.25.1.a&nbsp;: il manque au moins un
identifiant d’arrêt ou d’accès «&nbsp;StartOfLink&nbsp;» et
«&nbsp;EndOfLink&nbsp;» dans &nbsp;l’objet
«&nbsp;AccessLink&nbsp;».&nbsp;»</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si chaque identifiant d’arrêt «&nbsp;StartOfLink&nbsp;» et
«&nbsp;EndOfLink&nbsp;» de l’objet «&nbsp;AccessLink&nbsp;» est défini
dans un objet «&nbsp;StopArea&nbsp;» ou «AccessPoint&nbsp;»&nbsp;,
alors le test est validé, sinon le test est invalidé et produit le
message «&nbsp;test 2.25.1.b&nbsp;: un identifiant d’arrêt ou d’accès
«&nbsp;StartOfLink&nbsp;» ou «&nbsp;EndOfLink&nbsp;» de l’objet
«&nbsp;AccessLink» n’est pas repéré dans un objet
«&nbsp;StopArea&nbsp;» ou «&nbsp;AccessPoint&nbsp;».&nbsp;»</font></font></font></p>
