
<div class=WordSection1>
</span></b>

<p class=MsoTitle><span style='font-size:14.0pt;font-family:"Tahoma","sans-serif"'>Fiche
du point de contr&ocirc;le N&deg; 2.26</span></p>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=648
 style='width:486.2pt;margin-left:-.75pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid'>
  <td width=648 colspan=2 valign=top style='width:486.2pt;border:solid black 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center;layout-grid-mode:char'><i><span
  style='font-family:"Tahoma","sans-serif";color:navy'>Description</span></i></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Intitul&eacute;</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoCommentText><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>&nbsp;</span></p>
  <p class=MsoCommentText><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Coh&eacute;rence
  entre les acc&egrave;s et leurs composants. (pour la lisibilit&eacute;, il vaudrait mieux
  que cette colonne soit en gras et la colonne de gauche ne soit pas en gras)</span></p>
  <p class=MsoCommentText><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>&nbsp;</span></p>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Objectif</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>V&eacute;rification
  de la correcte r&eacute;f&eacute;rence &agrave; des ARR&Ecirc;Ts/Chouette (&laquo; StopArea &raquo;) et/ou &agrave; des
  LiensAcc&egrave;sZoneArr&ecirc;t /NEPTUNE  (&laquo;&nbsp;AccessLink&nbsp;&raquo;) dans des
  ACCES/NEPTUNE (&laquo; AccessPoint &raquo;)  </span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>R&eacute;f&eacute;rences</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>TRIDENT/profil
  NEPTUNE/Transmodel V4 et V5.1</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>N&deg; de fiche(s)
  connexe(s)</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>&nbsp;</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt;layout-grid-mode:char'><b><span
  style='font-size:11.0pt;line-height:200%;font-family:"Tahoma","sans-serif"'>Priorit&eacute;<span
  style='color:red'> </span></span></b></p>
  </td>
  <td width=108 style='width:81.35pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>Obligatoire</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt;layout-grid-mode:char'><b><span
  style='font-size:11.0pt;line-height:200%;font-family:"Tahoma","sans-serif"'>R&eacute;sultat</span></b></p>
  </td>
  <td width=108 style='width:81.35pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>Conforme
  ou non conforme</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=648 colspan=2 valign=top style='width:486.2pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center;layout-grid-mode:char'><i><span
  style='font-family:"Tahoma","sans-serif";color:navy'>Mise en &oelig;uvre</span></i></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 valign=top style='width:81.35pt;border-top:none;border-left:
  solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm;layout-grid-mode:char'><span style='font-size:11.0pt'>Explication</span></h1>
  </td>
  <td width=548 valign=top style='width:411.35pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 style='margin-top:6.0pt;margin-right:11.35pt;margin-bottom:6.0pt;
  margin-left:0cm;layout-grid-mode:char'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif";font-weight:normal'>Si un </span><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>ACCES/NEPTUNE 
  </span><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
  font-weight:normal'>(&laquo; AccessPoint &raquo;) est d&eacute;fini, il r&eacute;f&eacute;rence soit au moins
  un autre ARR&Ecirc;T/Chouette (&laquo; StopArea &raquo;), soit au moins un </span><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>LiensAcc&egrave;sZoneArr&ecirc;t
  /NEPTUNE  (&laquo;&nbsp;AccessLink&nbsp;&raquo;)</span><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif";font-weight:normal'>.</span></h1>
  <h1 style='margin-top:6.0pt;margin-right:11.35pt;margin-bottom:6.0pt;
  margin-left:0cm;layout-grid-mode:char'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif";font-weight:normal'>Il convient alors de
  v&eacute;rifier que les &eacute;l&eacute;ments r&eacute;f&eacute;renc&eacute;s trouvent une description dans la classe
  d&rsquo;objets qui les concernent.</span></h1>
  </td>
 </tr>
</table>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=619
 style='width:464.4pt;border-collapse:collapse;border:none'>
 <tr>
  <td width=108 valign=top style='width:81.35pt;border:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal><b><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Exemple</span></b></p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  </td>
  <td width=511 valign=top style='width:383.05pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <h1 align=left style='margin-left:18.0pt;text-align:left'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>Repr&eacute;sentation
  sch&eacute;matique de l&rsquo;Objet &laquo;&nbsp;AccessPoint&nbsp;&raquo; </span></h1>
  <p class=MsoNormal align=center style='text-align:center'><img width=369
  height=586 src="BATERI_Neptune_FINAL-V2_0a_fichiers/image014.jpg"></p>
  <p class=MsoNormal><u><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>Exemple
  de AccessPoint avec </span></u><u><span style='font-size:11.0pt;font-family:
  "Arial","sans-serif"'>containedIn</span></u><u><span style='font-size:11.0pt;
  font-family:"Arial","sans-serif"'> de </span></u><span style='font-size:11.0pt;
  font-family:"Arial","sans-serif"'>StopArea</span><b><span style='font-size:
  11.0pt;font-family:"Tahoma","sans-serif"'> </span></b><u><span
  style='font-size:11.0pt;font-family:"Arial","sans-serif"'>associ&eacute;</span></u></p>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>...</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>A d&eacute;finir</span></p>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm;layout-grid-mode:char'><span lang=EN-US
  style='font-size:10.0pt;font-family:Monospace'>...</span></p>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm;layout-grid-mode:char'>&nbsp;</p>
  </td>
 </tr>
</table>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>&nbsp;</p>

</div>

<b><span style='font-size:14.0pt;font-family:"Tahoma","sans-serif"'><br
clear=all>
</span></b>

<div class=WordSection9>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=629
 style='width:472.05pt;margin-left:-.75pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid'>
  <td width=629 colspan=2 valign=top style='width:472.05pt;border:solid black 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <h2 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center;layout-grid-mode:char'><i><span lang=EN-US
  style='font-size:14.0pt;color:navy'>Evaluation</span></i></h2>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span lang=EN-US
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>N&deg; test</span></h1>
  </td>
  <td width=530 style='width:397.2pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>2.26.1</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:5.65pt 11.35pt 5.65pt 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Libell&eacute;</span></h1>
  </td>
  <td width=530 style='width:397.2pt;border:solid black 1.0pt;border-top:none;
  padding:5.65pt 11.35pt 5.65pt 3.5pt;height:37.4pt'>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>V&eacute;rification
  de la correcte r&eacute;f&eacute;rence &agrave; des ARR&Ecirc;Ts/Chouette (&laquo; StopArea &raquo;) et/ou &agrave; des L</span><span
  style='font-size:11.0pt;font-family:"Arial","sans-serif"'>iensAcc&egrave;sZoneArr&ecirc;t</span><span
  style='font-size:11.0pt;font-family:"Arial","sans-serif"'>/NEPTUNE 
  (&laquo;&nbsp;AccessLink&nbsp;&raquo;) dans les ACCES/NEPTUNE (&laquo; AccessPoint &raquo;)  </span></p>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span lang=EN-US
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Champ
  d&rsquo;application</span></h1>
  </td>
  <td width=530 style='width:397.2pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span lang=EN-US
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>&lt;AccessPoint&gt;</span></h1>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span lang=EN-US
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>&lt;StopArea&gt;</span></h1>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm;layout-grid-mode:char'><span lang=EN-US
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>&lt;AccessLink&gt;                                        </span></p>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:5.65pt 11.35pt 5.65pt 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>V&eacute;rification</span></h1>
  </td>
  <td width=530 style='width:397.2pt;border:solid black 1.0pt;border-top:none;
  padding:5.65pt 11.35pt 5.65pt 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:11.35pt;margin-bottom:
  6.0pt;margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>-
  Si la classe d&rsquo;objets &laquo;&nbsp;</span><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif";font-weight:normal'>AccessPoint</span><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>&raquo;
  existe alors poursuivre le test, sinon abandonner le test,</span></h1>
  <h1 align=left style='margin-top:6.0pt;margin-right:11.35pt;margin-bottom:
  6.0pt;margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>-
  Si chaque &eacute;l&eacute;ment &laquo;&nbsp;containedIn&raquo; contient une ou plusieurs valeurs,
  alors le test est valid&eacute; si ces valeurs se retrouvent dans des &eacute;l&eacute;ments
  &laquo;&nbsp;objectId&nbsp;&raquo; des classes d&rsquo;objets  &laquo;&nbsp;StopArea&nbsp;&raquo; ou
  &laquo;&nbsp;</span><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
  font-weight:normal'>AccessLink&nbsp;</span><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif";font-weight:normal'>&raquo; sinon le test est
  invalid&eacute; et produit le message &laquo;&nbsp;test 2.26.1&nbsp;: une ou plusieurs
  valeurs de l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;containedIn&raquo; de la classe d&rsquo;objets &laquo;&nbsp;</span><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>AccessPoint</span><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>&raquo;
  n&rsquo;est pas rep&eacute;r&eacute;e dans la classe d&rsquo;objets correspondante
  &laquo;&nbsp;StopArea&nbsp;&raquo; ou &laquo;&nbsp;</span><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif";font-weight:normal'>AccessLink&nbsp;</span><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>&raquo;.&nbsp;&raquo;
  </span></h1>
  </td>
 </tr>
</table>


</div>

