
<div class=WordSection1>
</span></b>

<p class=MsoTitle><span style='font-size:14.0pt;font-family:"Tahoma","sans-serif"'>Fiche
du point de contr&ocirc;le N&deg; 2.28</span></p>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=648
 style='width:486.2pt;margin-left:-.75pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid'>
  <td width=648 colspan=2 valign=top style='width:486.2pt;border:solid black 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center;layout-grid-mode:char'><i><span
  style='font-family:"Tahoma","sans-serif";color:navy'>Description</span></i></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Intitul&eacute;</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoCommentText><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>&nbsp;</span></p>
  <p class=MsoCommentText><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>R&eacute;f&eacute;rencement
  correct des composants dans les &eacute;quipements</span></p>
  <p class=MsoCommentText><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>&nbsp;</span></p>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Objectif</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>V&eacute;rification
  de la correcte r&eacute;f&eacute;rence &agrave; des ARR&Ecirc;Ts/Chouette (&laquo; StopArea &raquo;) ou  &agrave; des
  LIGNEs/Chouette (&laquo; Line &raquo;)  ou </span><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif";font-weight:normal'>&agrave; des POINTs D&rsquo;ARR&Ecirc;T
  SUR PARCOURS (&laquo;&nbsp;StopPoint&nbsp;&raquo;) ou &agrave; </span><span style='font-size:
  11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>des
  Tron&ccedil;onsDeCorrespondance/Chouette  (&laquo;&nbsp;ConnectionLink&nbsp;&raquo;) </span><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'> </span><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>dans
  des EQUIPEMENTs/NEPTUNE (&laquo; Facility &raquo;)  </span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>R&eacute;f&eacute;rences</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>TRIDENT/profil
  NEPTUNE/Transmodel V4 et V5.1</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>N&deg; de fiche(s)
  connexe(s)</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>&nbsp;</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt;layout-grid-mode:char'><b><span
  style='font-size:11.0pt;line-height:200%;font-family:"Tahoma","sans-serif"'>Priorit&eacute;<span
  style='color:red'> </span></span></b></p>
  </td>
  <td width=108 style='width:81.35pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>Obligatoire</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt;layout-grid-mode:char'><b><span
  style='font-size:11.0pt;line-height:200%;font-family:"Tahoma","sans-serif"'>R&eacute;sultat</span></b></p>
  </td>
  <td width=108 style='width:81.35pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>Conforme
  ou non conforme</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=648 colspan=2 valign=top style='width:486.2pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center;layout-grid-mode:char'><i><span
  style='font-family:"Tahoma","sans-serif";color:navy'>Mise en &oelig;uvre</span></i></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 valign=top style='width:81.35pt;border-top:none;border-left:
  solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm;layout-grid-mode:char'><span style='font-size:11.0pt'>Explication</span></h1>
  </td>
  <td width=548 valign=top style='width:411.35pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 style='margin-top:6.0pt;margin-right:11.35pt;margin-bottom:6.0pt;
  margin-left:0cm;layout-grid-mode:char'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif";font-weight:normal'>Si un </span><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>EQUIPEMENTs
  /NEPTUNE  </span><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
  font-weight:normal'>(&laquo;</span><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
  font-weight:normal'>Facility</span><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif";font-weight:normal'>&raquo;) est d&eacute;fini, il r&eacute;f&eacute;rence au
  moins un autre ARR&Ecirc;T/Chouette (&laquo; StopArea&nbsp;&raquo;) ou une </span><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>autre
  LIGNEs/Chouette (&laquo; Line &raquo;)  ou un autre</span><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif";font-weight:normal'> POINTs D&rsquo;ARR&Ecirc;T SUR
  PARCOURS (&laquo;&nbsp;StopPoint&nbsp;&raquo;) ou un autre</span><span style='font-size:
  11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>
  Tron&ccedil;onsDeCorrespondance/Chouette  (&laquo;&nbsp;ConnectionLink&nbsp;&raquo;)</span><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>.</span></h1>
  <h1 style='margin-top:6.0pt;margin-right:11.35pt;margin-bottom:6.0pt;
  margin-left:0cm;layout-grid-mode:char'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif";font-weight:normal'>Il convient alors de
  v&eacute;rifier que l&rsquo;&eacute;l&eacute;ment r&eacute;f&eacute;renc&eacute; trouve une description dans la classe
  d&rsquo;objets qui le concerne.</span></h1>
  </td>
 </tr>
</table>
<br />
<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=619
 style='width:464.4pt;border-collapse:collapse;border:none'>
 <tr>
  <td width=108 valign=top style='width:81.35pt;border:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal><b><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Exemple</span></b></p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal>&nbsp;</p>
  </td>
  <td width=511 valign=top style='width:383.05pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <h1 align=left style='margin-left:18.0pt;text-align:left'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>Repr&eacute;sentation
  sch&eacute;matique de l&rsquo;Objet &laquo;&nbsp;Facility&nbsp;&raquo; </span></h1>
  <p class=MsoNormal align=center style='text-align:center'><img width=438
  height=756 src="BATERI_Neptune_FINAL-V2_0a_fichiers/image016.jpg"></p>
  <p class=MsoNormal><u><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>Exemple
  de Facility et de </span></u><u><span style='font-size:11.0pt;font-family:
  "Arial","sans-serif"'>StopPointId</span></u><u><span style='font-size:11.0pt;
  font-family:"Arial","sans-serif"'> associ&eacute;</span></u></p>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>...</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>A d&eacute;finir</span></p>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm;layout-grid-mode:char'><span lang=EN-US
  style='font-size:10.0pt;font-family:Monospace'>...</span></p>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm;layout-grid-mode:char'>&nbsp;</p>
  </td>
 </tr>
</table>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>&nbsp;</p>

</div>

<b><span style='font-size:14.0pt;font-family:"Tahoma","sans-serif"'><br
clear=all>
</span></b>

<div class=WordSection11>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=629
 style='width:472.05pt;margin-left:-.75pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid'>
  <td width=629 colspan=2 valign=top style='width:472.05pt;border:solid black 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <h2 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center;layout-grid-mode:char'><i><span lang=EN-US
  style='font-size:14.0pt;color:navy'>Evaluation</span></i></h2>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span lang=EN-US
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>N&deg; test</span></h1>
  </td>
  <td width=530 style='width:397.2pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>2.28.1</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:5.65pt 11.35pt 5.65pt 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Libell&eacute;</span></h1>
  </td>
  <td width=530 style='width:397.2pt;border:solid black 1.0pt;border-top:none;
  padding:5.65pt 11.35pt 5.65pt 3.5pt;height:37.4pt'>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>V&eacute;rification
  de la correcte r&eacute;f&eacute;rence &agrave; un ARR&Ecirc;T/Chouette (&laquo; StopArea &raquo;) ou  &agrave; une
  LIGNE/Chouette (&laquo; Line &raquo;)  ou </span><span style='font-size:11.0pt;
  font-family:"Arial","sans-serif"'>&agrave; un POINT D&rsquo;ARR&Ecirc;T SUR PARCOURS
  (&laquo;&nbsp;StopPoint&nbsp;&raquo;) ou &agrave; un</span><span style='font-size:11.0pt;
  font-family:"Arial","sans-serif"'> Tron&ccedil;onsDeCorrespondance/Chouette 
  (&laquo;&nbsp;ConnectionLink&nbsp;&raquo;) dans les FACILITYs /NEPTUNE  </span><span
  style='font-size:11.0pt;font-family:"Arial","sans-serif"'>(&laquo;</span><span
  style='font-size:11.0pt;font-family:"Arial","sans-serif"'>Facility</span><span
  style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&raquo;)</span></p>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span lang=EN-US
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Champ
  d&rsquo;application</span></h1>
  </td>
  <td width=530 style='width:397.2pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span lang=EN-US
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>&lt;StopArea&gt;</span></h1>
  <p class=MsoNormal><span lang=EN-US>&lt;</span><span lang=EN-US
  style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
  StopPoint&nbsp;&gt;</span></p>
  <p class=MsoNormal><span lang=EN-US style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&lt;</span><span
  lang=EN-US style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
  Line&gt;</span></p>
  <p class=MsoNormal><span lang=EN-US style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&lt;
  ConnectionLink&nbsp;&gt;</span></p>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm;layout-grid-mode:char'><span lang=EN-US
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>&lt;Facility&gt;                                             </span></p>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:5.65pt 11.35pt 5.65pt 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>V&eacute;rification</span></h1>
  </td>
  <td width=530 style='width:397.2pt;border:solid black 1.0pt;border-top:none;
  padding:5.65pt 11.35pt 5.65pt 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:11.35pt;margin-bottom:
  6.0pt;margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>-
  Si la classe d&rsquo;objets &laquo;&nbsp;</span><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif";font-weight:normal'>Facility</span><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>&raquo;
  existe alors poursuivre le test, sinon abandonner le test,</span></h1>
  <h1 align=left style='margin-top:0cm;margin-right:11.35pt;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>-
  Si chaque &eacute;l&eacute;ment &laquo;&nbsp;stopAreaId&raquo; contient une valeur, alors le test est
  valid&eacute; si ces valeurs se retrouvent dans des &eacute;l&eacute;ments &laquo;&nbsp;objectId&nbsp;&raquo;
  de la classe d&rsquo;objet  &laquo;&nbsp;StopArea&nbsp;&raquo; sinon le test est invalid&eacute; et
  produit le message &laquo;&nbsp;test 2.28.1&nbsp;: une valeur de l&rsquo;&eacute;l&eacute;ment
  &laquo;&nbsp;stopAreaId&raquo; de la classe d&rsquo;objets &laquo;&nbsp;</span><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>Facility</span><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>&raquo;
  n&rsquo;est pas rep&eacute;r&eacute;e dans la classe d&rsquo;objets correspondant &laquo;&nbsp;StopArea&nbsp;&raquo;.&nbsp;&raquo;
  </span></h1>
  <p class=MsoNormal style='margin-top:12.0pt'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>- Si chaque &eacute;l&eacute;ment &laquo;&nbsp;</span><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>lineId&raquo; contient
  une valeur, alors le test est valid&eacute; si ces valeurs se retrouvent dans des
  &eacute;l&eacute;ments &laquo;&nbsp;objectId&nbsp;&raquo; de la classe d&rsquo;objet  &laquo;&nbsp;</span><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Line</span><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>&raquo; sinon le test
  est invalid&eacute; et produit le message &laquo;&nbsp;test 2.28.2&nbsp;: une valeur de l&rsquo;&eacute;l&eacute;ment
  &laquo;&nbsp;</span><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>lineId&raquo;
  de la classe d&rsquo;objets &laquo;&nbsp;</span><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>Facility</span><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>&raquo; n&rsquo;est pas rep&eacute;r&eacute;e dans la classe
  d&rsquo;objets correspondant &laquo;&nbsp;</span><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>Line</span><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>&raquo;.&nbsp;&raquo;</span></p>
  <p class=MsoNormal style='margin-top:12.0pt'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>- Si chaque &eacute;l&eacute;ment &laquo;&nbsp;</span><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>connectionLinkId&raquo;
  contient une valeur, alors le test est valid&eacute; si ces valeurs se retrouvent
  dans des &eacute;l&eacute;ments &laquo;&nbsp;objectId&nbsp;&raquo; de la classe d&rsquo;objet  &laquo;&nbsp;</span><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>ConnectionLink&nbsp;</span><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>&raquo; sinon le test
  est invalid&eacute; et produit le message &laquo;&nbsp;test 2.28.3&nbsp;: une valeur de
  l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;</span><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>connectionLinkId&raquo;
  de la classe d&rsquo;objets &laquo;&nbsp;</span><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>Facility</span><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>&raquo; n&rsquo;est pas rep&eacute;r&eacute;e dans la classe
  d&rsquo;objets correspondant &laquo;&nbsp;</span><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>ConnectionLink&nbsp;</span><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>&raquo;.&nbsp;&raquo;</span></p>
  <p class=MsoNormal style='margin-top:12.0pt'><span style='font-size:11.0pt;
  font-family:"Arial","sans-serif"'>- Si chaque &eacute;l&eacute;ment &laquo;&nbsp;</span><span
  style='font-size:11.0pt;font-family:"Arial","sans-serif"'>stopPointId&raquo;
  contient une valeur, alors le test est valid&eacute; si ces valeurs se retrouvent
  dans des &eacute;l&eacute;ments &laquo;&nbsp;objectId&nbsp;&raquo; de la classe d&rsquo;objet 
  &laquo;&nbsp;StopPoint&nbsp;&raquo; sinon le test est invalid&eacute; et produit le message
  &laquo;&nbsp;test 2.28.4&nbsp;: une valeur de l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;stopPointId&raquo; de la
  classe d&rsquo;objets &laquo;&nbsp;</span><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>Facility</span><span
  style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&raquo; n&rsquo;est pas rep&eacute;r&eacute;e
  dans la classe d&rsquo;objets correspondant &laquo;&nbsp;StopPoint&nbsp;&raquo;.&nbsp;&raquo;</span></p>
  </td>
 </tr>
</table>

</div>
