<h1 class="western" style="border: 1pt solid rgb(0, 0, 0); padding: 0.05cm 0.12cm; margin-top: 0.21cm;" align="center">
<font face="Arial, sans-serif"><font style="font-size: 20pt;" size="5"><i>
 point de contrôle N° 2.28<br>
Référencement  correct des composants dans les équipements<br>
</i></font></font></h1>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Objectif: </b></u>
Vérification de la correcte référence à des ARRÊTs/Chouette (« StopArea
») ou à des LIGNEs/Chouette (« Line ») ou à des POINTs D’ARRÊT SUR
PARCOURS («&nbsp;StopPoint&nbsp;») ou à<br>
des   TronçonsDeCorrespondance/Chouette  («&nbsp;ConnectionLink&nbsp;») dans   des EQUIPEMENTs/NEPTUNE («&nbsp;Facility »)<br>
</font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Priorité: </b></u> Obligatoire</font></p><font face="Arial, sans-serif">
</font><p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><u><b>Explications:</b></u> 
</font></font></p>



<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Si un EQUIPEMENTs  /NEPTUNE («&nbsp;Facility») est défini, il référence au  moins un autre ARRÊT/Chouette («StopArea&nbsp;») ou une&nbsp;autre  LIGNEs/Chouette (« Line »)  ou un autre&nbsp;POINTs D’ARRÊT SUR  PARCOURS («&nbsp;StopPoint&nbsp;») ou un autre&nbsp;TronçonsDeCorrespondance/Chouette  («&nbsp;ConnectionLink&nbsp;»).</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Il convient alors de  vérifier que l’élément référencé trouve une description dans la classe  d’objets qui le concerne.</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>Exemple: </u></b></font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Représentation  schématique de l’Objet «&nbsp;Facility&nbsp;»</font></font></font></p>
<p><font face="Arial, sans-serif"><img src="image016.jpg" height="756" width="438"></font></p>


<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Exemple  de Facility et de&nbsp;StopPointId&nbsp;associé</font></font></font></p>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">...<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">A définir</font></span>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>N° test:</u></b> 
2.28.1</font></font></font></p>





<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Libellé:</u> 
Vérification  de la correcte référence à un ARRÊT/Chouette (« StopArea ») ou  à une  LIGNE/Chouette («Line»)  ou&nbsp;à un POINT D’ARRÊT SUR PARCOURS  («&nbsp;StopPoint&nbsp;») ou à&nbsp;un&nbsp;TronçonsDeCorrespondance/Chouette   («&nbsp;ConnectionLink&nbsp;») dans les FACILITYs /NEPTUNE&nbsp;(«&nbsp;Facility&nbsp;»)</font></font></font></p>





<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Champ d’application:</u> 
&lt;StopArea&gt; &lt;StopPoint&nbsp;&gt;&nbsp;&lt;&nbsp;Line&gt;&nbsp;&lt;  ConnectionLink&nbsp;&gt;&nbsp;&lt;Facility&gt;</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Vérification:</u> </font></font></font></p>


<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
-  Si la classe d’objets «&nbsp;Facility&nbsp;»  existe alors poursuivre le test, sinon abandonner le test,</font></font></font></p>


<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si chaque élément «&nbsp;stopAreaId» contient une valeur, alors le
test est validé si ces valeurs se retrouvent dans des éléments
«&nbsp;objectId&nbsp;» de la classe d’objet «&nbsp;StopArea&nbsp;»
sinon le test est invalidé et produit le message «&nbsp;test
2.28.1&nbsp;: une valeur de l’élément «&nbsp;stopAreaId» de la classe
d’objets «&nbsp;Facility&nbsp;»  n’est pas repérée dans la classe d’objets correspondant «&nbsp;StopArea&nbsp;».&nbsp;</font></font></font></p>








<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si chaque élément «&nbsp;lineId»
contient une valeur, alors le test est validé si ces valeurs se
retrouvent dans des éléments «&nbsp;objectId&nbsp;» de la classe
d’objet «&nbsp;Line» sinon le test  est invalidé et produit le message «&nbsp;test 2.28.2&nbsp;: une valeur de l’élément  «&nbsp;lineId»  de la classe d’objets «&nbsp;Facility» n’est pas repérée dans la classe  d’objets correspondant «&nbsp;Line».&nbsp;</font></font></font></p>








<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si chaque élément « &nbsp;connectionLinkId»
contient une valeur, alors le test est validé si ces valeurs se
retrouvent dans des éléments «&nbsp;objectId&nbsp;» de la classe
d’objet «&nbsp;ConnectionLink&nbsp;» sinon le test  est invalidé et produit le message «&nbsp;test 2.28.3&nbsp;: une valeur de  l’élément «&nbsp;connectionLinkId»  de la classe d’objets « &nbsp;Facility» n’est pas repérée dans la classe  d’objets correspondant «&nbsp;ConnectionLink&nbsp;».&nbsp;</font></font></font></p>



<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si chaque élément «&nbsp;stopPointId»
contient une valeur, alors le test est validé si ces valeurs se
retrouvent dans des éléments «&nbsp;objectId&nbsp;» de la classe
d’objet «&nbsp;StopPoint&nbsp;» sinon le test est invalidé et produit
le message «&nbsp;test 2.28.4&nbsp;: une valeur de l’élément
«&nbsp;stopPointId» de la classe d’objets «&nbsp;Facility» n’est pas repérée  dans la classe d’objets correspondant «&nbsp;StopPoint&nbsp;».&nbsp;</font></font></font></p>
