<h1 class="western" style="border: 1pt solid rgb(0, 0, 0); padding: 0.05cm 0.12cm; margin-top: 0.21cm;" align="center">
<font face="Arial, sans-serif"><font style="font-size: 20pt;" size="5"><i>
 point de contrôle N° 2.4<br>
Définition  des correspondances<br>
</i></font></font></h1>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Objectif: </b></u>
Vérification de la correcte référence aux ARRÊTs/Chouette (« StopArea
») définissant des TronçonsDeCorrespondance/Chouette
(«&nbsp;ConnectionLink&nbsp;») .<br>
</font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Priorité: </b></u> Obligatoire  (si l’objet «&nbsp;ConnectionLink&nbsp;» existe)</font><br>
</p><font face="Arial, sans-serif"></font><p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><u><b>Explications:</b></u> 
</font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
La liste des TronçonsDeCorrespondance/Chouette
(«&nbsp;ConnectionLink&nbsp;») définie dans un
«&nbsp;ChouettePTNetwork&nbsp;» est optionnelle. Les éléments
«&nbsp;startOfLink&nbsp;» et «&nbsp;endOfLink&nbsp;» de chaque
TronçonDeCorrespondance/Chouette («&nbsp;ConnectionLink&nbsp;») sont
obligatoires.</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Lorsque la liste des TronçonsDeCorrespondance/Chouette
(«&nbsp;ConnectionLink&nbsp;») est non vide, il convient de vérifier
que pour chaque TronçonDeCorrespondance/Chouette
(«&nbsp;ConnectionLink&nbsp;») «&nbsp;startOfLink&nbsp;» et
«&nbsp;endOfLink&nbsp;» correspondent à deux identifiants distincts
d’ARRÊTs/Chouette (« StopArea »).</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>Exemple: </u></b></font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Représentation  schématique de l’Objet «&nbsp;ConnectionLink&nbsp;» dans le schéma XSD  CHOUETTE</font></font></font></p>
<p><font face="Arial, sans-serif"><img src="image005.jpg" height="547" width="372"></font></p>

















<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
&nbsp;Exemple de deux arrêts connectés  par une correspondance</font></font></font></p>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;StopArea&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;objectId&gt;AMIV:StopPoint:237803&lt;/objectId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;name&gt;ZAE  Robert Moinon&lt;/name&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;contains&gt;AMIV:StopPoint:488973A5A237803&lt;/contains&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;contains&gt;AMIV:StopPoint:489111A5A237803&lt;/contains&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;contains&gt;AMIV:StopPoint:488962A4A237803&lt;/contains&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;centroidOfArea&gt;AMIV:Place:237803&lt;/centroidOfArea&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;StopAreaExtension&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;areaType&gt;Quay&lt;/areaType&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;fareCode&gt;0&lt;/fareCode&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;/StopAreaExtension&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;/StopArea&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">...<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;StopArea&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;objectId&gt;AMIV:StopPoint:237804&lt;/objectId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;name&gt;ZAE  REP&lt;/name&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;contains&gt;AMIV:StopPoint:488973A4A237804&lt;/contains&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;contains&gt;AMIV:StopPoint:489111A4A237804&lt;/contains&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;contains&gt;AMIV:StopPoint:488962A3A237804&lt;/contains&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;centroidOfArea&gt;AMIV:Place:237804&lt;/centroidOfArea&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;StopAreaExtension&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;areaType&gt;Quay&lt;/areaType&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;fareCode&gt;0&lt;/fareCode&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;/StopAreaExtension&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;/StopArea&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">...<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;ConnectionLink&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;objectId&gt;AMIV:ConnectionLink:02378030237804&lt;/objectId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;startOfLink&gt;AMIV:StopPoint:237803&lt;/startOfLink&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;endOfLink&gt;AMIV:StopPoint:237804&lt;/endOfLink&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;defaultDuration&gt;PT2M53S&lt;/defaultDuration&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;/ConnectionLink&gt;<br></font></span>



<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
La correspondance 'AMIV:ConnectionLink:02378030237804' connecte deux
arrêts du réseau 'AMIV:StopPoint:237803' et 'AMIV:StopPoint:237804'.</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>N° test:</u></b> 
2.4.1</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Libellé:</u> Vérification de la correcte référence aux
ARRÊTs/Chouette (« StopArea ») définissant des
TronçonsDeCorrespondance/Chouette («&nbsp;ConnectionLink&nbsp;») .</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Champ d’application:</u> 
&lt;StopArea&gt;&nbsp;&lt;ConnectionLink&gt;</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Vérification:</u> </font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si l’objet «&nbsp;ConnectionLink&nbsp;» existe alors  poursuivre le test, sinon le test est abandonné,</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si l’objet «&nbsp;ConnectionLink&nbsp;» possède des identifiants
d’arrêt distincts «&nbsp;StartOfLink&nbsp;» et «&nbsp;EndOfLink&nbsp;»
alors poursuivre le test sinon le test est invalidé et produit le
message&nbsp;«&nbsp;test 2.4.1.a&nbsp;: il manque au moins un
identifiant d’arrêt «&nbsp;StartOfLink&nbsp;» et
«&nbsp;EndOfLink&nbsp;» dans &nbsp;l’objet
«&nbsp;ConnectionLink&nbsp;».&nbsp;»</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si chaque identifiant d’arrêt «&nbsp;StartOfLink&nbsp;» et
«&nbsp;EndOfLink&nbsp;» de l’objet «&nbsp;ConnectionLink&nbsp;» est
défini dans un objet «&nbsp;StopArea&nbsp;», alors le test est validé,
sinon le test est invalidé et produit le message «&nbsp;test
2.4.1.b&nbsp;: un identifiant d’arrêt «&nbsp;StartOfLink&nbsp;» ou
«&nbsp;EndOfLink&nbsp;» de l’objet «&nbsp;ConnectionLink» n’est pas
repéré dans un objet «&nbsp;StopArea&nbsp;».&nbsp;»</font></font></font></p>
