<h1 class="western" style="border: 1pt solid rgb(0, 0, 0); padding: 0.05cm 0.12cm; margin-top: 0.21cm;" align="center">
<font face="Arial, sans-serif"><font style="font-size: 20pt;" size="5"><i>
 point de contrôle N° 2.6<br>
Définition  des terminus<br>
</i></font></font></h1>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Objectif: </b></u>
Vérification   de la correcte définition du terminus de LIGNE/Chouette (« Line »).<br>
</font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Priorité: </b></u> Obligatoire  (si «&nbsp;LineEnd&nbsp;» existe)</font></p><font face="Arial, sans-serif">
</font><p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><u><b>Explications:</b></u> 
</font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
L’ensemble des éléments de fin des LIGNEs/Chouette (« Line »)
(«&nbsp;LineEnd&nbsp;») a un caractère optionnel. Si ces éléments
existent, il convient de vérifier que chacun d’entre eux possède une
valeur d’attribut qui identifie un POINT D’ARRÊT SUR PARCOURS («
StopPoint »)</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>Exemple: </u></b></font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Représentation  schématique de l’Objet «&nbsp;Line&nbsp;»</font></font></font></p>
<p><font face="Arial, sans-serif"><img src="image002.jpg" height="498" width="478"></font></p>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;Line&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;objectId&gt;AMIV:Line:014014012&lt;/objectId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;objectVersion&gt;1&lt;/objectVersion&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;creationTime&gt;2007-03-21T16:05:54.000+01:00&lt;/creationTime&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;name&gt;LIGNE  012&lt;/name&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;publishedName&gt;Les  Courriers de l'Ile de France&lt;/publishedName&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;transportModeName&gt;Bus&lt;/transportModeName&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;lineEnd&gt;AMIV:StopPoint:488957A0A237830&lt;/lineEnd&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">...<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;StopPoint&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;objectId&gt;AMIV:StopPoint:488957A0A237830&lt;/objectId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif"><br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;objectVersion&gt;1&lt;/objectVersion&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">...<br></font></span>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>N° test:</u></b> 
2.6.1</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Libellé:</u> 
Vérification  de la correcte définition du terminus de LIGNE/Chouette (« Line »).</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Champ d’application:</u> 
&lt;Line&gt;&nbsp;&lt;StopPoint&gt;</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Vérification:</u> </font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
-  Si l’élément «LineEnd» existe alors poursuivre le test, sinon le test est  abandonné,</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si chaque identifiant de fin de trajet dans l’élément
«&nbsp;LineEnd&nbsp;» de l’objet «&nbsp;Line&nbsp;», est repéré dans un
objet «&nbsp;StopPoint&nbsp;» alors le test est validé, sinon le test
est invalidé et produit le message «&nbsp;test 2.6.1&nbsp;: un
identifiant de point d’arrêt de fin de trajet n’est pas repéré dans un
objet «&nbsp;StopPoint&nbsp;»».</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>N° test:</u></b> 
2.6.2</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Libellé:</u> 
Vérification  du caractère terminus des points de fin de trajet des LIGNEs/Chouette (« Line  »).</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Champ d’application:</u> 
&lt;Line&gt;&nbsp;&lt;StopPoint&gt;</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Vérification:</u> </font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
-  Si l’élément «LineEnd» existe alors poursuivre le test, sinon le test est  abandonné,</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si chaque identifiant de fin de trajet dans l’élément
«&nbsp;LineEnd&nbsp;» de l’objet «&nbsp;Line&nbsp;», est repéré une et
une seule fois dans un objet «&nbsp;startOfLink&nbsp;» ou bien dans un
objet «&nbsp;endOfLink&nbsp;» d’un tronçon «&nbsp;PTLink&nbsp;» alors
le test est validé, sinon le test est invalidé et produit le message
«&nbsp;test 2.6.2&nbsp;: un identifiant de point d’arrêt de fin de
trajet n’est pas repéré comme début ou comme fin d’un trajet».</font></font></font></p>

