<h1 class="western" style="border: 1pt solid rgb(0, 0, 0); padding: 0.05cm 0.12cm; margin-top: 0.21cm;" align="center">
<font face="Arial, sans-serif"><font style="font-size: 20pt;" size="5"><i>
 point de contrôle N° 2.8<br>
Cohérence entre les missions  commerciales et les itinéraires<br>
</i></font></font></h1>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Objectif: </b></u>
Vérification de la correcte référence des MISSIONs COMMERCIALEs
(«&nbsp;JourneyPattern&nbsp;») par les Itinéraires/Chouette
(«&nbsp;ChouetteRoute&nbsp;»).<br>
Vérification de la correcte référence des Itinéraires/Chouette
(«&nbsp;ChouetteRoute&nbsp;») que référencent les MISSIONs COMMERCIALEs
(«&nbsp;JourneyPattern&nbsp;»).<br>
Vérification de la cohérence de la séquence des POINTs D’ARRÊT SUR
PARCOURS (« StopPoint ») d’une MISSION COMMERCIALE et celle de l’
Itinéraire/Chouette («&nbsp;ChouetteRoute&nbsp;») correspondant.<br>
</font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Priorité: </b></u> Obligatoire  (en partie si l’objet «&nbsp;JourneyPattern&nbsp;» existe)</font></p><font face="Arial, sans-serif">
</font><p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><u><b>Explications:</b></u> 
</font></font></p>


<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
L’élément  «&nbsp;journeyPatternId&nbsp;» au sein de l'Itinéraire/Chouette
(«&nbsp;ChouetteRoute&nbsp;») a un caractère obligatoire. Il convient
de vérifier qu'il existe une MISSION COMMERCIALE
(«&nbsp;JourneyPattern&nbsp;») correspondante.</font></font></font></p>






<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Inversement, la référence à
un&nbsp;Itinéraire/Chouette&nbsp;(«&nbsp;ChouetteRoute&nbsp;»)&nbsp;pour
chaque&nbsp;mission commerciale&nbsp;«&nbsp;JourneyPattern&nbsp;», doit
correspondre à un Itinéraire/Chouette («&nbsp;ChouetteRoute&nbsp;»).</font></font></font></p>


<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
L’ordre des points définissant   «&nbsp;JourneyPattern&nbsp;»  et &nbsp;«&nbsp;ChouetteRoute&nbsp;» doit être  respecté.</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>Exemple: </u></b></font></font></font></p>
<p><font face="Arial, sans-serif"><img src="image007.jpg" height="502" width="402"></font></p>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif"><span style="font-style: italic;">Exemple
d'identifiant de mission commerciale « journeyPatternId » dans un objet
« ChouetteRoute » correspondant à un « ObjectId » dans un objet «
JourneyPattern »</span><br>...<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;ChouetteRoute&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;objectId&gt;AMIV:Route:488957&lt;/objectId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;name&gt;0140140120535&lt;/name&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;publishedName&gt;GOUSSAINVILLE  RER - CHAUMONTEL&lt;/publishedName&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;ptLinkId&gt;AMIV:PTLink:488957A0A02378300237816&lt;/ptLinkId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;ptLinkId&gt;AMIV:PTLink:488957A1A02378160237817&lt;/ptLinkId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;journeyPatternId&gt;AMIV:JourneyPattern:488957M102&lt;/journeyPatternId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">...<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;JourneyPattern&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;objectId&gt;AMIV:JourneyPattern:488957M102&lt;/objectId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;routeId&gt;AMIV:Route:488957&lt;/routeId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;stopPointList&gt;AMIV:StopPoint:488957A0A237830&lt;/stopPointList&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;stopPointList&gt;AMIV:StopPoint:488957A1A237816&lt;/stopPointList&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;stopPointList&gt;AMIV:StopPoint:488957A2A237817&lt;/stopPointList&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;/JourneyPattern&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">...<br></font></span>
<p><font face="Arial, sans-serif"><img src="image008.jpg" height="483" width="487"></font></p>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif"><span style="font-style: italic;">Exemple d'une mission qui référence une ChouetteRoute</span><br>...<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;ChouetteRoute&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;objectId&gt;AMIV:Route:489111&lt;/objectId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;name&gt;0140140120996&lt;/name&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">...<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;JourneyPattern&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;objectId&gt;AMIV:JourneyPattern:489111M74&lt;/objectId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;routeId&gt;AMIV:Route:489111&lt;/routeId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;stopPointList&gt;AMIV:StopPoint:489111A0A237832&lt;/stopPointList&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;stopPointList&gt;AMIV:StopPoint:489111A1A237807&lt;/stopPointList&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;stopPointList&gt;AMIV:StopPoint:489111A2A237806&lt;/stopPointList&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;stopPointList&gt;AMIV:StopPoint:489111A3A237805&lt;/stopPointList&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;stopPointList&gt;AMIV:StopPoint:489111A4A237804&lt;/stopPointList&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;stopPointList&gt;AMIV:StopPoint:489111A5A237803&lt;/stopPointList&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;stopPointList&gt;AMIV:StopPoint:489111A6A237832&lt;/stopPointList&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;lineIdShortcut&gt;AMIV:Line:014014012&lt;/lineIdShortcut&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;/JourneyPattern&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">...<br></font></span>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>N° test:</u></b> 
2.8.1</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Libellé:</u> Vérification de la correcte référence des MISSIONs
COMMERCIALEs («&nbsp;JourneyPattern&nbsp;») par les
Itinéraires/Chouette («&nbsp;ChouetteRoute&nbsp;»).</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Champ d’application:</u> 
&lt;ChouetteRoute&gt;&nbsp;&lt;JourneyPattern&gt;</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Vérification:</u> </font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
&nbsp;-
Si l’élément «&nbsp;journeyPatternId&nbsp;», référencé dans l’objet
«&nbsp;ChouetteRoute&nbsp;» possède un identifiant
«&nbsp;ObjectId&nbsp;» dans un objet «&nbsp;JourneyPattern&nbsp;», le
test est validé, sinon le test est invalidé et produit le message
«&nbsp;test 2.8.1&nbsp;: un élément «&nbsp;journeyPatternId&nbsp;» dans
un objet d’Itinéraire «&nbsp;ChouetteRoute&nbsp;» n’a pas d’identifiant
«&nbsp;ObjectId&nbsp;» dans un objet «&nbsp;JourneyPattern» ».</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>N° test:</u></b> 
2.8.2</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Libellé:</u> Vérification de la correcte référence des
Itinéraires/Chouette («&nbsp;ChouetteRoute&nbsp;») que référencent les
MISSIONs COMMERCIALEs («&nbsp;JourneyPattern&nbsp;»).</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Champ d’application:</u> 
&lt;JourneyPattern&gt; &lt;ChouetteRoute&gt;</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Vérification:</u> </font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
&nbsp;-  Si l’objet de MISSION COMMERCIALE existe, poursuivre le test, sinon  abandonner le test</font></font></font></p>


<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si l’élément d’Itinéraire «&nbsp;routeId&nbsp;», référencé dans un
objet «&nbsp;JourneyPattern&nbsp;», possède un identifiant
«&nbsp;objectId&nbsp;» dans l’objet d’Itinéraire
«&nbsp;ChouetteRoute&nbsp;», alors le test est validé, sinon le test
est invalidé et produit le message «&nbsp;test 2.8.1&nbsp;: l’élément
d’Itinéraire «&nbsp;routeId&nbsp;», référencé dans un objet
«&nbsp;JourneyPattern&nbsp;», n’a pas d’identifiant
«&nbsp;objectId&nbsp;» dans l’objet d’Itinéraire
«&nbsp;ChouetteRoute&nbsp;»&nbsp;</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>N° test:</u></b> 
Test 2.8.3</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Libellé:</u> 
Vérification  de la cohérence de la séquence des POINTs D’ARRÊT SUR PARCOURS  (« StopPoint  »)  d’une <span style="text-transform: uppercase;">mission commerciale</span></font></font></font></p>




<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2"><span style="text-decoration: underline;">
Champ d’application:</span>&nbsp;&lt;StopPoint&gt;&nbsp;&lt;JourneyPattern&gt; &nbsp;&lt;ptLink&gt; &lt;ChouetteRoute&gt;</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Vérification:</u> </font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si l’élément «&nbsp;StopPoint&nbsp;» mentionné dans les champs
d’application est présent une ou plusieurs fois, poursuivre le test,
sinon le test est abandonné.</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si l’identifiant du « StopPoint » détecté, figure dans la liste des
points d’arrêts de l’objet «&nbsp;JourneyPattern&nbsp;», poursuivre le
test, sinon le test est invalidé et fournit le message&nbsp;:
«&nbsp;test 2.8.3 a&nbsp;: l’identifiant du « StopPoint » détecté dans
l’objet «&nbsp;StopPoint&nbsp;» ne figure pas dans la liste des points
d’arrêt de l’objet «&nbsp;JourneyPattern&nbsp;».</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si l’identifiant du « StopPoint » figure dans l’un des éléments
«&nbsp;startOfLink&nbsp;» ou «&nbsp;endOfLink&nbsp;» du tronçon
«&nbsp;PtLink&nbsp;», poursuivre le test, sinon le test est invalidé et
fournit le message&nbsp;: «&nbsp;test 2.8.3 b: l’identifiant du «
StopPoint » ne figure pas dans l’un des éléments
«&nbsp;startOfLink&nbsp;» ou «&nbsp;endOfLink&nbsp;» du tronçon
«&nbsp;PtLink&nbsp;».</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si l’identifiant du tronçon «&nbsp;PtLink&nbsp;», détecté ci-avant,
est intégré dans un Itinéraire «&nbsp;ChouetteRoute&nbsp;», poursuivre
le test, sinon le test est invalidé et fournit le message&nbsp;:
«&nbsp;test 2.8.3 c&nbsp;: l’identifiant du tronçon
«&nbsp;PtLink&nbsp;», détecté dans le test 3.3.1b, n’est pas intégré
dans un Itinéraire «&nbsp;ChouetteRoute&nbsp;»&nbsp;</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si l’identifiant d’Itinéraire «&nbsp;ChouetteRoute&nbsp;», détecté
ci-avant, est le même que celui détecté ci-avant dans la MISSION
COMMERCIALE «&nbsp;JourneyPattern&nbsp;», le test est validé, sinon le
test est invalidé et fournit le message&nbsp;: «&nbsp;test 2.8.3
d&nbsp;: l’identifiant d’Itinéraire «&nbsp;ChouetteRoute&nbsp;» n’est
le même que celui détecté dans la MISSION COMMERCIALE
«&nbsp;JourneyPattern&nbsp;»</font></font></font></p>
