<div class=WordSection1>
</span>

<p class=MsoTitle><span style='font-size:14.0pt;font-family:"Tahoma","sans-serif"'>Fiche
du point de contr&ocirc;le N&deg; 2.8</span></p>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=648
 style='width:485.95pt;margin-left:-.5pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid'>
  <td width=648 colspan=2 valign=top style='width:485.95pt;border:solid black 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center;layout-grid-mode:char'><i><span
  style='font-family:"Tahoma","sans-serif";color:navy'>Description</span></i></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Intitul&eacute;</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt;layout-grid-mode:char'><span
  style='font-family:"Tahoma","sans-serif"'>Coh&eacute;rence entre les missions
  commerciales et les itin&eacute;raires.</span></p>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Objectif</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>V&eacute;rification
  de la correcte r&eacute;f&eacute;rence des MISSIONs COMMERCIALEs
  (&laquo;&nbsp;JourneyPattern&nbsp;&raquo;)  par les Itin&eacute;raires/Chouette
  (&laquo;&nbsp;ChouetteRoute&nbsp;&raquo;).</span></h1>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>V&eacute;rification
  de la correcte r&eacute;f&eacute;rence des Itin&eacute;raires/Chouette
  (&laquo;&nbsp;ChouetteRoute&nbsp;&raquo;) que r&eacute;f&eacute;rencent les MISSIONs COMMERCIALEs
  (&laquo;&nbsp;JourneyPattern&nbsp;&raquo;).</span></h1>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>V&eacute;rification
  de la coh&eacute;rence de la s&eacute;quence des POINTs D&rsquo;ARR&Ecirc;T SUR PARCOURS  (&laquo; StopPoint
  &raquo;)  d&rsquo;une MISSION COMMERCIALE et celle de l&rsquo; Itin&eacute;raire/Chouette
  (&laquo;&nbsp;ChouetteRoute&nbsp;&raquo;)  correspondant.</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>R&eacute;f&eacute;rences</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>TRIDENT/profil
  CHOUETTE/Transmodel V4 et V5.1</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span lang=NL
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>N&deg; de fiche(s)</span></h1>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>connexe(s)</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>&nbsp;</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt;layout-grid-mode:char'><b><span
  style='font-family:"Tahoma","sans-serif"'>Priorit&eacute;<span style='color:red'> </span></span></b></p>
  </td>
  <td width=108 style='width:81.35pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>Obligatoire
  (en partie si l&rsquo;objet &laquo;&nbsp;JourneyPattern&nbsp;&raquo; existe)</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt;layout-grid-mode:char'><b><span
  style='font-family:"Tahoma","sans-serif"'>R&eacute;sultat</span></b></p>
  </td>
  <td width=108 style='width:81.35pt;border:solid black 1.0pt;border-top:none;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>Conforme
  ou non conforme</span></h1>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=648 colspan=2 valign=top style='width:485.95pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center;layout-grid-mode:char'><i><span
  style='font-family:"Tahoma","sans-serif";color:navy'>Mise en &oelig;uvre</span></i></h1>
  </td>
 </tr>
 <tr>
  <td width=100 style='width:74.85pt;border-top:none;border-left:solid black 1.0pt;
  border-bottom:solid black 1.0pt;border-right:none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Explication</span></h1>
  </td>
  <td width=548 style='width:411.1pt;border:solid black 1.0pt;border-top:none;
  padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:11.35pt;margin-bottom:
  6.0pt;margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>L&rsquo;&eacute;l&eacute;ment
  &laquo;&nbsp;journeyPatternId&nbsp;&raquo; au sein de l'</span><span style='font-family:
  "Tahoma","sans-serif";font-weight:normal'> </span><span style='font-size:
  11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>Itin&eacute;raire/Chouette
  (&laquo;&nbsp;ChouetteRoute&nbsp;&raquo;) a un caract&egrave;re obligatoire. Il convient de
  v&eacute;rifier qu'il existe une MISSION COMMERCIALE (&laquo;&nbsp;JourneyPattern&nbsp;&raquo;)
  correspondante. </span></h1>
  <p class=MsoNormal style='margin-right:11.35pt'><span style='font-size:11.0pt;
  font-family:"Arial","sans-serif"'>Inversement, la r&eacute;f&eacute;rence &agrave; </span><span
  style='font-size:11.0pt;font-family:"Arial","sans-serif"'>un </span><span
  style='font-family:"Tahoma","sans-serif"'>Itin&eacute;raire/Chouette</span><span
  style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
  (&laquo;&nbsp;ChouetteRoute&nbsp;&raquo;)</span><span style='font-size:11.0pt;font-family:
  "Arial","sans-serif"'>  pour chaque </span><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif";text-transform:uppercase'>mission
  commerciale</span><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
  &laquo;&nbsp;JourneyPattern&nbsp;&raquo;, doit correspondre &agrave; un Itin&eacute;raire/Chouette
  (&laquo;&nbsp;ChouetteRoute&nbsp;&raquo;).  </span></p>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:11.35pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>L&rsquo;ordre des points d&eacute;finissant 
  &laquo;&nbsp;JourneyPattern&nbsp;&raquo;  et</span><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'> &laquo;&nbsp;ChouetteRoute&nbsp;&raquo; </span><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>doit &ecirc;tre
  respect&eacute;.</span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=657
 style='width:493.05pt;margin-left:-.5pt;border-collapse:collapse'>
 <tr>
  <td width=100 colspan=2 valign=top style='width:74.85pt;border:solid black 1.0pt;
  border-right:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm;layout-grid-mode:char'><b><span style='font-size:11.0pt;
  font-family:"Arial","sans-serif"'>Exemple</span></b></p>
  </td>
  <td width=558 colspan=3 valign=top style='width:418.2pt;border:solid black 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=left style='margin-left:18.0pt;text-align:left'><span
  style='font-size:11.0pt;font-weight:normal'>Repr&eacute;sentation sch&eacute;matique de
  l&rsquo;Objet &laquo;&nbsp;ChouetteRoute&nbsp;&raquo;</span></h1>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal align=center style='text-align:center'><img width=402
  height=502 src="image007.jpg"></p>
  <h3 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm;text-indent:0cm'>Exemple d'identifiant de mission commerciale
  &laquo;&nbsp;journeyPatternId&nbsp;&raquo; dans un objet &laquo;&nbsp;ChouetteRoute&nbsp;&raquo;
  correspondant &agrave; un &laquo;&nbsp;ObjectId&nbsp;&raquo; dans un objet
  &laquo;&nbsp;JourneyPattern&nbsp;&raquo;</h3>
  <p class=MsoNormal><span lang=EN-US style='font-size:10.0pt;font-family:"Courier New"'>...</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>&lt;ChouetteRoute&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>      &lt;objectId&gt;AMIV:Route:488957&lt;/objectId&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>      &lt;name&gt;0140140120535&lt;/name&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>      &lt;publishedName&gt;GOUSSAINVILLE
  RER - CHAUMONTEL&lt;/publishedName&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>      &lt;ptLinkId&gt;AMIV:PTLink:488957A0A02378300237816&lt;/ptLinkId&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>      &lt;ptLinkId&gt;AMIV:PTLink:488957A1A02378160237817&lt;/ptLinkId&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>&lt;journeyPatternId&gt;AMIV:JourneyPattern:488957M102&lt;/journeyPatternId&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>...</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>&lt;JourneyPattern&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>      &lt;objectId&gt;AMIV:JourneyPattern:488957M102&lt;/objectId&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>      &lt;routeId&gt;AMIV:Route:488957&lt;/routeId&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>      &lt;stopPointList&gt;AMIV:StopPoint:488957A0A237830&lt;/stopPointList&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>      &lt;stopPointList&gt;AMIV:StopPoint:488957A1A237816&lt;/stopPointList&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>      &lt;stopPointList&gt;AMIV:StopPoint:488957A2A237817&lt;/stopPointList&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span
  style='font-size:10.0pt;font-family:"Courier New"'>&lt;/JourneyPattern&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span
  style='font-size:10.0pt;font-family:"Courier New"'>...</span></p>
  <h1 align=left style='margin-left:18.0pt;text-align:left'><span
  style='font-size:11.0pt;font-weight:normal'>Repr&eacute;sentation sch&eacute;matique de
  l&rsquo;objet JourneyPattern</span></h1>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><img width=487
  height=483 src="image008.jpg"></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'>&nbsp;</p>
  <h3 style='text-indent:0cm'>Exemple d'une mission qui r&eacute;f&eacute;rence une
  ChouetteRoute</h3>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>...</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>&lt;ChouetteRoute&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>      &lt;objectId&gt;AMIV:Route:489111&lt;/objectId&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>      &lt;name&gt;0140140120996&lt;/name&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>...</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>&lt;JourneyPattern&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>      &lt;objectId&gt;AMIV:JourneyPattern:489111M74&lt;/objectId&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>      &lt;routeId&gt;AMIV:Route:489111&lt;/routeId&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>      &lt;stopPointList&gt;AMIV:StopPoint:489111A0A237832&lt;/stopPointList&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>      &lt;stopPointList&gt;AMIV:StopPoint:489111A1A237807&lt;/stopPointList&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>      &lt;stopPointList&gt;AMIV:StopPoint:489111A2A237806&lt;/stopPointList&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>      &lt;stopPointList&gt;AMIV:StopPoint:489111A3A237805&lt;/stopPointList&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>      &lt;stopPointList&gt;AMIV:StopPoint:489111A4A237804&lt;/stopPointList&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>      &lt;stopPointList&gt;AMIV:StopPoint:489111A5A237803&lt;/stopPointList&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>      &lt;stopPointList&gt;AMIV:StopPoint:489111A6A237832&lt;/stopPointList&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>      &lt;lineIdShortcut&gt;AMIV:Line:014014012&lt;/lineIdShortcut&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>&lt;/JourneyPattern&gt;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:"Courier New"'>...</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:Monospace;color:teal'>&nbsp;</span></p>
  <p class=MsoNormal style='text-autospace:ideograph-numeric'><span lang=EN-US
  style='font-size:10.0pt;font-family:Monospace;color:teal'>&nbsp;</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=657 colspan=5 valign=top style='width:493.05pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h2 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center;layout-grid-mode:char'><i><span lang=EN-US
  style='font-size:14.0pt;color:navy'>Evaluation</span></i></h2>
  </td>
 </tr>
 <tr>
  <td width=108 colspan=2 style='width:81.35pt;border-top:none;border-left:
  solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span lang=EN-US
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>N&deg; test</span></h1>
  </td>
  <td width=108 colspan=3 style='width:81.35pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>2.8.1</span></h1>
  </td>
 </tr>
 <tr>
  <td width=108 colspan=2 style='width:81.35pt;border-top:none;border-left:
  solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Libell&eacute;</span></h1>
  </td>
  <td width=108 colspan=3 style='width:81.35pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=left style='margin-top:6.0pt;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>V&eacute;rification
  de la correcte r&eacute;f&eacute;rence des MISSIONs COMMERCIALEs
  (&laquo;&nbsp;JourneyPattern&nbsp;&raquo;)  par les Itin&eacute;raires/Chouette
  (&laquo;&nbsp;ChouetteRoute&nbsp;&raquo;).</span></h1>
  </td>
 </tr>
 <tr>
  <td width=108 colspan=2 style='width:81.35pt;border-top:none;border-left:
  solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Champ
  d&rsquo;application</span></h1>
  </td>
  <td width=108 colspan=3 style='width:81.35pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>&lt;ChouetteRoute&gt;</span></h1>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm;layout-grid-mode:char'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>&lt;JourneyPattern&gt;</span></p>
  </td>
 </tr>
 <tr>
  <td width=108 colspan=2 style='width:81.35pt;border-top:none;border-left:
  solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>V&eacute;rification</span></h1>
  </td>
  <td width=108 colspan=3 style='width:81.35pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=left style='text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>&nbsp;</span></h1>
  <h1 align=left style='text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>-
  Si l&rsquo;&eacute;l&eacute;ment  &laquo;&nbsp;journeyPatternId&nbsp;&raquo;, r&eacute;f&eacute;renc&eacute; dans l&rsquo;objet
  &laquo;&nbsp;ChouetteRoute&nbsp;&raquo; poss&egrave;de un identifiant &laquo;&nbsp;ObjectId&nbsp;&raquo;
  dans un objet &laquo;&nbsp;JourneyPattern&nbsp;&raquo;, le test est valid&eacute;, sinon le test
  est invalid&eacute; et produit le message &laquo;&nbsp;test 2.8.1&nbsp;: un &eacute;l&eacute;ment
  &laquo;&nbsp;journeyPatternId&nbsp;&raquo; dans un objet d&rsquo;Itin&eacute;raire
  &laquo;&nbsp;ChouetteRoute&nbsp;&raquo; n&rsquo;a pas d&rsquo;identifiant &laquo;&nbsp;ObjectId&nbsp;&raquo; dans
  un objet &laquo;&nbsp;JourneyPattern&raquo; &raquo;.</span></h1>
  <h1 align=left style='text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>&nbsp;</span></h1>
  </td>
 </tr>
 <tr>
  <td width=108 colspan=2 style='width:81.35pt;border-top:none;border-left:
  solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span lang=EN-US
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>N&deg; test</span></h1>
  </td>
  <td width=108 colspan=3 style='width:81.35pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span lang=EN-US
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>2.8.2</span></h1>
  </td>
 </tr>
 <tr>
  <td width=108 colspan=2 style='width:81.35pt;border-top:none;border-left:
  solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span lang=EN-US
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Libell&eacute;</span></h1>
  </td>
  <td width=108 colspan=3 style='width:81.35pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>V&eacute;rification
  de la correcte r&eacute;f&eacute;rence des Itin&eacute;raires/Chouette
  (&laquo;&nbsp;ChouetteRoute&nbsp;&raquo;) que r&eacute;f&eacute;rencent les MISSIONs COMMERCIALEs
  (&laquo;&nbsp;JourneyPattern&nbsp;&raquo;).</span></h1>
  </td>
 </tr>
 <tr>
  <td width=108 colspan=2 style='width:81.35pt;border-top:none;border-left:
  solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Champ
  d&rsquo;application</span></h1>
  </td>
  <td width=108 colspan=3 style='width:81.35pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>&lt;JourneyPattern&gt;</span></h1>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm;layout-grid-mode:char'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>&lt;ChouetteRoute&gt;</span></p>
  </td>
 </tr>
 <tr>
  <td width=108 colspan=2 style='width:81.35pt;border-top:none;border-left:
  solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>V&eacute;rification</span></h1>
  </td>
  <td width=108 colspan=3 style='width:81.35pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=left style='text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>&nbsp;</span></h1>
  <h1 align=left style='text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>-
  Si l&rsquo;objet de MISSION COMMERCIALE existe, poursuivre le test, sinon
  abandonner le test</span></h1>
  <h1 align=left style='text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>&nbsp;</span></h1>
  <p class=MsoBodyText3 align=left style='text-align:left'><span
  style='font-family:"Tahoma","sans-serif"'>- Si l&rsquo;&eacute;l&eacute;ment d&rsquo;Itin&eacute;raire
  &laquo;&nbsp;routeId&nbsp;&raquo;, r&eacute;f&eacute;renc&eacute; dans un objet &laquo;&nbsp;JourneyPattern&nbsp;&raquo;,
  poss&egrave;de un identifiant &laquo;&nbsp;objectId&nbsp;&raquo; dans l&rsquo;objet d&rsquo;Itin&eacute;raire
  &laquo;&nbsp;ChouetteRoute&nbsp;&raquo;, alors le test est valid&eacute;, sinon le test est
  invalid&eacute; et produit le message &laquo;&nbsp;test 2.8.1&nbsp;: l&rsquo;&eacute;l&eacute;ment
  d&rsquo;Itin&eacute;raire &laquo;&nbsp;routeId&nbsp;&raquo;, r&eacute;f&eacute;renc&eacute; dans un objet
  &laquo;&nbsp;JourneyPattern&nbsp;&raquo;, n&rsquo;a pas d&rsquo;identifiant &laquo;&nbsp;objectId&nbsp;&raquo;
  dans l&rsquo;objet d&rsquo;Itin&eacute;raire &laquo;&nbsp;ChouetteRoute&nbsp;&raquo;&nbsp;&raquo;</span></p>
  <h1 align=left style='text-align:left;layout-grid-mode:char'><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>&nbsp;</span></h1>
  </td>
 </tr>
 <tr>
  <td style='border:none;padding:0cm 0cm 0cm 0cm' width=1><p class='MsoNormal'>&nbsp;</td>
  <td width=108 colspan=2 style='width:81.35pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span lang=EN-US style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>N&deg; test</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <p class=MsoHeader style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm'><span lang=EN-US style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>Test 2.8.3</span></p>
  </td>
  <td style='border:none;padding:0cm 0cm 0cm 0cm' width=9><p class='MsoNormal'>&nbsp;</td>
 </tr>
 <tr>
  <td style='border:none;padding:0cm 0cm 0cm 0cm' width=1><p class='MsoNormal'>&nbsp;</td>
  <td width=108 colspan=2 style='width:81.35pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>Libell&eacute;</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <p class=MsoHeader style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>V&eacute;rification
  de la coh&eacute;rence de la s&eacute;quence des POINTs D&rsquo;ARR&Ecirc;T SUR PARCOURS  (&laquo; StopPoint
  &raquo;)  d&rsquo;une <span style='text-transform:uppercase'>mission commerciale</span>
  et celle de l&rsquo;Itin&eacute;raire/Chouette (&laquo;&nbsp;ChouetteRoute&nbsp;&raquo;)<b>  </b>correspondant.</span></p>
  </td>
  <td style='border:none;padding:0cm 0cm 0cm 0cm' width=9><p class='MsoNormal'>&nbsp;</td>
 </tr>
 <tr>
  <td style='border:none;padding:0cm 0cm 0cm 0cm' width=1><p class='MsoNormal'>&nbsp;</td>
  <td width=108 colspan=2 style='width:81.35pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span lang=EN-US style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>Champ d&rsquo;application</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm'><span lang=EN-US style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>&lt;StopPoint&gt;</span></p>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm'><span lang=EN-US style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>&lt;JourneyPattern&gt;</span></p>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm'><span lang=EN-US style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>&lt;ptLink&gt;</span></p>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>&lt;ChouetteRoute&gt;</span></p>
  </td>
  <td style='border:none;padding:0cm 0cm 0cm 0cm' width=9><p class='MsoNormal'>&nbsp;</td>
 </tr>
 <tr>
  <td style='border:none;padding:0cm 0cm 0cm 0cm' width=1><p class='MsoNormal'>&nbsp;</td>
  <td width=100 colspan=2 style='width:74.85pt;border:solid windowtext 1.0pt;
  border-top:none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>V&eacute;rification</span></h1>
  </td>
  <td width=547 style='width:410.6pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>-
  Si l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;StopPoint&nbsp;&raquo; mentionn&eacute; dans les champs d&rsquo;application
  est pr&eacute;sent une ou plusieurs fois, poursuivre le test, sinon le test est
  abandonn&eacute;.</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>-
  Si l&rsquo;identifiant du &laquo; StopPoint &raquo;   d&eacute;tect&eacute;, figure dans la liste des points
  d&rsquo;arr&ecirc;ts de l&rsquo;objet &laquo;&nbsp;JourneyPattern&nbsp;&raquo;, poursuivre le test, sinon
  le test est invalid&eacute; et fournit le message&nbsp;: &laquo;&nbsp;test 2.8.3 a&nbsp;:
  l&rsquo;identifiant du &laquo; StopPoint &raquo; d&eacute;tect&eacute; dans l&rsquo;objet &laquo;&nbsp;StopPoint&nbsp;&raquo;
  ne figure pas dans la liste des points d&rsquo;arr&ecirc;t de l&rsquo;objet
  &laquo;&nbsp;JourneyPattern&nbsp;&raquo;&nbsp;&raquo;.</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'> </span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>-
  Si l&rsquo;identifiant du &laquo; StopPoint &raquo;   figure dans l&rsquo;un des &eacute;l&eacute;ments
  &laquo;&nbsp;startOfLink&nbsp;&raquo; ou &laquo;&nbsp;endOfLink&nbsp;&raquo; du tron&ccedil;on
  &laquo;&nbsp;PtLink&nbsp;&raquo;, poursuivre le test, sinon le test est invalid&eacute; et
  fournit le message&nbsp;: &laquo;&nbsp;test 2.8.3 b:  l&rsquo;identifiant du &laquo; StopPoint
  &raquo;  ne figure pas dans l&rsquo;un des &eacute;l&eacute;ments &laquo;&nbsp;startOfLink&nbsp;&raquo; ou
  &laquo;&nbsp;endOfLink&nbsp;&raquo; du tron&ccedil;on &laquo;&nbsp;PtLink&nbsp;&raquo;&nbsp;&raquo;.</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>-
  Si l&rsquo;identifiant du tron&ccedil;on &laquo;&nbsp;PtLink&nbsp;&raquo;, d&eacute;tect&eacute; ci-avant, est
  int&eacute;gr&eacute; dans un Itin&eacute;raire &laquo;&nbsp;ChouetteRoute&nbsp;&raquo;, poursuivre le test,
  sinon le test est invalid&eacute; et fournit le message&nbsp;: &laquo;&nbsp;test 2.8.3
  c&nbsp;: l&rsquo;identifiant du tron&ccedil;on &laquo;&nbsp;PtLink&nbsp;&raquo;, d&eacute;tect&eacute; dans le test
  3.3.1b, n&rsquo;est pas int&eacute;gr&eacute; dans un Itin&eacute;raire
  &laquo;&nbsp;ChouetteRoute&nbsp;&raquo;&nbsp;&raquo;.</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>-
  Si l&rsquo;identifiant d&rsquo;Itin&eacute;raire &laquo;&nbsp;ChouetteRoute&nbsp;&raquo;, d&eacute;tect&eacute; ci-avant,
  est le m&ecirc;me que celui d&eacute;tect&eacute; ci-avant dans la MISSION COMMERCIALE
  &laquo;&nbsp;JourneyPattern&nbsp;&raquo;, le test est valid&eacute;, sinon le test est invalid&eacute;
  et fournit le message&nbsp;: &laquo;&nbsp;test 2.8.3 d&nbsp;: l&rsquo;identifiant
  d&rsquo;Itin&eacute;raire &laquo;&nbsp;ChouetteRoute&nbsp;&raquo; n&rsquo;est le m&ecirc;me que celui d&eacute;tect&eacute; dans
  la MISSION COMMERCIALE &laquo;&nbsp;JourneyPattern&nbsp;&raquo;&nbsp;&raquo;</span></p>
  </td>
  <td style='border:none;padding:0cm 0cm 0cm 0cm' width=9><p class='MsoNormal'>&nbsp;</td>
 </tr>
 <tr height=0>
  <td width=1 style='border:none'></td>
  <td width=108 style='border:none'></td>
  <td width=1 style='border:none'></td>
  <td width=543 style='border:none'></td>
  <td width=5 style='border:none'></td>
 </tr>
</table>


</div>
