<h1 class="western" style="border: 1pt solid rgb(0, 0, 0); padding: 0.05cm 0.12cm; margin-top: 0.21cm;" align="center">
<font face="Arial, sans-serif"><font style="font-size: 20pt;" size="5"><i>
 point de contrôle N° 2.9<br>
Définition  de l’itinéraire retour<br>
</i></font></font></h1>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Objectif: </b></u>
Vérifier la correcte référence à un Itinéraire/Chouette
(«&nbsp;ChouetteRoute&nbsp;») dans le cas d’un itinéraire de retour.<br>
</font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Priorité: </b></u> Obligatoire  (si l’identifiant «&nbsp;wayBackRouteId&nbsp;» existe)</font></p><font face="Arial, sans-serif">
</font><p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><u><b>Explications:</b></u> 
</font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
L’élément d’Itinéraire de retour «&nbsp;wayBackRouteId&nbsp;» au sein
de l’objet Itinéraire/Chouette («&nbsp;ChouetteRoute&nbsp;») a un
caractère optionnel. Si une valeur d’attribut est définie, il convient
de s'assurer qu’elle correspond à un Itinéraire/Chouette
(«&nbsp;ChouetteRoute&nbsp;») dans le même réseau.</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>Exemple: </u></b></font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Représentation  schématique de l’Objet «&nbsp;ChouetteRoute&nbsp;»</font></font></font></p>
<p><font face="Arial, sans-serif"><img src="image007.jpg" height="502" width="402"></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Exemple  d'itinéraire de retour</font></font></font></p>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">...<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;ChouetteRoute&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif"><br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;objectId&gt;AMIV:Route:488957&lt;/objectId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;name&gt;0140140120535&lt;/name&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;publishedName&gt;GOUSSAINVILLE  RER - CHAUMONTEL&lt;/publishedName&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;ptLinkId&gt;AMIV:PTLink:488957A0A02378300237816&lt;/ptLinkId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;ptLinkId&gt;AMIV:PTLink:488957A1A02378160237817&lt;/ptLinkId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;journeyPatternId&gt;AMIV:JourneyPattern:488957M10200&lt;/journeyPatternId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;comment&gt;12  Lycée Gérard de Nerval – Cyprien Réthoré&lt;/comment&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif"><br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;wayBackRouteId&gt;AMIV:Route:488959&lt;/wayBackRouteId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;RouteExtension&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;wayBack&gt;R&lt;/wayBack&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;/RouteExtension&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;/ChouetteRoute&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;ChouetteRoute&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif"><br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;objectId&gt;AMIV:Route:488959&lt;/objectId&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">&lt;name&gt;0140140120536&lt;/name&gt;<br></font></span>
<span style="font-size: 10pt; font-family: &quot;Courier New&quot;;">
<font face="Arial, sans-serif">...<br></font></span>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>N° test:</u></b> 
2.9.1</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Libellé:</u> 
Vérifier la  correcte référence  à un Itinéraire/Chouette («&nbsp;ChouetteRoute&nbsp;»)  dans le cas d’un Itinéraire de retour.</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2"><span style="text-decoration: underline;">
Champ d’application:</span>&nbsp;&lt;ChouetteRoute&gt;</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Vérification:</u> </font></font></font></p>



<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si l’élément d’Itinéraire de retour «wayBackRouteId&nbsp;»&nbsp;est
présent dans l’objet «&nbsp;ChouetteRoute&nbsp;» alors poursuivre le
test, sinon le test est abandonné</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si l&nbsp;élément d’Itinéraire de retour
«&nbsp;wayBackRouteId&nbsp;», référencé dans un objet d’Itinéraire
«&nbsp;ChouetteRoute&nbsp;» possède un identifiant
«&nbsp;ObjectId&nbsp;» dans un autre objet d’Itinéraire
«&nbsp;ChouetteRoute&nbsp;», le test est validé, sinon le test est
invalidé et produit le message «&nbsp;test 2.9.1&nbsp;: un élément
d’Itinéraire de retour «&nbsp;wayBackRouteId&nbsp;» dans un objet
d’Itinéraire «&nbsp;ChouetteRoute&nbsp;» n’a pas d’identifiant
«&nbsp;ObjectId&nbsp;» dans un autre objet d’Itinéraire
«&nbsp;&nbsp;ChouetteRoute ».</font></font></font></p>

