<div class=WordSection1>
</span></i>

<p class=MsoTitle><span style='font-size:14.0pt;font-family:"Tahoma","sans-serif"'>Fiche
du point de contr&ocirc;le N&deg; 3.1</span></p>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=647
 style='width:485.45pt;border-collapse:collapse;border:none'>
 <tr style='page-break-inside:avoid'>
  <td width=647 colspan=2 valign=top style='width:485.45pt;border:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center'><i><span style='font-family:"Tahoma","sans-serif";
  color:navy'>Description</span></i></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>Intitul&eacute;</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt'><span style='font-size:11.0pt;
  line-height:200%;font-family:"Tahoma","sans-serif"'>Points d&rsquo;arr&ecirc;t de
  d&eacute;nomination diff&eacute;rente et tr&egrave;s proches</span></p>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>Objectif</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif";font-weight:normal'>Signaler la pr&eacute;sence de POINTs
  D&rsquo;ARR&Ecirc;T SUR PARCOURS (&laquo;&nbsp;StopPoint&nbsp;&raquo;) tr&egrave;s proches et de
  d&eacute;nomination diff&eacute;rente sur un m&ecirc;me r&eacute;seau.</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>R&eacute;f&eacute;rences</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif";font-weight:normal'>TRIDENT/profil CHOUETTE/Transmodel
  V4 et V5.1</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>N&deg; de fiche(s) connexe(s)</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='text-align:left'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif";font-weight:normal'>&nbsp;</span></h1>
  <h1 align=left style='text-align:left'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif";font-weight:normal'>&nbsp;</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt'><b><span style='font-family:
  "Tahoma","sans-serif"'>Priorit&eacute;<span style='color:red'> </span></span></b></p>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif";font-weight:normal'>Obligatoire</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt'><b><span style='font-family:
  "Tahoma","sans-serif"'>R&eacute;sultat</span></b></p>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif";font-weight:normal'>D&eacute;livrance d&rsquo;un avertissement de
  mise en garde sur des cons&eacute;quences &eacute;ventuelles de dysfonctionnement</span></h1>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=647 colspan=2 valign=top style='width:485.45pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center'><i><span style='font-family:"Tahoma","sans-serif";
  color:navy'>Mise en &oelig;uvre</span></i></h1>
  </td>
 </tr>
 <tr>
  <td width=100 style='width:74.85pt;border:solid windowtext 1.0pt;border-top:
  none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>Explication</span></h1>
  </td>
  <td width=547 style='width:410.6pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Chaque
  POINT D&rsquo;ARR&Ecirc;T SUR PARCOURS (&laquo;&nbsp;StopPoint&nbsp;&raquo;) est localis&eacute; gr&acirc;ce &agrave; ses
  coordonn&eacute;es en latitude et en longitude. La mise en &oelig;uvre de ce point de
  contr&ocirc;le consiste &agrave; v&eacute;rifier la pr&eacute;sence de  POINT D&rsquo;ARR&Ecirc;T SUR PARCOURS 
  proches et de d&eacute;nomination diff&eacute;rente. Pour cela un rayon de proximit&eacute; entre
  POINT D&rsquo;ARR&Ecirc;T SUR PARCOURS est &agrave; d&eacute;terminer.</span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=628
 style='width:471.3pt;border-collapse:collapse;border:none'>
 <tr>
  <td width=108 valign=top style='width:81.35pt;border:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm'><b><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Exemple</span></b></p>
  </td>
  <td width=529 valign=top style='width:396.45pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=left style='margin-left:18.0pt;text-align:left;text-indent:-18.0pt'><span
  style='font-size:11.0pt;font-weight:normal'>&nbsp;</span></h1>
  <p class=MsoNormal align=center style='text-align:center'><img width=450
  height=624 src="BATERI_Neptune_FINAL-V2_0a_fichiers/image017.jpg"></p>
  <p class=MsoNormal align=center style='text-align:center'>&nbsp;</p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=628 colspan=2 valign=top style='width:471.3pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h2 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center'><i><span lang=EN-US style='font-size:14.0pt;
  color:navy'>Evaluation</span></i></h2>
  </td>
 </tr>
 <tr>
  <td width=108 valign=top style='width:81.35pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span lang=EN-US style='font-size:11.0pt'>N&deg; test</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>Test
  3.1.1</span></p>
  </td>
 </tr>
 <tr>
  <td width=108 valign=top style='width:81.35pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span style='font-size:11.0pt'>Libell&eacute;</span></h1>
  </td>
  <td width=108 valign=top style='width:81.35pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>V&eacute;rifier
  que 2 POINTs D&rsquo;ARR&Ecirc;T SUR PARCOURS (&laquo;&nbsp;StopPoint&nbsp;&raquo;) tr&egrave;s proches
  porte le m&ecirc;me nom/m&ecirc;me adresse</span></p>
  </td>
 </tr>
 <tr>
  <td width=108 valign=top style='width:81.35pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span style='font-size:11.0pt'>Champ d&rsquo;application</span></h1>
  </td>
  <td width=108 valign=top style='width:81.35pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>&lt;StopPoint&gt;</span></p>
  </td>
 </tr>
 <tr>
  <td width=108 valign=top style='width:81.35pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span style='font-size:11.0pt'>V&eacute;rification</span></h1>
  </td>
  <td width=108 valign=top style='width:81.35pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>-
  Si l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;StopPoint&nbsp;&raquo; mentionn&eacute; dans les champs d&rsquo;application
  est pr&eacute;sent une ou plusieurs fois, poursuivre le test, sinon le test est
  abandonn&eacute;.</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>-
  Si pour chaque &eacute;l&eacute;ment &laquo;&nbsp;StopPoint&nbsp;&raquo;, la distance spatiale calcul&eacute;e
  &agrave; partir de la valeur de l&rsquo;attribut des &eacute;l&eacute;ments &laquo;&nbsp;longitude&nbsp;&raquo;,
  &laquo;&nbsp;latitude&nbsp;&raquo; et &laquo;&nbsp;longLatType&nbsp;&raquo; entre lui et tous les
  autres objets &laquo;&nbsp;stopPoint&nbsp;&raquo; est inf&eacute;rieure &agrave; une valeur
  param&eacute;trable XX alors v&eacute;rifier que la valeur de l&rsquo;attribut de l&rsquo;&eacute;l&eacute;ment
  &laquo;&nbsp;name&nbsp;&raquo; de ces deux objets &laquo;&nbsp;StopPoint&nbsp;&raquo; est identique.
  Si elle est diff&eacute;rente, le test fournit le message d&rsquo;avertissement&nbsp;:
  &laquo;&nbsp;test 3.1.1&nbsp;: deux points d&rsquo;arr&ecirc;t s&eacute;par&eacute;s par une distance
  inf&eacute;rieure &agrave; une valeur param&eacute;trable XX ne portent pas le m&ecirc;me nom&nbsp;&raquo;. </span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>
  <p class=MsoNormal style='margin-bottom:6.0pt'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>- Sinon le test est valid&eacute;</span></p>
  </td>
 </tr>
</table>

<h1><i><span style='font-size:11.0pt'>&nbsp;</span></i></h1>

</div>

