<h1 class="western" style="border: 1pt solid rgb(0, 0, 0); padding: 0.05cm 0.12cm; margin-top: 0.21cm;" align="center">
<font face="Arial, sans-serif"><font style="font-size: 20pt;" size="5"><i>
 point de contrôle N° 3.1<br>
Points d’arrêt de  dénomination différente et très proches<br>
</i></font></font></h1>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Objectif: </b></u>
Signaler la présence de POINTs D’ARRÊT SUR PARCOURS
(«&nbsp;StopPoint&nbsp;») très proches et de dénomination différente
sur un même réseau.<br>
</font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Priorité: </b></u> Obligatoire</font></p><font face="Arial, sans-serif">
</font><p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><u><b>Explications:</b></u> 
</font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Chaque POINT D’ARRÊT SUR PARCOURS («&nbsp;StopPoint&nbsp;») est
localisé grâce à ses coordonnées en latitude et en longitude. La mise
en œuvre de ce point de contrôle consiste à vérifier la présence de
POINT D’ARRÊT SUR PARCOURS proches et de dénomination différente. Pour
cela un rayon de proximité entre POINT D’ARRÊT SUR PARCOURS est à
déterminer.</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>Exemple: </u></b></font></font></font></p>
<p><font face="Arial, sans-serif"><img src="image017.jpg" height="624" width="450"></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>N° test:</u></b> 
Test  3.1.1</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Libellé:</u> 
Vérifier  que 2 POINTs D’ARRÊT SUR PARCOURS («&nbsp;StopPoint&nbsp;») très proches  porte le même nom/même adresse</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2"><span style="text-decoration: underline;">
Champ d’application:</span> &lt;StopPoint&gt;&nbsp;</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Vérification:</u> </font></font></font></p>


<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si l’élément «&nbsp;StopPoint&nbsp;» mentionné dans les champs
d’application est présent une ou plusieurs fois, poursuivre le test,
sinon le test est abandonné.</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si pour chaque élément «&nbsp;StopPoint&nbsp;», la distance spatiale
calculée à partir de la valeur de l’attribut des éléments
«&nbsp;longitude&nbsp;», «&nbsp;latitude&nbsp;» et
«&nbsp;longLatType&nbsp;» entre lui et tous les autres objets
«&nbsp;stopPoint&nbsp;» est inférieure à une valeur paramétrable XX
alors vérifier que la valeur de l’attribut de l’élément
«&nbsp;name&nbsp;» de ces deux objets «&nbsp;StopPoint&nbsp;» est
identique. Si elle est différente, le test fournit le message
d’avertissement&nbsp;: «&nbsp;test 3.1.1&nbsp;: deux points d’arrêt
séparés par une distance inférieure à une valeur paramétrable XX ne
portent pas le même nom&nbsp;».</font></font></font></p>


<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Sinon le test est validé<br>&nbsp;</font></font></font></p>
