<div class=WordSection1>
</span></b>

<p class=MsoTitle><span style='font-size:14.0pt;font-family:"Tahoma","sans-serif"'>Fiche
du point de contr&ocirc;le N&deg; 3.10</span></p>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=647
 style='width:485.45pt;border-collapse:collapse;border:none'>
 <tr style='page-break-inside:avoid'>
  <td width=647 colspan=2 valign=top style='width:485.45pt;border:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center'><i><span style='color:navy'>Description</span></i></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>Intitul&eacute;</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt'><span style='font-size:11.0pt;
  line-height:200%;font-family:"Tahoma","sans-serif"'>D&eacute;tection des boucles  </span></p>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>Objectif</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif";font-weight:normal'>V&eacute;rifier </span><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>si
  chaque Itin&eacute;raire/Chouette (&laquo;&nbsp;ChouetteRoute&nbsp;&raquo;) contient des boucles.</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>R&eacute;f&eacute;rences</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif";font-weight:normal'>TRIDENT/profil CHOUETTE/Transmodel
  V4 et V5.1</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>N&deg; de fiche(s) connexe(s)</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='text-align:left'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif";font-weight:normal'>&nbsp;</span></h1>
  <h1 align=left style='text-align:left'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif";font-weight:normal'>&nbsp;</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt'><b><span style='font-family:
  "Tahoma","sans-serif"'>Priorit&eacute;<span style='color:red'> </span></span></b></p>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif";font-weight:normal'>Obligatoire</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt'><b><span style='font-family:
  "Tahoma","sans-serif"'>R&eacute;sultat</span></b></p>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif";font-weight:normal'>D&eacute;livrance d&rsquo;un avertissement de
  mise en garde sur des cons&eacute;quences &eacute;ventuelles de dysfonctionnement</span></h1>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=647 colspan=2 valign=top style='width:485.45pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center'><i><span style='color:navy'>Mise en &oelig;uvre</span></i></h1>
  </td>
 </tr>
 <tr>
  <td width=100 style='width:74.85pt;border:solid windowtext 1.0pt;border-top:
  none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>Explication</span></h1>
  </td>
  <td width=547 style='width:410.6pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>Dans
  le cas d&rsquo;une boucle, l&rsquo;Itin&eacute;raire/Chouette</span><span style='font-size:11.0pt;
  font-family:"Arial","sans-serif"'> (&laquo;&nbsp;ChouetteRoute&nbsp;&raquo;)</span><b><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'> </span></b><span
  style='font-size:11.0pt;font-family:"Arial","sans-serif"'> comporte une
  intersection avec lui-m&ecirc;me. Toutefois, &agrave; l&rsquo;endroit de l&rsquo;intersection, un
  POINT D&rsquo;ARR&Ecirc;T SUR PARCOURS (&laquo;&nbsp;StopPoint&nbsp;&raquo;) suppl&eacute;mentaire doit &ecirc;tre
  cr&eacute;&eacute;. </span></p>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm;text-align:justify'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>Il faut donc v&eacute;rifier, &agrave; l&rsquo;intersection,
  que le POINT D&rsquo;ARR&Ecirc;T SUR PARCOURS (&laquo;&nbsp;StopPoint&nbsp;&raquo;) du premier
  passage et POINT D&rsquo;ARR&Ecirc;T SUR PARCOURS (&laquo;&nbsp;StopPoint&nbsp;&raquo;) qui assure
  l&rsquo;intersection se trouvent au m&ecirc;me emplacement. Dans ce type d&rsquo;</span><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Itin&eacute;raire/Chouette
  (&laquo;&nbsp;ChouetteRoute&nbsp;&raquo;)</span><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>, il y a au moins deux POINTs D&rsquo;ARR&Ecirc;T SUR PARCOURS qui
  ont (ou pratiquement &ndash; la fourchette reste &agrave; d&eacute;finir) les m&ecirc;mes coordonn&eacute;es.</span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=657
 style='width:492.55pt;border-collapse:collapse;border:none'>
 <tr>
  <td width=115 valign=top style='width:86.0pt;border:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm'><b><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Exemple</span></b></p>
  </td>
  <td width=542 valign=top style='width:406.55pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=left style='margin-left:18.0pt;text-align:left;text-indent:-18.0pt'><span
  style='font-size:11.0pt;font-weight:normal'>&nbsp;</span></h1>
  <p class=MsoNormal align=center style='text-align:center'><img width=450
  height=624 src="image017.jpg"></p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal align=center style='text-align:center'><img width=302
  height=306 src="image022.jpg"></p>
  <p class=MsoNormal align=center style='text-align:center'>&nbsp;</p>
  <p class=MsoNormal align=center style='text-align:center'><img width=402
  height=502 src="image023.jpg"></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=657 colspan=2 valign=top style='width:492.55pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h2 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center'><i><span lang=EN-US style='font-size:14.0pt;
  color:navy'>Evaluation</span></i></h2>
  </td>
 </tr>
 <tr>
  <td width=115 valign=top style='width:86.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span lang=EN-US style='font-size:11.0pt'>N&deg; test</span></h1>
  </td>
  <td width=542 style='width:406.55pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>Test
  3.10.1</span></p>
  </td>
 </tr>
 <tr>
  <td width=115 valign=top style='width:86.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span style='font-size:11.0pt'>Libell&eacute;</span></h1>
  </td>
  <td width=542 valign=top style='width:406.55pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>V&eacute;rification
  de l&rsquo;utilisation unique dans un Itin&eacute;raire</span><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>/Chouette</span><span style='font-size:
  11.0pt;font-family:"Tahoma","sans-serif"'> (&laquo;&nbsp;ChouetteRoute&nbsp;&raquo;) d&rsquo;un
  POINT D&rsquo;ARR&Ecirc;T SUR PARCOURS (&laquo;&nbsp;StopPoint&nbsp;&raquo;)</span></p>
  </td>
 </tr>
 <tr>
  <td width=115 valign=top style='width:86.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span lang=EN-US style='font-size:11.0pt'>Champ d&rsquo;application</span></h1>
  </td>
  <td width=542 valign=top style='width:406.55pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm'><span lang=EN-US style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>&lt;StopPoint&gt;</span></p>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm'><span lang=EN-US style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>&lt;PtLink&gt;</span></p>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>&lt;ChouetteRoute&gt;</span></p>
  </td>
 </tr>
 <tr>
  <td width=115 valign=top style='width:86.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span style='font-size:11.0pt'>V&eacute;rification</span></h1>
  </td>
  <td width=542 valign=top style='width:406.55pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
  font-family:"Arial","sans-serif"'>- Si l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;StopPoint&nbsp;&raquo;
  mentionn&eacute; dans les champs d&rsquo;application est pr&eacute;sent une ou plusieurs fois,
  poursuivre le test, sinon le test est  abandonn&eacute;  </span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
  font-family:"Arial","sans-serif"'>- Si l&rsquo;identifiant du point d&rsquo;arr&ecirc;t
  d&eacute;tect&eacute;, figure dans un ou deux tron&ccedil;ons &laquo;&nbsp;PtLink&nbsp;&raquo;, poursuivre le
  test, sinon le test est  invalid&eacute; et fournit le message&nbsp;: &laquo;&nbsp;test
  3.10.1a&nbsp;: le point d&rsquo;arr&ecirc;t d&rsquo;identifiant &laquo;&nbsp;ObjectId&nbsp;&raquo; est d&eacute;fini
  de mani&egrave;re unique et ne retrouve pas dans au moins deux tron&ccedil;ons&raquo;.</span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
  font-family:"Arial","sans-serif"'>&nbsp;</span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
  font-family:"Arial","sans-serif"'>- Si le ou les identifiants de tron&ccedil;ons
  identifi&eacute;s pr&eacute;c&eacute;demment sont r&eacute;f&eacute;renc&eacute;s dans un m&ecirc;me &eacute;l&eacute;ment
  &laquo;&nbsp;chouetteRoute&nbsp;&raquo; alors le test est valid&eacute;, sinon le test est
  invalid&eacute; et fournit le message&nbsp;; &laquo;&nbsp;test 3.10.1b&nbsp;: les
  identifiants de tron&ccedil;on identifi&eacute;s dans le 3.10.1a ne sont pas pr&eacute;sents dans
  un m&ecirc;me itin&eacute;raire&nbsp;&raquo;.</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>&nbsp;</span></p>
  </td>
 </tr>
 <tr>
  <td width=115 valign=top style='width:86.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1><span style='font-size:11.0pt;font-weight:normal'>&nbsp;</span></h1>
  </td>
  <td width=542 valign=top style='width:406.55pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <p class=MsoNormal><b><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></b></p>
  </td>
 </tr>
 <tr>
  <td width=115 valign=top style='width:86.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span lang=EN-US style='font-size:11.0pt'>N&deg; test</span></h1>
  </td>
  <td width=542 style='width:406.55pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <p class=MsoNormal><span lang=EN-US style='font-size:11.0pt;font-family:"Arial","sans-serif"'>Test
  3.10.2</span></p>
  </td>
 </tr>
 <tr>
  <td width=115 valign=top style='width:86.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span style='font-size:11.0pt'>Libell&eacute;</span></h1>
  </td>
  <td width=542 valign=top style='width:406.55pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <p class=MsoNormal style='margin-top:6.0pt'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>V&eacute;rification de boucle dans un itin&eacute;raire</span><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>/Chouette</span></p>
  </td>
 </tr>
 <tr>
  <td width=115 valign=top style='width:86.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span lang=EN-US style='font-size:11.0pt'>Champ d&rsquo;application</span></h1>
  </td>
  <td width=542 valign=top style='width:406.55pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm'><span lang=EN-US style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>&lt;StopPoint&gt;</span></p>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm'><span lang=EN-US style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>&lt;PtLink&gt;</span></p>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>&lt;ChouetteRoute&gt;</span></p>
  </td>
 </tr>
 <tr>
  <td width=115 valign=top style='width:86.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span style='font-size:11.0pt'>V&eacute;rification</span></h1>
  </td>
  <td width=542 valign=top style='width:406.55pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>-
  Si l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;ChouetteRoute&nbsp;&raquo; mentionn&eacute; dans les champs
  d&rsquo;application est pr&eacute;sent une ou plusieurs fois, poursuivre le test, sinon le
  test est abandonn&eacute;.</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
  font-family:"Arial","sans-serif"'>- Si pour l&rsquo;&eacute;l&eacute;ment
  &laquo;&nbsp;chouetteRoute&nbsp;&raquo;, la liste des tron&ccedil;ons &laquo;&nbsp;PtLink&nbsp;&raquo;
  utilise des points d&rsquo;arr&ecirc;t &laquo;&nbsp;StopPoint&nbsp;&raquo; ayant la m&ecirc;me valeur
  d&rsquo;attribut que l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;containedIn&nbsp;&raquo; alors le test fournit le
  message d&rsquo;avertissement&nbsp;: &laquo;&nbsp; test 3.10.2&nbsp;: des tron&ccedil;ons
  &laquo;&nbsp;PtLink&nbsp;&raquo; utilisent des points d&rsquo;arr&ecirc;t &laquo;&nbsp;StopPoint&nbsp;&raquo;
  ayant la m&ecirc;me valeur d&rsquo;attribut que l&rsquo;&eacute;l&eacute;ment
  &laquo;&nbsp;containedIn&nbsp;&raquo;&nbsp;&raquo;.</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>-
  Sinon le test est valid&eacute;</span></p>
  </td>
 </tr>
 <tr>
  <td width=115 valign=top style='width:86.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span lang=EN-US style='font-size:11.0pt'>N&deg; test</span></h1>
  </td>
  <td width=542 style='width:406.55pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <p class=MsoNormal><span lang=EN-US style='font-size:11.0pt;font-family:"Arial","sans-serif"'>Test
  3.10.3</span></p>
  </td>
 </tr>
 <tr>
  <td width=115 valign=top style='width:86.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span style='font-size:11.0pt'>Libell&eacute;</span></h1>
  </td>
  <td width=542 valign=top style='width:406.55pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>V&eacute;rification
  de la distance entre points d&rsquo;arr&ecirc;t d&rsquo;un m&ecirc;me itin&eacute;raire</span><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>/Chouette</span></p>
  </td>
 </tr>
 <tr>
  <td width=115 valign=top style='width:86.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span lang=EN-US style='font-size:11.0pt'>Champ d&rsquo;application</span></h1>
  </td>
  <td width=542 valign=top style='width:406.55pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm'><span lang=EN-US style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>&lt;StopPoint&gt;</span></p>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm'><span lang=EN-US style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>&lt;PtLink&gt;</span></p>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>&lt;ChouetteRoute&gt;</span></p>
  </td>
 </tr>
 <tr>
  <td width=115 valign=top style='width:86.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span style='font-size:11.0pt'>V&eacute;rification</span></h1>
  </td>
  <td width=542 valign=top style='width:406.55pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>-
  Si l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;chouetteRoute&nbsp;&raquo; mentionn&eacute; dans les champs
  d&rsquo;application est pr&eacute;sent une ou plusieurs fois, poursuivre le test, sinon le
  test est abandonn&eacute;.</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>-
  Si pour l&rsquo;objet &laquo;&nbsp;chouetteRoute&nbsp;&raquo;, la liste des tron&ccedil;ons
  &laquo;&nbsp;PtLink&nbsp;&raquo; utilise des points d&rsquo;arr&ecirc;t &laquo;&nbsp;StopPoint&nbsp;&raquo;
  proches entre eux (la distance spatiale entre point d&rsquo;arr&ecirc;t &agrave; partir des
  valeurs des attributs des &eacute;l&eacute;ments &laquo;&nbsp;longitude&nbsp;&raquo;, &laquo;&nbsp;latitude&raquo;
  et &laquo;&nbsp;lonLatType&nbsp;&raquo; inf&eacute;rieure &agrave; XX) alors le test fournit le message
  d&rsquo;avertissement &laquo;&nbsp;des points d&rsquo;arr&ecirc;t &laquo;&nbsp;StopPoint&nbsp;&raquo;, utilis&eacute;s
  par des tron&ccedil;ons d&rsquo;itin&eacute;raire, sont proches les uns des autres d&rsquo;une distance
  inf&eacute;rieure &agrave; une valeur param&eacute;trable XX&nbsp;&raquo;.</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>-
  Sinon le test est valid&eacute;</span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal>&nbsp;</p>

</div>

