<h1 class="western" style="border: 1pt solid rgb(0, 0, 0); padding: 0.05cm 0.12cm; margin-top: 0.21cm;" align="center">
<font face="Arial, sans-serif"><font style="font-size: 20pt;" size="5"><i>
 point de contrôle N° 3.10<br>
Détection des boucles  <br>
</i></font></font></h1>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Objectif: </b></u>
Vérifier si   chaque Itinéraire/Chouette («&nbsp;ChouetteRoute&nbsp;») contient des boucles.<br>
</font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Priorité: </b></u> Obligatoire</font></p><font face="Arial, sans-serif">
</font><p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><u><b>Explications:</b></u> 
</font></font></p>




<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Dans  le cas d’une boucle, l’Itinéraire/Chouette &nbsp;(«&nbsp;ChouetteRoute&nbsp;»)&nbsp;comporte
une intersection avec lui-même. Toutefois, à l’endroit de
l’intersection, un POINT D’ARRÊT SUR PARCOURS («&nbsp;StopPoint&nbsp;»)
supplémentaire doit être créé.</font></font></font></p>


<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Il faut donc vérifier, à l’intersection, que le POINT D’ARRÊT SUR
PARCOURS («&nbsp;StopPoint&nbsp;») du premier passage et POINT D’ARRÊT
SUR PARCOURS («&nbsp;StopPoint&nbsp;») qui assure l’intersection se
trouvent au même emplacement. Dans ce type d’&nbsp;Itinéraire/Chouette  («&nbsp;ChouetteRoute&nbsp;»),
il y a au moins deux POINTs D’ARRÊT SUR PARCOURS qui ont (ou
pratiquement – la fourchette reste à définir) les mêmes coordonnées.</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>Exemple: </u></b></font></font></font></p>
<p><font face="Arial, sans-serif"><img src="image017.jpg" height="624" width="450"></font></p>
<p><font face="Arial, sans-serif"><img src="image022.jpg" height="306" width="302"></font></p>
<p><font face="Arial, sans-serif"><img src="image023.jpg" height="502" width="402"></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>N° test:</u></b> 
Test  3.10.1</font></font></font></p>


<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Libellé:</u> 
Vérification  de l’utilisation unique dans un Itinéraire /Chouette&nbsp;(«&nbsp;ChouetteRoute&nbsp;») d’un  POINT D’ARRÊT SUR PARCOURS («&nbsp;StopPoint&nbsp;»)</font></font></font></p>



<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2"><span style="text-decoration: underline;">
Champ d’application:</span>&nbsp;&lt;StopPoint&gt;&nbsp;&lt;PtLink&gt;&nbsp;&lt;ChouetteRoute&gt;</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Vérification:</u> </font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si l’élément «&nbsp;StopPoint&nbsp;» mentionné dans les champs
d’application est présent une ou plusieurs fois, poursuivre le test,
sinon le test est abandonné</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si l’identifiant du point d’arrêt détecté, figure dans un ou deux
tronçons «&nbsp;PtLink&nbsp;», poursuivre le test, sinon le test est
invalidé et fournit le message&nbsp;: «&nbsp;test 3.10.1a&nbsp;: le
point d’arrêt d’identifiant «&nbsp;ObjectId&nbsp;» est défini de
manière unique et ne retrouve pas dans au moins deux tronçons».</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si le ou les identifiants de tronçons identifiés précédemment sont
référencés dans un même élément «&nbsp;chouetteRoute&nbsp;» alors le
test est validé, sinon le test est invalidé et fournit le
message&nbsp;; «&nbsp;test 3.10.1b&nbsp;: les identifiants de tronçon
identifiés dans le 3.10.1a ne sont pas présents dans un même
itinéraire&nbsp;».</font></font></font></p><p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>N° test:</u></b> 
Test  3.10.2</font></font></font></p>


<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Libellé:</u> 
Vérification de boucle dans un itinéraire&nbsp;/Chouette&nbsp;</font></font></font></p>


<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2"><span style="text-decoration: underline;">Champ d’application:</span>&nbsp;&lt;StopPoint&gt;&nbsp;&lt;PtLink&gt;&nbsp;&lt;ChouetteRoute&gt;</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Vérification:</u> </font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si l’élément «&nbsp;ChouetteRoute&nbsp;» mentionné dans les champs
d’application est présent une ou plusieurs fois, poursuivre le test,
sinon le test est abandonné.</font></font></font></p><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">-
Si pour l’élément «&nbsp;chouetteRoute&nbsp;», la liste des tronçons
«&nbsp;PtLink&nbsp;» utilise des points d’arrêt «&nbsp;StopPoint&nbsp;»
ayant la même valeur d’attribut que l’élément «&nbsp;containedIn&nbsp;»
alors le test fournit le message d’avertissement&nbsp;: «&nbsp; test
3.10.2&nbsp;: des tronçons «&nbsp;PtLink&nbsp;» utilisent des points
d’arrêt «&nbsp;StopPoint&nbsp;» ayant la même valeur d’attribut que
l’élément «&nbsp;containedIn&nbsp;»&nbsp;».</font></font></font><br><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">-  Sinon le test est validé</font></font></font>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>N° test:</u></b> 
Test  3.10.3</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Libellé:</u> 
Vérification  de la distance entre points d’arrêt d’un même itinéraire&nbsp;/Chouette</font></font></font></p>



<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2"><span style="text-decoration: underline;">
Champ d’application:</span>&nbsp;&lt;StopPoint&gt;&nbsp;&lt;PtLink&gt;&nbsp;&lt;ChouetteRoute&gt;</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Vérification:</u> </font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si l’élément «&nbsp;chouetteRoute&nbsp;» mentionné dans les champs
d’application est présent une ou plusieurs fois, poursuivre le test,
sinon le test est abandonné.</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si pour l’objet «&nbsp;chouetteRoute&nbsp;», la liste des tronçons
«&nbsp;PtLink&nbsp;» utilise des points d’arrêt «&nbsp;StopPoint&nbsp;»
proches entre eux (la distance spatiale entre point d’arrêt à partir
des valeurs des attributs des éléments «&nbsp;longitude&nbsp;»,
«&nbsp;latitude» et «&nbsp;lonLatType&nbsp;» inférieure à XX) alors le
test fournit le message d’avertissement «&nbsp;des points d’arrêt
«&nbsp;StopPoint&nbsp;», utilisés par des tronçons d’itinéraire, sont
proches les uns des autres d’une distance inférieure à une valeur
paramétrable XX&nbsp;».</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
-  Sinon le test est validé</font></font></font></p>
