<h1 class="western" style="border: 1pt solid rgb(0, 0, 0); padding: 0.05cm 0.12cm; margin-top: 0.21cm;" align="center">
<font face="Arial, sans-serif"><font style="font-size: 20pt;" size="5"><i>
 point de contrôle N° 3.11<br>
Détection des retours en  arrière  <br>
</i></font></font></h1>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Objectif: </b></u>
Signaler que sur un Itinéraire/Chouette («&nbsp;ChouetteRoute&nbsp;»)
le ou les MISSIONs COMMERCIALEs («&nbsp;JourneyPattern&nbsp;»)
comportent des retours en arrière<br>
</font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Priorité: </b></u> Obligatoire</font></p><font face="Arial, sans-serif">
</font><p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><u><b>Explications:</b></u> 
</font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">Une
MISSION COMMERCIALE (« JourneyPattern ») comporte une liste de POINTs
D’ARRÊT SUR PARCOURS (« StopPoint ») ordonnés, décrivant le plan de
déplacement pour les véhicules de transport public. Une MISSION
COMMERCIALE (« JourneyPattern ») peut passer par un POINT D’ARRÊT SUR
PARCOURS (« StopPoint ») plus d’une fois. Un retour en arrière consiste
donc à repasser sur des POINTs D’ARRÊT SUR PARCOURS (« StopPoint »)
déjà utilisés.&nbsp;</font></font></font></p><p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">On peut donc signaler les MISSIONs COMMERCIALEs qui comportent des
POINTs D’ARRÊT SUR PARCOURS utilisés au moins deux fois (POINTs D’ARRÊT
SUR PARCOURS dont les identifiants sont identiques).</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>Exemple: </u></b></font></font></font></p>
<p><font face="Arial, sans-serif"><img src="image022.jpg" height="306" width="302"></font></p>
<p><font face="Arial, sans-serif"><img src="image023.jpg" height="502" width="402"></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>N° test:</u></b> 
Test 3.11.1</font></font></font></p>





<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Libellé:</u> Vérification de l’utilisation répétitive de&nbsp;POINTs
D’ARRÊT SUR PARCOURS&nbsp;d’un
Itinéraire&nbsp;/Chouette&nbsp;(«&nbsp;ChouetteRoute&nbsp;»)&nbsp;</font></font></font></p>


<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2"><span style="text-decoration: underline;">
Champ d’application:</span>&nbsp;&lt;PtLink&gt;&nbsp;&lt;ChouetteRoute&gt;</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Vérification:</u> </font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si l’élément «&nbsp;ChouetteRoute&nbsp;» mentionné dans les champs
d’application est présent une ou plusieurs fois, poursuivre le test,
sinon le test est abandonné.</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si pour l’objet «&nbsp;ChouetteRoute&nbsp;», la liste des tronçons
«&nbsp;PtLink&nbsp;» utilise des points d’arrêt «&nbsp;StopPoint&nbsp;»
identiques plus de deux fois alors le test fournit le message
d’avertissement «&nbsp;test 3.11.1&nbsp;: les tronçons
«&nbsp;PtLink&nbsp;» d’un itinéraire utilisent des points d’arrêt
«&nbsp;StopPoint&nbsp;» identiques plus de deux fois&nbsp;».</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Sinon le test est validé</font></font></font></p>
