<h1 class="western" style="border: 1pt solid rgb(0, 0, 0); padding: 0.05cm 0.12cm; margin-top: 0.21cm;" align="center">
<font face="Arial, sans-serif"><font style="font-size: 20pt;" size="5"><i>
 point de contrôle N° 3.15<br>
Cohérence des horaires<br>
</i></font></font></h1>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Objectif: </b></u>
Vérifier que les <span style="color: black;">HEUREs DE PASSAGE GRAPHIQUEEs/Chouette   («&nbsp;VehicleJourneyAtStop&nbsp;») <br>
sont   cohérentes (pas de temps de parcours aberrant et pas de retour en arrière   dans le temps)<br>
</span></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Priorité: </b></u> Obligatoire</font><br>
</p><font face="Arial, sans-serif"></font><p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><u><b>Explications:</b></u> 
</font></font></p>








<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Dans  chaque COURSE («&nbsp;VehicleJourney&nbsp;») du fichier , il faut vérifier  que les&nbsp;HEUREs DE PASSAGE GRAPHIQUEEs/Chouette  («&nbsp;VehicleJourneyAtStop&nbsp;»)&nbsp;pour chaque POINT D’ARRÊT SUR  PARCOURS («&nbsp;StopPoint&nbsp;»)&nbsp;sont
dans un ordre chronologique et que les écarts horaires entre 2 POINTs
D’ARRÊT SUR PARCOURS («&nbsp;StopPoint&nbsp;»)&nbsp;consécutifs  ne sont pas aberrants (fixer pour cela un seuil)</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>Exemple: </u></b></font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Exemple  de définition  à partir d’un fichier XML sur le RER A</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
L’horaire du premier point d’arrêt dans la course est 8H00, l’horaire
du second est 8H01. On constate que les horaires sont chronologiques</font></font></font></p>
<p><font face="Arial, sans-serif"><img src="image020.jpg" height="338" width="433"></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>N° test:</u></b> 
Test 3.15.1</font></font></font></p>


<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Libellé:</u> 
Vérification de cohérence des <span style="color: black;">HEUREs DE PASSAGE GRAPHIQUEEs/Chouette  («&nbsp;VehicleJourneyAtStop&nbsp;»)</span> d’une  COURSE («&nbsp;VehicleJourney&nbsp;») pour chaque POINT D’ARRÊT SUR PARCOURS  («&nbsp;StopPoint&nbsp;»)</font></font></font></p>


<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2"><span style="text-decoration: underline;">
Champ d’application:</span>&nbsp;&lt;VehicleJourneyAtStop&gt;</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Vérification:</u> </font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si l’élément «&nbsp;VehicleJourneyAtStop&nbsp;», mentionné dans les
champs d’application, est présent une ou plusieurs fois, poursuivre le
test, sinon le test est abandonné.</font></font></font></p><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">  </font></font></font><p class="MsoBodyText3" style="text-align: justify;"><span style="font-family: &quot;Tahoma&quot;,&quot;sans-serif&quot;;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">-
Si dans l’élément «&nbsp;VehicleJourneyAtStop&nbsp;» identifié, la
différence absolue entre la valeur de l’attribut de l’élément
«&nbsp;arrivalTime&nbsp;» et la valeur de l’attribut de l’élément
«&nbsp;departureTime&nbsp;» est inférieure à une valeur paramétrable
XX, le test est validé, sinon le test est invalidé et fournit le
message&nbsp;: «&nbsp;test 3.15.1&nbsp;: la différence absolue entre la
valeur de l’attribut de l’élément «&nbsp;arrivalTime&nbsp;» et la
valeur de l’attribut de l’élément «&nbsp;departureTime&nbsp;» est
supérieure à une valeur paramétrable XX&nbsp;».</font></font></font></span></p>
