<div class=WordSection1>
</span></b>

<p class=MsoTitle><span style='font-size:14.0pt;font-family:"Tahoma","sans-serif"'>Fiche
du point de contr&ocirc;le N&deg; 3.15</span></p>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=647
 style='width:485.45pt;border-collapse:collapse;border:none'>
 <tr style='page-break-inside:avoid'>
  <td width=647 colspan=2 valign=top style='width:485.45pt;border:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center'><i><span style='color:navy'>Description</span></i></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>Intitul&eacute;</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt'><span style='font-size:11.0pt;
  line-height:200%;font-family:"Tahoma","sans-serif"'>Coh&eacute;rence des horaires</span></p>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>Objectif</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif";font-weight:normal'>V&eacute;rifier que les <span
  style='color:black'>HEUREs DE PASSAGE GRAPHIQUEEs/Chouette
  (&laquo;&nbsp;VehicleJourneyAtStop&nbsp;&raquo;)</span></span><span style='font-size:
  11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'> </span><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'> sont
  coh&eacute;rentes (pas de temps de parcours aberrant et pas de retour en arri&egrave;re
  dans le temps)</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>R&eacute;f&eacute;rences</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif";font-weight:normal'>TRIDENT/profil CHOUETTE/Transmodel
  V4 et V5.1</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>N&deg; de fiche(s) connexe(s)</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='text-align:left'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif";font-weight:normal'>&nbsp;</span></h1>
  <h1 align=left style='text-align:left'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif";font-weight:normal'>&nbsp;</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt'><b><span style='font-family:
  "Tahoma","sans-serif"'>Priorit&eacute;<span style='color:red'> </span></span></b></p>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif";font-weight:normal'>Obligatoire</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt'><b><span style='font-family:
  "Tahoma","sans-serif"'>R&eacute;sultat</span></b></p>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif";font-weight:normal'>D&eacute;livrance d&rsquo;un avertissement de
  mise en garde sur des cons&eacute;quences &eacute;ventuelles de dysfonctionnement</span></h1>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=647 colspan=2 valign=top style='width:485.45pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center'><i><span style='color:navy'>Mise en &oelig;uvre</span></i></h1>
  </td>
 </tr>
 <tr>
  <td width=100 style='width:74.85pt;border:solid windowtext 1.0pt;border-top:
  none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>Explication</span></h1>
  </td>
  <td width=547 style='width:410.6pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm'><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>Dans
  chaque COURSE (&laquo;&nbsp;VehicleJourney&nbsp;&raquo;) du fichier , il faut v&eacute;rifier
  que les </span><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
  color:black'>HEUREs DE PASSAGE GRAPHIQUEEs/Chouette
  (&laquo;&nbsp;VehicleJourneyAtStop&nbsp;&raquo;)</span><b><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'> </span></b><b><span style='font-size:
  11.0pt;font-family:"Tahoma","sans-serif"'> </span></b><span style='font-size:
  11.0pt;font-family:"Arial","sans-serif"'>pour chaque POINT D&rsquo;ARR&Ecirc;T SUR
  PARCOURS (&laquo;&nbsp;StopPoint&nbsp;&raquo;)</span><b><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'> </span></b><span style='font-size:11.0pt;
  font-family:"Arial","sans-serif"'> sont dans un ordre chronologique et que
  les &eacute;carts horaires entre 2 POINTs D&rsquo;ARR&Ecirc;T SUR PARCOURS
  (&laquo;&nbsp;StopPoint&nbsp;&raquo;)</span><span style='font-size:11.0pt;font-family:
  "Arial","sans-serif"'> </span><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'> cons&eacute;cutifs
  ne sont pas aberrants (fixer pour cela un seuil)</span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=638
 style='width:478.4pt;border-collapse:collapse;border:none'>
 <tr>
  <td width=108 valign=top style='width:81.35pt;border:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm'><b><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Exemple</span></b></p>
  </td>
  <td width=538 valign=top style='width:403.55pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h3 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm;text-indent:0cm'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Exemple
  de d&eacute;finition  &agrave; partir d&rsquo;un fichier XML sur le RER A</span></h3>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal><span lang=EN-US>&lt;VehicleJourney&gt;</span></p>
  <p class=MsoNormal><span lang=EN-US>&lt;objectId&gt;NINOXE:VehicleJourney:521875&lt;/objectId&gt;</span></p>
  <p class=MsoNormal><span lang=EN-US>&lt;objectVersion&gt;0&lt;/objectVersion&gt;</span></p>
  <p class=MsoNormal><span lang=EN-US>&lt;creationTime&gt;2007-06-28T17:18:56.000+02:00&lt;/creationTime&gt;</span></p>
  <p class=MsoNormal><span lang=EN-US>&lt;routeId&gt;NINOXE:Route:521753&lt;/routeId&gt;</span></p>
  <p class=MsoNormal><span lang=EN-US>&lt;number&gt;0&lt;/number&gt;</span></p>
  <p class=MsoNormal><span lang=EN-US>&lt;vehicleJourneyAtStop&gt;</span></p>
  <p class=MsoNormal><span lang=EN-US>&lt;stopPointId&gt;NINOXE:StopPoint:521802&lt;/stopPointId&gt;</span></p>
  <p class=MsoNormal><span lang=EN-US>&lt;vehicleJourneyId&gt;NINOXE:VehicleJourney:521875&lt;/vehicleJourneyId&gt;</span></p>
  <p class=MsoNormal><span lang=EN-US>&lt;arrivalTime&gt;08:00:00&lt;/arrivalTime&gt;</span></p>
  <p class=MsoNormal><span lang=EN-US>&lt;departureTime&gt;08:00:00&lt;/departureTime&gt;</span></p>
  <p class=MsoNormal><span lang=EN-US>&lt;/vehicleJourneyAtStop&gt;</span></p>
  <p class=MsoNormal><span lang=EN-US>&lt;vehicleJourneyAtStop&gt;</span></p>
  <p class=MsoNormal><span lang=EN-US>&lt;stopPointId&gt;NINOXE:StopPoint:521803&lt;/stopPointId&gt;</span></p>
  <p class=MsoNormal><span lang=EN-US>&lt;vehicleJourneyId&gt;NINOXE:VehicleJourney:521875&lt;/vehicleJourneyId&gt;</span></p>
  <p class=MsoNormal><span lang=EN-US>&lt;arrivalTime&gt;08:01:00&lt;/arrivalTime&gt;</span></p>
  <p class=MsoNormal>&lt;departureTime&gt;08:01:00&lt;/departureTime&gt;</p>
  <p class=MsoNormal>&lt;/vehicleJourneyAtStop&gt;</p>
  <p class=MsoNormal>……..</p>
  <p class=MsoNormal>………</p>
  <p class=MsoNormal>&lt;VehicleJourney&gt;</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>L&rsquo;horaire
  du premier point d&rsquo;arr&ecirc;t dans la course est 8H00, l&rsquo;horaire du second est
  8H01. On constate que les horaires sont chronologiques</span></p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal align=center style='text-align:center'><img width=433
  height=338 src="image020.jpg"></p>
  <p class=MsoNormal align=center style='text-align:center'>&nbsp;</p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=638 colspan=2 valign=top style='width:478.4pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h2 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center'><i><span lang=EN-US style='font-size:14.0pt;
  color:navy'>Evaluation</span></i></h2>
  </td>
 </tr>
 <tr>
  <td width=100 valign=top style='width:74.85pt;border:solid windowtext 1.0pt;
  border-top:none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span lang=EN-US style='font-size:11.0pt'>N&deg; test</span></h1>
  </td>
  <td width=538 style='width:403.55pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 align=left style='text-align:left'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif";font-weight:normal'>Test 3.15.1</span></h1>
  </td>
 </tr>
 <tr>
  <td width=100 valign=top style='width:74.85pt;border:solid windowtext 1.0pt;
  border-top:none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span style='font-size:11.0pt'>Libell&eacute;</span></h1>
  </td>
  <td width=538 style='width:403.55pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif";font-weight:normal'>V&eacute;rification de coh&eacute;rence des <span
  style='color:black'>HEUREs DE PASSAGE GRAPHIQUEEs/Chouette
  (&laquo;&nbsp;VehicleJourneyAtStop&nbsp;&raquo;)</span></span><span style='font-size:
  11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'> </span><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'> d&rsquo;une
  COURSE (&laquo;&nbsp;VehicleJourney&nbsp;&raquo;) pour chaque POINT D&rsquo;ARR&Ecirc;T SUR PARCOURS
  (&laquo;&nbsp;StopPoint&nbsp;&raquo;)</span></h1>
  </td>
 </tr>
 <tr>
  <td width=100 valign=top style='width:74.85pt;border:solid windowtext 1.0pt;
  border-top:none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span style='font-size:11.0pt'>Champ d&rsquo;application</span></h1>
  </td>
  <td width=538 valign=top style='width:403.55pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&lt;VehicleJourneyAtStop&gt;</span></p>
  <h1><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
  font-weight:normal'>&nbsp;</span></h1>
  </td>
 </tr>
 <tr>
  <td width=100 valign=top style='width:74.85pt;border:solid windowtext 1.0pt;
  border-top:none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span style='font-size:11.0pt'>V&eacute;rification</span></h1>
  </td>
  <td width=538 valign=top style='width:403.55pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <p class=MsoBodyText>&nbsp;</p>
  <p class=MsoBodyText>- Si l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;VehicleJourneyAtStop&nbsp;&raquo;,
  mentionn&eacute; dans les champs d&rsquo;application, est pr&eacute;sent une ou plusieurs fois,
  poursuivre le test, sinon le test est abandonn&eacute;.</p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>
  <p class=MsoBodyText3 style='text-align:justify'><span style='font-family:
  "Tahoma","sans-serif"'>- Si dans l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;VehicleJourneyAtStop&nbsp;&raquo;
  identifi&eacute;, la diff&eacute;rence absolue entre la valeur de l&rsquo;attribut de l&rsquo;&eacute;l&eacute;ment
  &laquo;&nbsp;arrivalTime&nbsp;&raquo; et la valeur de l&rsquo;attribut de l&rsquo;&eacute;l&eacute;ment
  &laquo;&nbsp;departureTime&nbsp;&raquo; est inf&eacute;rieure &agrave; une valeur param&eacute;trable XX, le
  test est valid&eacute;, sinon le test est invalid&eacute; et fournit le message&nbsp;:
  &laquo;&nbsp;test 3.15.1&nbsp;: la diff&eacute;rence absolue entre la valeur de l&rsquo;attribut
  de l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;arrivalTime&nbsp;&raquo; et la valeur de l&rsquo;attribut de
  l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;departureTime&nbsp;&raquo; est sup&eacute;rieure &agrave; une valeur
  param&eacute;trable XX&nbsp;&raquo;.</span></p>
  <h1 align=left style='text-align:left'><i><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>&nbsp;</span></i></h1>
  <p class=MsoNormal><b><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>&nbsp;</span></b></p>
  </td>
 </tr>
</table>


</div>
