<div class=WordSection1>
</span></b>

<p class=MsoTitle><span style='font-size:14.0pt;font-family:"Tahoma","sans-serif"'>Fiche
du point de contr&ocirc;le N&deg;3.16</span></p>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=647
 style='width:485.45pt;border-collapse:collapse;border:none'>
 <tr style='page-break-inside:avoid'>
  <td width=647 colspan=2 valign=top style='width:485.45pt;border:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center'><i><span style='color:navy'>Description</span></i></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>Intitul&eacute;</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt'><span style='font-size:11.0pt;
  line-height:200%;font-family:"Tahoma","sans-serif"'>Coh&eacute;rence des courses</span></p>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:5.65pt 11.35pt 5.65pt 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>Objectif</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:5.65pt 11.35pt 5.65pt 3.5pt;height:37.4pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
  font-weight:normal'>V&eacute;rifier que les COURSEs (&laquo;&nbsp;VehicleJourney&nbsp;&raquo;)
  sont coh&eacute;rentes entre elles c&rsquo;est &agrave; dire que si deux COURSEs utilisent le
  m&ecirc;me TRONCON COMMERCIAL/Chouette (&laquo;&nbsp;PtLink&nbsp;&raquo;) A -&gt; B, les temps
  de parcours entre un POINT D&rsquo;ARR&Ecirc;T SUR PARCOURS (&laquo;&nbsp;StopPoint&nbsp;&raquo;) A
  et un POINT D&rsquo;ARR&Ecirc;T SUR PARCOURS (&laquo;&nbsp;StopPoint&nbsp;&raquo;) B doivent &ecirc;tre
  coh&eacute;rents et signaler les journ&eacute;es sans COURSE.</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>R&eacute;f&eacute;rences</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif";font-weight:normal'>TRIDENT/profil CHOUETTE/Transmodel
  V4 et V5.1</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>N&deg; de fiche(s) connexe(s)</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='text-align:left'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif";font-weight:normal'>&nbsp;</span></h1>
  <h1 align=left style='text-align:left'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif";font-weight:normal'>&nbsp;</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt'><b><span style='font-family:
  "Tahoma","sans-serif"'>Priorit&eacute;<span style='color:red'> </span></span></b></p>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif";font-weight:normal'>Obligatoire</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt'><b><span style='font-family:
  "Tahoma","sans-serif"'>R&eacute;sultat</span></b></p>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif";font-weight:normal'>D&eacute;livrance d&rsquo;un avertissement de
  mise en garde sur des cons&eacute;quences &eacute;ventuelles de dysfonctionnement</span></h1>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=647 colspan=2 valign=top style='width:485.45pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center'><i><span style='font-family:"Tahoma","sans-serif";
  color:navy'>Mise en &oelig;uvre</span></i></h1>
  </td>
 </tr>
 <tr>
  <td width=100 style='width:74.85pt;border:solid windowtext 1.0pt;border-top:
  none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>Explication</span></h1>
  </td>
  <td width=547 style='width:410.6pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt;text-align:justify;line-height:
  normal'><span style='font-family:"Tahoma","sans-serif"'>Si un TRONCON
  COMMERCIAL/Chouette (&laquo;&nbsp;PtLink&nbsp;&raquo;) A -&gt; B se retrouve dans
  plusieurs COURSEs(&laquo;&nbsp;VehicleJourney&nbsp;&raquo;), il faut v&eacute;rifier que les
  &eacute;carts horaires entre ces 2 POINTs D&rsquo;ARR&Ecirc;T SUR PARCOURS
  (&laquo;&nbsp;StopPoint&nbsp;&raquo;)<b> </b>sont coh&eacute;rents (fixer une fourchette de
  tol&eacute;rance). </span></p>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm;text-align:justify'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>On v&eacute;rifie qu&rsquo;il y a des COURSEs pour une
  journ&eacute;e donn&eacute;e dans la VERSION DES HORAIRES/Chouette
  (&laquo;&nbsp;Timetable&nbsp;&raquo;).</span></p>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>&nbsp;</span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=647
 style='width:485.45pt;border-collapse:collapse;border:none'>
 <tr>
  <td width=115 valign=top style='width:86.0pt;border:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm'><b><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Exemple</span></b></p>
  </td>
  <td width=533 valign=top style='width:399.45pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=left style='margin-left:18.0pt;text-align:left;text-indent:-18.0pt'><span
  style='font-size:11.0pt;font-weight:normal'>&nbsp;</span></h1>
  <p class=MsoNormal align=center style='text-align:center'><img width=432
  height=454 src="/assets/test_sheet/image025.jpg"></p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal align=center style='text-align:center'><img width=433
  height=338 src="/assets/test_sheet/image020.jpg"></p>
  <p class=MsoNormal>&nbsp;</p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=647 colspan=2 valign=top style='width:485.45pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h2 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center'><i><span lang=EN-US style='font-size:14.0pt;
  color:navy'>Evaluation</span></i></h2>
  </td>
 </tr>
 <tr>
  <td width=115 valign=top style='width:86.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span lang=EN-US style='font-size:11.0pt'>N&deg; test</span></h1>
  </td>
  <td width=533 style='width:399.45pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 align=left style='text-align:left'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif";font-weight:normal'>Test 3.16.1</span></h1>
  </td>
 </tr>
 <tr>
  <td width=115 valign=top style='width:86.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span style='font-size:11.0pt'>Libell&eacute;</span></h1>
  </td>
  <td width=533 style='width:399.45pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif";font-weight:normal'>Coh&eacute;rence horaire pour 2 COURSEs
  (&laquo;&nbsp;VehicleJourney&nbsp;&raquo;) utilisant le m&ecirc;me couple de POINTs D&rsquo;ARR&Ecirc;T SUR
  PARCOURS (&laquo;&nbsp;StopPoint&nbsp;&raquo;)</span></h1>
  </td>
 </tr>
 <tr>
  <td width=115 valign=top style='width:86.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span style='font-size:11.0pt'>Champ d&rsquo;application</span></h1>
  </td>
  <td width=533 valign=top style='width:399.45pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
  font-weight:normal'>&nbsp;</span></h1>
  <h1><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
  font-weight:normal'>&lt;</span><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif";font-weight:normal'>vehicleJourneyAtStop</span><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>&gt;</span></h1>
  <p class=MsoNormal><span style='font-family:"Tahoma","sans-serif"'>&nbsp;</span></p>
  </td>
 </tr>
 <tr>
  <td width=115 valign=top style='width:86.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span style='font-size:11.0pt'>V&eacute;rification</span></h1>
  </td>
  <td width=533 valign=top style='width:399.45pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
  font-weight:normal'>&nbsp;</span></h1>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
  font-family:"Arial","sans-serif"'>- Si le fichier contient au moins deux
  objets &laquo;&nbsp;vehicleJourney&nbsp;&raquo; incluant au moins deux objets
  &laquo;&nbsp;vehicleJourneyAtStop&nbsp;&raquo; cons&eacute;cutifs, poursuivre le test, sinon le
  test est abandonn&eacute;.</span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
  font-family:"Arial","sans-serif"'>&nbsp;</span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
  font-family:"Arial","sans-serif"'>- Si pour deux objets
  &laquo;&nbsp;vehicleJourneyAtStop&nbsp;&raquo; successifs d&rsquo;une course
  &laquo;&nbsp;vehicleJourney&nbsp;&raquo;, il existe un autre couple
  &laquo;&nbsp;vehicleJourneyAtStop&nbsp;&raquo; successifs d&rsquo;une autre course
  &laquo;&nbsp;vehicleJourney&nbsp;&raquo; tel que les deux premiers
  &laquo;&nbsp;vehicleJourneyAtStop&nbsp;&raquo; poss&egrave;dent la m&ecirc;me valeur de l&rsquo;attribut de
  l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;stopPointId&nbsp;&raquo; et que les deux deuxi&egrave;mes
  &laquo;&nbsp;vehicleJourneyAtStop&nbsp;&raquo; poss&egrave;dent la m&ecirc;me valeur de l&rsquo;attribut de
  l&rsquo;&eacute;l&eacute;ment &lt;stopPointId&gt;, alors la diff&eacute;rence absolue entre la valeur de
  l&rsquo;attribut de l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;departureTime&nbsp;&raquo; du premier point d&rsquo;arr&ecirc;t
  et la valeur de l&rsquo;attribut de l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;arrivalTime&nbsp;&raquo; du second
  point d&rsquo;arr&ecirc;t du premier couple &laquo;&nbsp;vehicleJourneyAtStop&nbsp;&raquo; doit &ecirc;tre
  proche de la diff&eacute;rence absolue entre la valeur de l&rsquo;attribut de l&rsquo;&eacute;l&eacute;ment
  &laquo;&nbsp;departureTime&nbsp;&raquo; du premier point d&rsquo;arr&ecirc;t et la valeur de
  l&rsquo;attribut de l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;arrivalTime&nbsp;&raquo; du second point d&rsquo;arr&ecirc;t du
  deuxi&egrave;me couple &laquo;&nbsp;vehicleJourneyAtStop&nbsp;&raquo;, le test est valid&eacute;, sinon
  le test est invalid&eacute; et fournit le message d&rsquo;avertissement&nbsp;: &laquo;&nbsp;test
  3.16.1&nbsp;: pour deux courses qui utilisent le m&ecirc;me couple de points  A
  -&gt; B, les temps de parcours entre le point A et le point B ne sont pas 
  coh&eacute;rents&nbsp;&raquo;.</span></p>
  <p class=MsoNormal style='text-align:justify'><b><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>&nbsp;</span></b></p>
  </td>
 </tr>
 <tr>
  <td width=115 valign=top style='width:86.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1><span style='font-size:11.0pt;font-weight:normal'>&nbsp;</span></h1>
  </td>
  <td width=533 valign=top style='width:399.45pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <h1><span style='font-size:11.0pt;font-weight:normal'>&nbsp;</span></h1>
  </td>
 </tr>
 <tr>
  <td width=115 valign=top style='width:86.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span lang=EN-US style='font-size:11.0pt'>N&deg; test</span></h1>
  </td>
  <td width=533 style='width:399.45pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 align=left style='text-align:left'><span lang=EN-US style='font-size:
  11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>Test 3.16.2</span></h1>
  </td>
 </tr>
 <tr>
  <td width=115 valign=top style='width:86.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span style='font-size:11.0pt'>Libell&eacute;</span></h1>
  </td>
  <td width=533 style='width:399.45pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif";font-weight:normal'>V&eacute;rification que la VERSION DES
  HORAIREs/Chouette (&laquo;&nbsp;Timetable&nbsp;&raquo;) contient des COURSEs
  (&laquo;&nbsp;VehicleJourney&nbsp;&raquo;)</span></h1>
  </td>
 </tr>
 <tr>
  <td width=115 valign=top style='width:86.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span style='font-size:11.0pt'>Champ d&rsquo;application</span></h1>
  </td>
  <td width=533 valign=top style='width:399.45pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
  font-weight:normal'>&nbsp;</span></h1>
  <h1><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
  font-weight:normal'>&lt;vehicleJourney&gt;</span></h1>
  <p class=MsoNormal><u><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>&lt;Timetable&gt;</span></u></p>
  <p class=MsoNormal><u><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'><span
   style='text-decoration:none'>&nbsp;</span></span></u></p>
  </td>
 </tr>
 <tr>
  <td width=115 valign=top style='width:86.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span style='font-size:11.0pt'>V&eacute;rification</span></h1>
  </td>
  <td width=533 valign=top style='width:399.45pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
  font-weight:normal'>&nbsp;</span></h1>
  <p class=MsoBodyText>- Si l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;vehicleJourney&nbsp;&raquo;, mentionn&eacute;
  dans les champs d&rsquo;application, est pr&eacute;sent une ou plusieurs fois , poursuivre
  le test, sinon le test est abandonn&eacute;.</p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
  font-family:"Arial","sans-serif"'>&nbsp;</span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
  font-family:"Arial","sans-serif"'>- Si l&rsquo;identifiant de l&rsquo;objet &laquo;&nbsp;</span><span
  style='font-size:11.0pt;font-family:"Arial","sans-serif"'>vehicleJourney</span><span
  style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;&raquo; d&eacute;tect&eacute; est
  pr&eacute;sent dans l&rsquo;objet &laquo;&nbsp;TimeTable&nbsp;&raquo;, le test est valid&eacute;, sinon le
  test est invalid&eacute; et fournit un message d&rsquo;avertissement &laquo;&nbsp;test
  3.16.2&nbsp;: La course &laquo;&nbsp;</span><span style='font-size:11.0pt;
  font-family:"Arial","sans-serif"'>vehicleJourney</span><span
  style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;&raquo; dont
  l&rsquo;identifiant est &laquo;&nbsp;ObjecId&nbsp;&raquo; n&rsquo;est pas r&eacute;f&eacute;renc&eacute;e dans l&rsquo;objet
  &laquo;&nbsp;TimeTable&nbsp;&raquo;&nbsp;&raquo;.</span></p>
  <p class=MsoNormal style='text-align:justify'><b><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>&nbsp;</span></b></p>
  </td>
 </tr>
 <tr>
  <td width=115 valign=top style='width:86.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span lang=EN-US style='font-size:11.0pt'>N&deg; test</span></h1>
  </td>
  <td width=533 style='width:399.45pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=left style='text-align:left'><span lang=EN-US style='font-size:
  11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>Test 3.16.3</span></h1>
  </td>
 </tr>
 <tr>
  <td width=115 valign=top style='width:86.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span style='font-size:11.0pt'>Libell&eacute;</span></h1>
  </td>
  <td width=533 valign=top style='width:399.45pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif";font-weight:normal'>V&eacute;rification de coh&eacute;rence des
  HEUREs DE PASSAGE GRAPHIQUEEs/Chouette (&laquo;&nbsp;VehicleJourneyAtStop&nbsp;&raquo;)
  entre 2 POINTs D&rsquo;ARR&Ecirc;T SUR PARCOURS (&laquo;&nbsp;StopPoint&nbsp;&raquo;) cons&eacute;cutifs dans
  une COURSE (&laquo;&nbsp;VehicleJourney&nbsp;&raquo;)</span></h1>
  </td>
 </tr>
 <tr>
  <td width=115 valign=top style='width:86.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span style='font-size:11.0pt'>Champ d&rsquo;application</span></h1>
  </td>
  <td width=533 valign=top style='width:399.45pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&lt;VehicleJourney&gt;</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&lt;VehicleJourneyAtStop&gt;</span></p>
  <h1><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
  font-weight:normal'>&nbsp;</span></h1>
  </td>
 </tr>
 <tr>
  <td width=115 valign=top style='width:86.0pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span style='font-size:11.0pt'>V&eacute;rification</span></h1>
  </td>
  <td width=533 valign=top style='width:399.45pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <h1><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
  font-weight:normal'>&nbsp;</span></h1>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
  font-family:"Arial","sans-serif"'>- Si le fichier contient un &eacute;l&eacute;ment
  &laquo;&nbsp;vehicleJourney&nbsp;&raquo; incluant au moins deux &eacute;l&eacute;ments  
  &laquo;&nbsp;vehicleJourneyAtStop&nbsp;&raquo; cons&eacute;cutifs, poursuivre le test, sinon le
  test est abandonn&eacute;.</span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-family:"Tahoma","sans-serif"'>&nbsp;</span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
  font-family:"Arial","sans-serif"'>- Si entre deux &eacute;l&eacute;ments
  &laquo;&nbsp;vehicleJourneyAtStop&nbsp;&raquo; successifs, la diff&eacute;rence absolue entre la
  valeur de l&rsquo;attribut de l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;departureTime&nbsp;&raquo; du premier
  point d&rsquo;arr&ecirc;t et la valeur de l&rsquo;attribut de l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;arrivalTime&nbsp;&raquo;
  du second point d&rsquo;arr&ecirc;t est inf&eacute;rieur &agrave; une valeur param&eacute;trable  ZZ,
  poursuivre le test, sinon le test est invalid&eacute; et fournit le message&nbsp;:
  &laquo;&nbsp;test 3.16.3a&nbsp;:  entre deux &eacute;l&eacute;ments
  &laquo;&nbsp;vehicleJourneyAtStop&nbsp;&raquo; successifs, la diff&eacute;rence absolue entre la
  valeur de l&rsquo;attribut de l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;departureTime&nbsp;&raquo; du premier
  point d&rsquo;arr&ecirc;t et la valeur de l&rsquo;attribut de l&rsquo;&eacute;l&eacute;ment
  &laquo;&nbsp;arrivalTime&nbsp;&raquo; du second point d&rsquo;arr&ecirc;t est sup&eacute;rieure &agrave; une valeur
  param&eacute;trable ZZ&nbsp;&raquo;</span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
  font-family:"Arial","sans-serif"'>&nbsp;</span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
  font-family:"Arial","sans-serif"'>- Si entre deux &eacute;l&eacute;ments
  &laquo;&nbsp;vehicleJourneyAtStop&nbsp;&raquo; successifs, la valeur de l&rsquo;attribut de
  l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;departureTime&nbsp;&raquo; du premier point d&rsquo;arr&ecirc;t est inf&eacute;rieure
  (ou &eacute;gale, dans le cas de points rapproch&eacute;s) &agrave; la valeur de l&rsquo;attribut de
  l&rsquo;&eacute;l&eacute;ment &lt;arrivalTime&gt; du second point d&rsquo;arr&ecirc;t alors le test est
  valid&eacute;, sinon poursuivre le test.</span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-family:"Tahoma","sans-serif"'>&nbsp;</span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
  font-family:"Arial","sans-serif"'>- Si entre deux &eacute;l&eacute;ments
  &laquo;&nbsp;vehicleJourneyAtStop&nbsp;&raquo; successifs, la valeur de l&rsquo;attribut de
  l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;departureTime&nbsp;&raquo; du premier point d&rsquo;arr&ecirc;t est sup&eacute;rieure
  &agrave; la valeur de l&rsquo;attribut de l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;arrivalTime&nbsp;&raquo; du second point
  d&rsquo;arr&ecirc;t et que  la valeur de l&rsquo;attribut de l&rsquo;&eacute;l&eacute;ment
  &laquo;&nbsp;arrivalTime&nbsp;&raquo; du second point d&rsquo;arr&ecirc;t est inf&eacute;rieure &agrave; une valeur
  param&eacute;trable WW alors le test est valid&eacute;, sinon le test est invalid&eacute; et
  fournit le message&nbsp;: &laquo;&nbsp;test 3.16.3b&nbsp;: entre deux &eacute;l&eacute;ments
  &laquo;&nbsp;vehicleJourneyAtStop&nbsp;&raquo; successifs, la valeur de l&rsquo;attribut de
  l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;departureTime&nbsp;&raquo; du premier point d&rsquo;arr&ecirc;t est inf&eacute;rieure
  &agrave; la valeur de l&rsquo;attribut de l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;arrivalTime&nbsp;&raquo; du second
  point d&rsquo;arr&ecirc;t ou la valeur de l&rsquo;attribut de l&rsquo;&eacute;l&eacute;ment
  &laquo;&nbsp;arrivalTime&nbsp;&raquo; du second point d&rsquo;arr&ecirc;t est sup&eacute;rieure &agrave; une valeur
  param&eacute;trable WW&nbsp;&raquo;</span></p>
  <p class=MsoNormal><b><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>&nbsp;</span></b></p>
  </td>
 </tr>
</table>


</div>
