<h1 class="western" style="border: 1pt solid rgb(0, 0, 0); padding: 0.05cm 0.12cm; margin-top: 0.21cm;" align="center">
<font face="Arial, sans-serif"><font style="font-size: 20pt;" size="5"><i>
 point de contrôle N°3.16<br>
Cohérence des courses<br>
</i></font></font></h1>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Objectif: </b></u>
Vérifier que les COURSEs («&nbsp;VehicleJourney&nbsp;») sont cohérentes
entre elles c’est à dire que si deux COURSEs utilisent le même TRONCON
COMMERCIAL/Chouette («&nbsp;PtLink&nbsp;») A -&gt; B, les temps de
parcours entre un POINT D’ARRÊT SUR PARCOURS («&nbsp;StopPoint&nbsp;»)
A et un POINT D’ARRÊT SUR PARCOURS («&nbsp;StopPoint&nbsp;») B doivent
être cohérents et signaler les journées sans COURSE.<br>
</font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Priorité: </b></u> Obligatoire</font></p><font face="Arial, sans-serif">
</font><p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><u><b>Explications:</b></u> 
</font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Si un TRONCON COMMERCIAL/Chouette («&nbsp;PtLink&nbsp;») A -&gt; B se
retrouve dans plusieurs COURSEs («&nbsp;VehicleJourney&nbsp;»), il faut
vérifier que les écarts horaires entre ces 2 POINTs D’ARRÊT SUR
PARCOURS («&nbsp;StopPoint&nbsp;»)<b> </b>sont cohérents (fixer une fourchette de  tolérance).</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
On vérifie qu’il y a des COURSEs pour une  journée donnée dans la VERSION DES HORAIRES/Chouette  («&nbsp;Timetable&nbsp;»).</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>Exemple: </u></b></font></font></font></p>
<p><font face="Arial, sans-serif"><img src="image025.jpg" height="454" width="432"></font></p>
<p><font face="Arial, sans-serif"><img src="image020.jpg" height="338" width="433"></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>N° test:</u></b> 
Test 3.16.1</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Libellé:</u> Cohérence horaire pour 2 COURSEs
(«&nbsp;VehicleJourney&nbsp;») utilisant le même couple de POINTs
D’ARRÊT SUR PARCOURS («&nbsp;StopPoint&nbsp;»)</font></font></font></p>





<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2"><span style="text-decoration: underline;">
Champ d’application:</span>&nbsp;&lt;VehicleJourneyAtStop&gt;&nbsp;&nbsp;</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Vérification:</u>&nbsp;</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si le fichier contient au moins deux objets
«&nbsp;vehicleJourney&nbsp;» incluant au moins deux objets
«&nbsp;vehicleJourneyAtStop&nbsp;» consécutifs, poursuivre le test,
sinon le test est abandonné.</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si pour deux objets «&nbsp;vehicleJourneyAtStop&nbsp;» successifs
d’une course «&nbsp;vehicleJourney&nbsp;», il existe un autre couple
«&nbsp;vehicleJourneyAtStop&nbsp;» successifs d’une autre course
«&nbsp;vehicleJourney&nbsp;» tel que les deux premiers
«&nbsp;vehicleJourneyAtStop&nbsp;» possèdent la même valeur de
l’attribut de l’élément «&nbsp;stopPointId&nbsp;» et que les deux
deuxièmes «&nbsp;vehicleJourneyAtStop&nbsp;» possèdent la même valeur
de l’attribut de l’élément &lt;stopPointId&gt;, alors la différence
absolue entre la valeur de l’attribut de l’élément
«&nbsp;departureTime&nbsp;» du premier point d’arrêt et la valeur de
l’attribut de l’élément «&nbsp;arrivalTime&nbsp;» du second point
d’arrêt du premier couple «&nbsp;vehicleJourneyAtStop&nbsp;» doit être
proche de la différence absolue entre la valeur de l’attribut de
l’élément «&nbsp;departureTime&nbsp;» du premier point d’arrêt et la
valeur de l’attribut de l’élément «&nbsp;arrivalTime&nbsp;» du second
point d’arrêt du deuxième couple «&nbsp;vehicleJourneyAtStop&nbsp;», le
test est validé, sinon le test est invalidé et fournit le message
d’avertissement&nbsp;: «&nbsp;test 3.16.1&nbsp;: pour deux courses qui
utilisent le même couple de points A -&gt; B, les temps de parcours
entre le point A et le point B ne sont pas cohérents&nbsp;».</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>N° test:</u></b> 
Test 3.16.2</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Libellé:</u> Vérification que la VERSION DES HORAIREs/Chouette
(«&nbsp;Timetable&nbsp;») contient des COURSEs
(«&nbsp;VehicleJourney&nbsp;»)</font></font></font></p>







<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Champ d’application:&nbsp;&lt;vehicleJourney&gt; &lt;Timetable&gt;<br><br><u>Vérification:</u>&nbsp;</font></font></font></p>




<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">-
Si l’élément « vehicleJourney », mentionné dans les champs
d’application, est présent une ou plusieurs fois , poursuivre le test,
sinon le test est abandonné.</font></font></font></p><p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">- Si l’identifiant de l’objet «&nbsp;vehicleJourney&nbsp;»
détecté est présent dans l’objet «&nbsp;TimeTable&nbsp;», le test est
validé, sinon le test est invalidé et fournit un message
d’avertissement «&nbsp;test 3.16.2&nbsp;: La course «&nbsp;vehicleJourney&nbsp;» dont  l’identifiant est «&nbsp;ObjecId&nbsp;» n’est pas référencée dans l’objet  «&nbsp;TimeTable&nbsp;».</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>N° test:</u></b> 
Test 3.16.3</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Libellé:</u> Vérification de cohérence des HEUREs DE PASSAGE
GRAPHIQUEEs/Chouette («&nbsp;VehicleJourneyAtStop&nbsp;») entre 2
POINTs D’ARRÊT SUR PARCOURS («&nbsp;StopPoint&nbsp;») consécutifs dans
une COURSE («&nbsp;VehicleJourney&nbsp;»)</font></font></font></p>



<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2"><span style="text-decoration: underline;">
Champ d’application:&nbsp;</span>&nbsp;&lt;VehicleJourney&gt;&nbsp;&lt;VehicleJourneyAtStop&gt;</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Vérification:</u> </font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si le fichier contient un élément «&nbsp;vehicleJourney&nbsp;»
incluant au moins deux éléments «&nbsp;vehicleJourneyAtStop&nbsp;»
consécutifs, poursuivre le test, sinon le test est abandonné.</font></font></font></p>





<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si entre deux éléments «&nbsp;vehicleJourneyAtStop&nbsp;» successifs,
la différence absolue entre la valeur de l’attribut de l’élément
«&nbsp;departureTime&nbsp;» du premier point d’arrêt et la valeur de
l’attribut de l’élément «&nbsp;arrivalTime&nbsp;» du second point
d’arrêt est inférieur à une valeur paramétrable ZZ, poursuivre le test,
sinon le test est invalidé et fournit le message&nbsp;: «&nbsp;test
3.16.3a&nbsp;: entre deux éléments «&nbsp;vehicleJourneyAtStop&nbsp;»
successifs, la différence absolue entre la valeur de l’attribut de
l’élément «&nbsp;departureTime&nbsp;» du premier point d’arrêt et la
valeur de l’attribut de l’élément «&nbsp;arrivalTime&nbsp;» du second
point d’arrêt est supérieure à une valeur paramétrable ZZ&nbsp;</font></font></font></p><p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">-
Si entre deux éléments «&nbsp;vehicleJourneyAtStop&nbsp;» successifs,
la valeur de l’attribut de l’élément «&nbsp;departureTime&nbsp;» du
premier point d’arrêt est inférieure (ou égale, dans le cas de points
rapprochés) à la valeur de l’attribut de l’élément &lt;arrivalTime&gt;
du second point d’arrêt alors le test est validé, sinon poursuivre le
test.</font></font></font></p><p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">-
Si entre deux éléments «&nbsp;vehicleJourneyAtStop&nbsp;» successifs,
la valeur de l’attribut de l’élément «&nbsp;departureTime&nbsp;» du
premier point d’arrêt est supérieure à la valeur de l’attribut de
l’élément «&nbsp;arrivalTime&nbsp;» du second point d’arrêt et que la
valeur de l’attribut de l’élément «&nbsp;arrivalTime&nbsp;» du second
point d’arrêt est inférieure à une valeur paramétrable WW alors le test
est validé, sinon le test est invalidé et fournit le message&nbsp;:
«&nbsp;test 3.16.3b&nbsp;: entre deux éléments
«&nbsp;vehicleJourneyAtStop&nbsp;» successifs, la valeur de l’attribut
de l’élément «&nbsp;departureTime&nbsp;» du premier point d’arrêt est
inférieure à la valeur de l’attribut de l’élément
«&nbsp;arrivalTime&nbsp;» du second point d’arrêt ou la valeur de
l’attribut de l’élément «&nbsp;arrivalTime&nbsp;» du second point
d’arrêt est supérieure à une valeur paramétrable WW&nbsp;»</font></font></font></p>

