<h1 class="western" style="border: 1pt solid rgb(0, 0, 0); padding: 0.05cm 0.12cm; margin-top: 0.21cm;" align="center">
<font face="Arial, sans-serif"><font style="font-size: 20pt;" size="5"><i>
 point de contrôle N° 3.2<br>
Points d’arrêt très  proches regroupés au sein d’une zone d’arrêt <br>
</i></font></font></h1>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Objectif: </b></u>
Vérifier que des POINTs D’ARRÊT SUR   PARCOURS («&nbsp;StopPoint&nbsp;») très proches,<br>
portant   le même nom ou un nom différent, sont regroupés au sein   d’un même ARRÊT/Choutte.<br>
</font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Priorité: </b></u> Obligatoire</font><br>
</p><font face="Arial, sans-serif"></font><p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><u><b>Explications:</b></u> 
</font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Chaque POINT D’ARRÊT SUR PARCOURS («&nbsp;StopPoint&nbsp;») est
localisé grâce à ses coordonnées en latitude et en longitude. D’autre
part, chaque POINT D’ARRÊT SUR PARCOURS est relié à l’identifiant de
l’ARRÊT1/Chouette («&nbsp;StopArea&nbsp;») dont il dépend
(«&nbsp;ContainedIn&nbsp;»). Il suffit alors de vérifier que tous les
POINTs D’ARRÊT SUR PARCOURS («&nbsp;StopPoint&nbsp;») appartiennent à
un même ARRÊT1/Chouette («&nbsp;StopArea&nbsp;») et qu’il n’y a pas de
POINTs D’ARRÊT SUR PARCOURS isolés très proches d’autres POINTs D’ARRÊT
SUR PARCOURS (cette distance reste à déterminer et est paramétrable).</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>Exemple: </u></b></font></font></font></p>
<p><font face="Arial, sans-serif"><img src="image017.jpg" height="624" width="450"></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>N° test:</u></b> 
Test  3.2.1</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Libellé:</u> Vérifier que 2 POINTs D’ARRÊT SUR PARCOURS
(«&nbsp;StopPoint&nbsp;») très proches appartiennent à un même
ARRÊT1/Chouette («&nbsp;StopArea&nbsp;»)</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2"><span style="text-decoration: underline;">
Champ d’application:</span> &lt;StopPoint&gt;</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Vérification:</u> </font></font></font></p>


<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si l’élément «&nbsp;StopPoint&nbsp;» mentionné dans les champs
d’application est présent une ou plusieurs fois, poursuivre le test,
sinon le test est abandonné.</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si pour chaque élément «&nbsp;StopPoint&nbsp;», la distance spatiale
calculée à partir de la valeur de l’attribut des éléments
«&nbsp;longitude&nbsp;», «&nbsp;latitude&nbsp;» et
«&nbsp;longLatType&nbsp;» entre lui et tous les autres éléments
«&nbsp;stopPoint&nbsp;» est inférieure à une valeur paramétrable XX
alors vérifier que la valeur de l’attribut de l’élément
«&nbsp;containedIn&nbsp;» de ces deux points d’arrêt
«&nbsp;StopPoint&nbsp;» est identique. Si elle est différente alors
adresser le message d'avertissement&nbsp;: «&nbsp;test 3.2.1&nbsp;: la
distance calculée entre un point d’arrêt et les autres points d’arrêt
est inférieure à une valeur paramétrable XX mais la valeur de
l’attribut de l’élément «&nbsp;containedIn&nbsp;» de ces deux points
d’arrêt «&nbsp;StopPoint&nbsp;» n’est pas identique&nbsp;».</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Sinon le test est validé</font></font></font></p>
