<h1 class="western" style="border: 1pt solid rgb(0, 0, 0); padding: 0.05cm 0.12cm; margin-top: 0.21cm;" align="center">
<font face="Arial, sans-serif"><font style="font-size: 20pt;" size="5"><i>
 point de contrôle N° 3.20<br>
Localisation  des équipements dans un périmètre défini<br>
</i></font></font></h1>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Objectif: </b></u>
S’assurer que les coordonnées des   EQUIPEMENTs («&nbsp;Facility&nbsp;») du jeu de données sont situées à   l’intérieur d’un périmètre défini.<br>
</font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Priorité: </b></u> Obligatoire</font></p><font face="Arial, sans-serif">
</font><p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><u><b>Explications:</b></u> 
</font></font></p>



<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Si le jeu de données appartient à un  exploitant dont le réseau dessert un groupe de communes, les coordonnées des&nbsp;EQUIPEMENTs  («&nbsp;Facility&nbsp;»)&nbsp;doivent se situer dans cette zone.</font></font></font></p>



<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Ce point de contrôle consiste donc à  vérifier que les coordonnées en latitude et longitude de chaque&nbsp;EQUIPEMENT  («&nbsp;Facility&nbsp;»)&nbsp;sont incluses dans un territoire délimité.</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>Exemple: </u></b></font></font></font></p>
<p><font face="Arial, sans-serif"><img src="image028.gif" height="801" width="493"></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>N° test:</u></b> 
Test  3.20.1</font></font></font></p>



<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Libellé:</u> 
Vérification  que les coordonnées de chaque&nbsp;EQUIPEMENT («&nbsp;Facility»)&nbsp;sont inscrites dans  une zone déterminée et qu’elles sont dans le bon système de projection.</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2"><span style="text-decoration: underline;">
Champ d’application:</span> &lt;Facility&gt;</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Vérification:</u> </font></font></font></p>


<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Soit  PG le polygone de la zone couverte par le réseau dans une projection PJ.</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si l’objet «&nbsp;Facility&nbsp;» mentionné dans les champs
d’application est présent une ou plusieurs fois, poursuivre le test,
sinon le test est abandonné.</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si la valeur de l’attribut de l’élément «&nbsp;longLatType&nbsp;»
contenu dans l’objet «&nbsp;Facility&nbsp;» est différente de PJ alors
le test fournit le message d'avertissement «&nbsp;test 3.20.1a&nbsp;:
l’equipement d’identifiant «&nbsp;ObjectId&nbsp;» n’est pas dans le bon
système de projection&nbsp;», sinon poursuivre le test.</font></font></font></p>


<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si la projection du point, calculée à partir des valeurs des
attributs des éléments «&nbsp;longitude&nbsp;», «&nbsp;latitude&nbsp;»
contenus dans l’objet «&nbsp;Facility&nbsp;», est contenue dans le
polygone PG le test est validé, sinon le test est invalidé et fournit
le message&nbsp;: «&nbsp;test 3.20.1b&nbsp;: l’equipement d’identifiant
«&nbsp;ObjectId&nbsp;» a des coordonnées qui sont hors du polygone de
la zone couverte&nbsp;»<br>&nbsp;</font></font></font></p>
