<div class=WordSection1>
</span></b>

<p class=MsoTitle><span style='font-size:14.0pt;font-family:"Tahoma","sans-serif"'>Fiche
du point de contr&ocirc;le N&deg; 3.21</span></p>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=638
 style='width:478.4pt;border-collapse:collapse;border:none'>
 <tr style='page-break-inside:avoid'>
  <td width=638 colspan=2 valign=top style='width:478.4pt;border:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center'><i><span style='color:navy'>Description</span></i></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 valign=top style='width:81.35pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span style='font-size:11.0pt'>Intitul&eacute;</span></h1>
  </td>
  <td width=108 valign=top style='width:81.35pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt;text-align:justify'><span
  style='font-size:11.0pt;line-height:200%;font-family:"Tahoma","sans-serif"'>Coh&eacute;rence
  entre le temps et la distance pour chaque lien acc&egrave;s-zone d&rsquo;arr&ecirc;t </span></p>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 valign=top style='width:81.35pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span style='font-size:11.0pt'>Objectif</span></h1>
  </td>
  <td width=108 valign=top style='width:81.35pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
  font-weight:normal'>V&eacute;rifier </span><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif";font-weight:normal'>que qu&rsquo;il y a une coh&eacute;rence entre
  le temps et la distance pour chaque LiensAcc&egrave;sZoneArr&ecirc;t/NEPTUNE
  (&laquo;&nbsp;AccessLink&nbsp;&raquo;)</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 valign=top style='width:81.35pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span style='font-size:11.0pt'>R&eacute;f&eacute;rences</span></h1>
  </td>
  <td width=108 valign=top style='width:81.35pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
  font-weight:normal'>TRIDENT/profil NEPTUNE</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 valign=top style='width:81.35pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span style='font-size:11.0pt'>N&deg;de fiche(s) connexe(s)</span></h1>
  </td>
  <td width=108 valign=top style='width:81.35pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
  font-weight:normal'>&nbsp;</span></h1>
  <h1><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
  font-weight:normal'>&nbsp;</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 valign=top style='width:81.35pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt'><b><span style='font-family:
  "Tahoma","sans-serif"'>Priorit&eacute;<span style='color:red'> </span></span></b></p>
  </td>
  <td width=108 valign=top style='width:81.35pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
  font-weight:normal'>Obligatoire</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 valign=top style='width:81.35pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt'><b><span style='font-family:
  "Tahoma","sans-serif"'>R&eacute;sultat</span></b></p>
  </td>
  <td width=108 valign=top style='width:81.35pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif";
  font-weight:normal'>D&eacute;livrance d&rsquo;un message de mise en garde</span></h1>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=638 colspan=2 valign=top style='width:478.4pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center'><i><span style='color:navy'>Mise en &oelig;uvre</span></i></h1>
  </td>
 </tr>
 <tr>
  <td width=100 style='width:74.85pt;border:solid windowtext 1.0pt;border-top:
  none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>Explication</span></h1>
  </td>
  <td width=538 style='width:403.55pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm;text-align:justify'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>Pour </span><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>chaque LiensAcc&egrave;sZoneArr&ecirc;t /NEPTUNE
  (&laquo;&nbsp;AccessLink&nbsp;&raquo;)</span><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>, le temps de parcours entre 1 ARR&Ecirc;T/Chouette
  (&laquo;&nbsp;StopArea&nbsp;&raquo;) et 1 Acc&egrave;s/NEPTUNE (&laquo;&nbsp;AccessPoint&nbsp;&raquo;) ne
  doit pas &ecirc;tre aberrant. On peut alors fixer une vitesse th&eacute;orique moyenne (en
  fonction du temps de d&eacute;placement en marche &agrave; pied, des obstacles rencontr&eacute;s,
  de la perte de temps li&eacute;e &agrave; la descente du v&eacute;hicule …). </span></p>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Ainsi
  la longueur du </span><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>LiensAcc&egrave;sZoneArr&ecirc;t
  /NEPTUNE (&laquo;&nbsp;AccessLink&nbsp;&raquo;) </span><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>qui est la diff&eacute;rence entre les &eacute;l&eacute;ments
  &laquo;&nbsp;EndOfLink&nbsp;&raquo; et &laquo;&nbsp;StartOfLink&nbsp;&raquo; et la dur&eacute;e repr&eacute;sent&eacute;e
  par les &eacute;l&eacute;ments &laquo;&nbsp;DefaultDuration&nbsp;&raquo;,
  &laquo;&nbsp;FrequentTravellerDuration&nbsp;&raquo; ou &laquo;&nbsp;OccasionalTravellerDuration&nbsp;&raquo;,
  &eacute;ventuellement &laquo;&nbsp;MobilityRestrictedTravellerDuration&nbsp;&raquo;, permet de
  calculer une vitesse qui doit s&rsquo;approcher de la vitesse th&eacute;orique (fourchette
  &agrave; d&eacute;finir).</span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=638
 style='width:478.4pt;border-collapse:collapse;border:none'>
 <tr>
  <td width=108 valign=top style='width:81.35pt;border:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm'><b><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>Exemple</span></b></p>
  </td>
  <td width=538 valign=top style='width:403.55pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=left style='margin-left:18.0pt;text-align:left;text-indent:-18.0pt'><span
  style='font-size:11.0pt;font-weight:normal'>&nbsp;</span></h1>
  <p class=MsoNormal align=center style='text-align:center'><img width=435
  height=633 src="image029.jpg"></p>
  <p class=MsoNormal align=center style='text-align:center'>&nbsp;</p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=638 colspan=2 valign=top style='width:478.4pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h2 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center'><i><span lang=EN-US style='font-size:14.0pt;
  color:navy'>Evaluation</span></i></h2>
  </td>
 </tr>
 <tr>
  <td width=100 valign=top style='width:74.85pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span lang=EN-US style='font-size:11.0pt'>N&deg; test</span></h1>
  </td>
  <td width=538 style='width:403.55pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>Test
  3.21.1</span></p>
  </td>
 </tr>
 <tr>
  <td width=100 valign=top style='width:74.85pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span style='font-size:11.0pt'>Libell&eacute;</span></h1>
  </td>
  <td width=538 style='width:403.55pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>V&eacute;rifier
  les vitesses calcul&eacute;es &agrave; partir des attributs du </span><span
  style='font-size:11.0pt;font-family:"Arial","sans-serif"'>LiensAcc&egrave;sZoneArr&ecirc;t
  /NEPTUNE (&laquo;&nbsp;AccessLink&nbsp;&raquo;)</span><span style='font-size:11.0pt;
  font-family:"Arial","sans-serif"'> suivant les param&egrave;tres fix&eacute;s</span></p>
  </td>
 </tr>
 <tr>
  <td width=100 valign=top style='width:74.85pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span style='font-size:11.0pt'>Champ d&rsquo;application</span></h1>
  </td>
  <td width=538 style='width:403.55pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&lt;AccessLink&gt;</span></p>
  </td>
 </tr>
 <tr>
  <td width=100 valign=top style='width:74.85pt;border:solid windowtext 1.0pt;
  border-top:none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span style='font-size:11.0pt'>V&eacute;rification</span></h1>
  </td>
  <td width=538 style='width:403.55pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>-
  Si l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;AccessLink&nbsp;&raquo; mentionn&eacute; dans les champs d&rsquo;application
  est pr&eacute;sent une ou plusieurs fois, poursuivre le test, sinon le test est
  abandonn&eacute;.</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>-
  Si la vitesse d&eacute;duite de la distance spatiale entre &laquo;&nbsp;EndOfLink&nbsp;&raquo;
  et &laquo;&nbsp;StartOfLink&nbsp;&raquo; divis&eacute;e par le temps
  &laquo;&nbsp;DefaultDuration&nbsp;&raquo; est proche de la valeur param&eacute;trable XX (+/-
  delta), poursuivre le test, sinon le test est invalid&eacute; et fournit le
  message&nbsp;: &laquo;&nbsp;test 3.21.1a&nbsp;: la vitesse fix&eacute;e par l&rsquo;&eacute;l&eacute;ment
  &laquo;&nbsp;DefaultDuration&nbsp;&raquo; n&rsquo;est pas conforme &agrave; la valeur param&eacute;trable XX
  (+/- delta) fix&eacute;e pour le lien d&rsquo;acc&egrave;s dont l&rsquo;identifiant est &laquo;&nbsp;ObjectId&nbsp;&raquo;.</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>-
  Si la vitesse d&eacute;duite de la distance spatiale entre &laquo;&nbsp;EndOfLink&nbsp;&raquo;
  et &laquo;&nbsp;StartOfLink&nbsp;&raquo; divis&eacute;e par le temps
  &laquo;&nbsp;FrequentTravellerDuration&nbsp;&raquo; est proche de la valeur param&eacute;trable
  YY (+/- delta), poursuivre le test, sinon le test est invalid&eacute; et fournit le
  message&nbsp;: &laquo;&nbsp;test 3.21.1b&nbsp;: la vitesse fix&eacute;e par l&rsquo;&eacute;l&eacute;ment
  &laquo;&nbsp;FrequentTravellerDuration&nbsp;&raquo; n&rsquo;est pas conforme &agrave; la valeur
  param&eacute;trable YY (+/- delta) fix&eacute;e pour le lien d&rsquo;acc&egrave;s dont l&rsquo;identifiant est
  &laquo;&nbsp;ObjectId&nbsp;&raquo;.</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>-
  Si la vitesse d&eacute;duite de la distance spatiale entre &laquo;&nbsp;EndOfLink&nbsp;&raquo; et
  &laquo;&nbsp;StartOfLink&nbsp;&raquo; divis&eacute;e par le temps
  &laquo;&nbsp;OccasionalTravellerDuration&nbsp;&raquo; est proche de la valeur
  param&eacute;trable ZZ (+/- delta), poursuivre le test, sinon le test est invalid&eacute;
  et fournit le message&nbsp;: &laquo;&nbsp;test 3.21.1c&nbsp;: la vitesse fix&eacute;e par
  l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;OccasionalTravellerDuration&nbsp;&raquo; n&rsquo;est pas conforme &agrave; la
  valeur param&eacute;trable ZZ (+/- delta) fix&eacute;e pour e lien d&rsquo;acc&egrave;s dont
  l&rsquo;identifiant est &laquo;&nbsp;ObjectId&nbsp;&raquo;.&raquo;.</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>-
  Si l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;MobilityRestrictedTravellerDuration&nbsp;&raquo;&nbsp; est
  d&eacute;fini dans l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;VehicleJourneyAtStop&nbsp;&raquo; identifi&eacute;,
  poursuivre le test, sinon le test est valid&eacute;.</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>-
  Si la vitesse d&eacute;duite de la distance spatiale entre &laquo;&nbsp;EndOfLink&nbsp;&raquo;
  et &laquo;&nbsp;StartOfLink&nbsp;&raquo; divis&eacute;e par le temps
  &laquo;&nbsp;MobilityRestrictedTravellerDuration&nbsp;&raquo; est proche de la valeur
  param&eacute;trable WW (+/- delta), le test est valid&eacute;, sinon le test est invalid&eacute;
  et fournit le message&nbsp;: &laquo;&nbsp;test 3.8.1d&nbsp;: la vitesse fix&eacute;e par
  l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;MobilityRestrictedTravellerDuration&nbsp;&raquo; n&rsquo;est pas
  conforme &agrave; la valeur param&eacute;trable WW (+/- delta) fix&eacute;e pour le lien d&rsquo;acc&egrave;s
  dont l&rsquo;identifiant est &laquo;&nbsp;ObjectId&nbsp;&raquo;.&raquo;.</span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>&nbsp;</span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal>&nbsp;</p>

</div>

