<h1 class="western" style="border: 1pt solid rgb(0, 0, 0); padding: 0.05cm 0.12cm; margin-top: 0.21cm;" align="center">
<font face="Arial, sans-serif"><font style="font-size: 20pt;" size="5"><i>
 point de contrôle N° 3.5<br>
Modèle de représentation  des coordonnées des points d’arrêt<br>
</i></font></font></h1>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Objectif: </b></u>
Vérifier que les coordonnées des POINTs D’ARRÊT SUR PARCOURS
(«&nbsp;StopPoint&nbsp;») sont dans un même système géodésique ou un
même système de projection<br>
</font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Priorité: </b></u> Obligatoire</font></p><font face="Arial, sans-serif">
</font><p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><u><b>Explications:</b></u> 
</font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Dans un même jeu de données, chaque POINT D’ARRÊT SUR PARCOURS
(«&nbsp;StopPoint&nbsp;») doit être représenté géographiquement de la
même manière et dans un système de représentation géographique
identique. On vérifiera également qu’il n’y a pas d’aberration comme
des coordonnées géographiques nulle ou situées hors d’une zone dont le
périmètre ou le contour est à définir.</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>Exemple: </u></b></font></font></font></p>
<p><font face="Arial, sans-serif"><img src="image017.jpg" height="624" width="450"></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>N° test:</u></b> 
Test  3.5.1</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Libellé:</u> Test des coordonnées géographiques de chaque POINT
D’ARRÊT SUR PARCOURS («&nbsp;StopPoint&nbsp;») par rapport à un modèle
de projection de référence.</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2"><span style="text-decoration: underline;">
Champ d’application:</span>&nbsp;&lt;StopPoint&gt;</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Vérification:</u> </font></font></font></p>





<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Soit  PJ la projection de référence:<br>-
Si l’objet «&nbsp;StopPoint&nbsp;» mentionné dans les champs
d’application est présent une ou plusieurs fois, poursuivre le test,
sinon le test est abandonné.<br>- Si la valeur de l’attribut de
l’élément «&nbsp;longLatType&nbsp;» contenu dans l’élément
«&nbsp;StopPoint&nbsp;» est différente de PJ alors le test fournit le
message d'avertissement&nbsp;: «&nbsp;test 3.5.1&nbsp;: le point
d’arrêt d’identifiant «&nbsp;ObjectId&nbsp;» n’est pas dans le bon
système de projection&nbsp;ou ses coordonnées géographiques sont nulle
ou il est situé hors d’une zone dont le périmètre ou le contour est à
définir.»</font></font></font></p><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">-  Sinon le test est validé.</font></font></font>
