<h1 class="western" style="border: 1pt solid rgb(0, 0, 0); padding: 0.05cm 0.12cm; margin-top: 0.21cm;" align="center">
<font face="Arial, sans-serif"><font style="font-size: 20pt;" size="5"><i>
 point de contrôle N° 3.8<br>
Cohérence  entre le temps et la distance pour chaque correspondance <br>
</i></font></font></h1>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Objectif: </b></u>
Vérifier qu’il
y a une cohérence entre le temps et la distance pour chaque
TronçonDeCorrespondance/Chouette («&nbsp;ConnectionLink&nbsp;»)<br>
</font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Priorité: </b></u> Obligatoire</font></p><font face="Arial, sans-serif">
</font><p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><u><b>Explications:</b></u> 
</font></font></p>


<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Pour&nbsp;chaque TronçonDeCorrespondance/Chouette  («&nbsp;ConnectionLink&nbsp;»),
le temps de parcours entre 2&nbsp;ARRÊT/Chouette
(«&nbsp;StopArea&nbsp;») ne doit pas être aberrant. On peut alors fixer
une vitesse théorique moyenne (en fonction du temps de déplacement en
marche à pied, des obstacles rencontrés, de la perte de temps liée à la
descente du véhicule).</font></font></font></p>


<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Ainsi  la longueur du&nbsp;TronçonDeCorrespondance/Chouette  («&nbsp;ConnectionLink&nbsp;»)&nbsp;qui
est la différence entre les éléments «&nbsp;EndOfLink&nbsp;» et
«&nbsp;StartOfLink&nbsp;» et la durée représentée par les éléments
«&nbsp;DefaultDuration&nbsp;», </font></font></font><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">«&nbsp;</font></font></font><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">FrequentTravellerDuration&nbsp;» ou  «&nbsp;OccasionalTravellerDuration&nbsp;», éventuellement&nbsp;</font></font></font><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">«&nbsp;</font></font></font><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">MobilityRestrictedTravellerDuration&nbsp;»,
permet de calculer une vitesse qui doit s’approcher de la vitesse
théorique (fourchette à définir).</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>Exemple: </u></b></font></font></font></p>
<p><font face="Arial, sans-serif"><img src="image021.jpg" height="547" width="372"></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>N° test:</u></b> 
Test  3.8.1</font></font></font></p>


<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Libellé:</u> 
Vérifier  les vitesses calculées à partir des attributs du TronçonDeCorrespondance/Chouette («&nbsp;ConnectionLink&nbsp;»)&nbsp;suivant les paramètres fixés&nbsp;</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2"><span style="text-decoration: underline;">
Champ d’application:</span>&nbsp;&lt;ConnectionLink&gt;</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Vérification:</u> </font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si l’élément «&nbsp;ConnectionLink&nbsp;» mentionné dans les champs
d’application est présent une ou plusieurs fois, poursuivre le test,
sinon le test est abandonné.</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si la vitesse déduite de la distance spatiale entre
«&nbsp;EndOfLink&nbsp;» et «&nbsp;StartOfLink&nbsp;» divisée par le
temps «&nbsp;DefaultDuration&nbsp;» est proche de la valeur
paramétrable XX (+/- delta), poursuivre le test, sinon le test est
invalidé et fournit le message&nbsp;: «&nbsp;test 3.8.1a&nbsp;: la
vitesse fixée par l’élément «&nbsp;DefaultDuration&nbsp;» n’est pas
conforme à la valeur paramétrable XX (+/- delta) fixée pour la
correspondance dont l’identifiant est «&nbsp;ObjectId&nbsp;».</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si la vitesse déduite de la distance spatiale entre
«&nbsp;EndOfLink&nbsp;» et «&nbsp;StartOfLink&nbsp;» divisée par le
temps «&nbsp;FrequentTravellerDuration&nbsp;» est proche de la valeur
paramétrable YY (+/- delta), poursuivre le test, sinon le test est
invalidé et fournit le message&nbsp;: «&nbsp;test 3.8.1b&nbsp;: la
vitesse fixée par l’élément «&nbsp;FrequentTravellerDuration&nbsp;»
n’est pas conforme à la valeur paramétrable YY (+/- delta) fixée pour
la correspondance dont l’identifiant est «&nbsp;ObjectId&nbsp;».</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si la vitesse déduite de la distance spatiale entre
«&nbsp;EndOfLink&nbsp;» et «&nbsp;StartOfLink&nbsp;» divisée par le
temps «&nbsp;OccasionalTravellerDuration&nbsp;» est proche de la valeur
paramétrable ZZ (+/- delta), poursuivre le test, sinon le test est
invalidé et fournit le message&nbsp;: «&nbsp;test 3.8.1c&nbsp;: la
vitesse fixée par l’élément «&nbsp;OccasionalTravellerDuration&nbsp;»
n’est pas conforme à la valeur paramétrable ZZ (+/- delta) fixée pour
la correspondance dont l’identifiant est «&nbsp;ObjectId&nbsp;».».</font></font></font></p>

<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si l’élément «&nbsp;MobilityRestrictedTravellerDuration&nbsp;»&nbsp;
est défini dans l’élément «&nbsp;VehicleJourneyAtStop&nbsp;» identifié,
poursuivre le test, sinon le test est validé.</font></font></font></p>


<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si la vitesse déduite de la distance spatiale entre
«&nbsp;EndOfLink&nbsp;» et «&nbsp;StartOfLink&nbsp;» divisée par le
temps «&nbsp;MobilityRestrictedTravellerDuration&nbsp;» est proche de
la valeur paramétrable WW (+/- delta), le test est validé, sinon le
test est invalidé et fournit le message&nbsp;: «&nbsp;test
3.8.1d&nbsp;: la vitesse fixée par l’élément
«&nbsp;MobilityRestrictedTravellerDuration&nbsp;» n’est pas conforme à
la valeur paramétrable WW (+/- delta) fixée pour la correspondance dont
l’identifiant est «&nbsp;ObjectId&nbsp;».<br>&nbsp;</font></font></font></p>
