<h1 class="western" style="border: 1pt solid rgb(0, 0, 0); padding: 0.05cm 0.12cm; margin-top: 0.21cm;" align="center">
<font face="Arial, sans-serif"><font style="font-size: 20pt;" size="5"><i>
 point de contrôle N° 3.9<br>
Cohérence entre le temps  et la distance pour chaque tronçon <br>
</i></font></font></h1>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Objectif: </b></u>
Vérifier&nbsp;qu’il y a une cohérence entre le temps et la distance pour chaque TRONCON   COMMERCIAL / Chouette («&nbsp;PtLink&nbsp;»)<br>
</font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><u><b>Priorité: </b></u> Obligatoire</font></p><font face="Arial, sans-serif">
</font><p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><u><b>Explications:</b></u> 
</font></font></p>


<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
Pour chaque&nbsp;TRONCON COMMERCIAL / Chouette  («&nbsp;PtLink&nbsp;»)&nbsp;,
on peut calculer la distance entre les 2 POINTs D’ARRÊT SUR PARCOURS
(«&nbsp;StopPoint&nbsp;») qui le constituent et au sein d’une même
COURSE COMMERCIALE («&nbsp;VehicleJourney&nbsp;»), on peut récupérer
l’HEURE DE PASSAGE GRAPHIQUEE/Chouette
(«&nbsp;VehicleJourneyAtStop&nbsp;») des POINTs D’ARRÊT SUR PARCOURS .
On peut ainsi vérifier que la vitesse calculée se situe autour d’une
vitesse théorique moyenne (vitesse commerciale ou vitesse à vol
d’oiseau).</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>Exemple: </u></b></font></font></font></p>
<p><font face="Arial, sans-serif"><img src="image019.jpg" height="618" width="372"></font></p>
<p><font face="Arial, sans-serif"><img src="image020.jpg" height="338" width="433"></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<b><u>N° test:</u></b> 
Test  3.9.1</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Libellé:</u> Vérifier que la vitesse entre 2 POINTs D’ARRÊT SUR
PARCOURS («&nbsp;StopPoint&nbsp;») consécutifs se situe dans une
fourchette autorisée.</font></font></font></p>


<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2"><span style="text-decoration: underline;">
Champ d’application</span>:&nbsp;&lt;vehicleJourney&gt;&nbsp;&lt;VehicleJourneyAtStop&gt;</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
<u>Vérification:</u> </font></font></font></p>


<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si le fichier contient un objet «&nbsp;vehicleJourney&nbsp;» incluant
au moins deux objets «&nbsp;vehicleJourneyAtStop&nbsp;» consécutifs,
poursuivre le test, sinon le test est abandonné&nbsp;</font></font></font></p>
<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
- Si entre deux objets «&nbsp;vehicleJourneyAtStop&nbsp;» successifs,
la distance spatiale entre le point d’arrêt «&nbsp;StopPoint&nbsp;»
identifié par la valeur de l’attribut de l’élément
«&nbsp;stopPointId&nbsp;» et le point d’arrêt «&nbsp;StopPoint&nbsp;»
identifié par la valeur de l’attribut de l’élément
«&nbsp;stopPointId&nbsp;» divisée par la différence absolue entre la
valeur de l’attribut de l’élément «&nbsp;departureTime&nbsp;» du
premier point d’arrêt et la valeur de l’attribut de l’élément
«&nbsp;arrivalTime&nbsp;» du second point d’arrêt est inférieure à XX
ou supérieure à YY alors le test fournit le message
d’avertissement&nbsp;: «&nbsp;test 3.9.1&nbsp;: la vitesse déterminée
par la distance et le temps entre 2 points d’arrêt consécutifs (entre
deux objets «&nbsp;vehicleJourneyAtStop&nbsp;») ne se situe pas une
fourchette autorisée entre XX et YY&nbsp;».</font></font></font></p>


<p style="margin-bottom: 0cm;"><font face="Arial, sans-serif"><font face="Arial, sans-serif"><font style="font-size: 11pt;" size="2">
-&nbsp;Sinon  le test est validé</font></font></font></p>
