<div class=WordSection1>
</span></b>

<p class=MsoTitle><span style='font-size:14.0pt;font-family:"Tahoma","sans-serif"'>Fiche
du point de contr&ocirc;le N&deg; 3.9</span></p>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=647
 style='width:485.45pt;border-collapse:collapse;border:none'>
 <tr style='page-break-inside:avoid'>
  <td width=647 colspan=2 valign=top style='width:485.45pt;border:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center'><i><span style='color:navy'>Description</span></i></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>Intitul&eacute;</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt'><span style='font-size:11.0pt;
  line-height:200%;font-family:"Tahoma","sans-serif"'>Coh&eacute;rence entre le temps
  et la distance pour chaque tron&ccedil;on </span></p>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>Objectif</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif";font-weight:normal'>V&eacute;rifier </span><span
  style='font-size:11.0pt;font-family:"Tahoma","sans-serif";font-weight:normal'>que
  qu&rsquo;il y a une coh&eacute;rence entre le temps et la distance pour chaque TRONCON
  COMMERCIAL / Chouette (&laquo;&nbsp;PtLink&nbsp;&raquo;)</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>R&eacute;f&eacute;rences</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif";font-weight:normal'>TRIDENT/profil CHOUETTE/Transmodel
  V4 et V5.1</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>N&deg; de fiche(s) connexe(s)</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='text-align:left'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif";font-weight:normal'>&nbsp;</span></h1>
  <h1 align=left style='text-align:left'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif";font-weight:normal'>&nbsp;</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt'><b><span style='font-family:
  "Tahoma","sans-serif"'>Priorit&eacute;<span style='color:red'> </span></span></b></p>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif";font-weight:normal'>Obligatoire</span></h1>
  </td>
 </tr>
 <tr style='height:37.4pt'>
  <td width=108 style='width:81.35pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <p class=MsoBodyText2 style='margin-top:6.0pt'><b><span style='font-family:
  "Tahoma","sans-serif"'>R&eacute;sultat</span></b></p>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:37.4pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif";font-weight:normal'>D&eacute;livrance d&rsquo;un avertissement de
  mise en garde sur des cons&eacute;quences &eacute;ventuelles de dysfonctionnement</span></h1>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=647 colspan=2 valign=top style='width:485.45pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center'><i><span style='color:navy'>Mise en &oelig;uvre</span></i></h1>
  </td>
 </tr>
 <tr>
  <td width=100 style='width:74.85pt;border:solid windowtext 1.0pt;border-top:
  none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 align=left style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:left'><span style='font-size:11.0pt;font-family:
  "Tahoma","sans-serif"'>Explication</span></h1>
  </td>
  <td width=547 style='width:410.6pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm;text-align:justify'><span style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>Pour chaque </span><span style='font-size:
  11.0pt;font-family:"Tahoma","sans-serif"'>TRONCON COMMERCIAL / Chouette
  (&laquo;&nbsp;PtLink&nbsp;&raquo;)</span><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>,
  on peut calculer la distance entre les 2 POINTs D&rsquo;ARR&Ecirc;T SUR PARCOURS
  (&laquo;&nbsp;StopPoint&nbsp;&raquo;) qui le constituent et au sein d&rsquo;une m&ecirc;me COURSE
  COMMERCIALE (&laquo;&nbsp;VehicleJourney&nbsp;&raquo;), on peut r&eacute;cup&eacute;rer l&rsquo;HEURE DE
  PASSAGE GRAPHIQUEE/Chouette (&laquo;&nbsp;VehicleJourneyAtStop&nbsp;&raquo;) des POINTs
  D&rsquo;ARR&Ecirc;T SUR PARCOURS  . On peut ainsi v&eacute;rifier que la vitesse calcul&eacute;e se
  situe autour d&rsquo;une vitesse th&eacute;orique moyenne (vitesse commerciale ou vitesse
  &agrave; vol d&rsquo;oiseau).  </span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=647
 style='width:485.45pt;border-collapse:collapse;border:none'>
 <tr>
  <td width=108 valign=top style='width:81.35pt;border:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm'><b><span lang=EN-US style='font-size:11.0pt;
  font-family:"Tahoma","sans-serif"'>Exemple</span></b></p>
  </td>
  <td width=547 valign=top style='width:410.6pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h1 style='margin-left:18.0pt;text-indent:-18.0pt'><span lang=EN-US>&nbsp;</span></h1>
  <h1 style='margin-left:18.0pt;text-indent:-18.0pt'><span lang=EN-US><img
  width=372 height=618 src="/assets/test_sheet/image019.jpg"></span></h1>
  <p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  lang=EN-US><img width=433 height=338
  src="/assets/test_sheet/image020.jpg"></span></b></p>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>&nbsp;</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid'>
  <td width=647 colspan=2 valign=top style='width:485.45pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt'>
  <h2 align=center style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
  margin-left:0cm;text-align:center'><i><span lang=EN-US style='font-size:14.0pt;
  color:navy'>Evaluation</span></i></h2>
  </td>
 </tr>
 <tr>
  <td width=108 valign=top style='width:81.35pt;border:solid windowtext 1.0pt;
  border-top:none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span lang=EN-US style='font-size:11.0pt'>N&deg; test</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>Test
  3.9.1</span></p>
  </td>
 </tr>
 <tr>
  <td width=108 valign=top style='width:81.35pt;border:solid windowtext 1.0pt;
  border-top:none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span style='font-size:11.0pt'>Libell&eacute;</span></h1>
  </td>
  <td width=108 valign=top style='width:81.35pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm'><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>V&eacute;rifier
  que la vitesse entre 2 POINTs D&rsquo;ARR&Ecirc;T SUR PARCOURS (&laquo;&nbsp;StopPoint&nbsp;&raquo;)
  cons&eacute;cutifs se situe dans une fourchette autoris&eacute;e.</span></p>
  </td>
 </tr>
 <tr>
  <td width=108 valign=top style='width:81.35pt;border:solid windowtext 1.0pt;
  border-top:none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span style='font-size:11.0pt'>Champ d&rsquo;application</span></h1>
  </td>
  <td width=108 style='width:81.35pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&lt;vehicleJourney&gt;
  </span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&lt;VehicleJourneyAtStop&gt;</span></p>
  </td>
 </tr>
 <tr>
  <td width=108 valign=top style='width:81.35pt;border:solid windowtext 1.0pt;
  border-top:none;padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <h1 style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:
  0cm'><span style='font-size:11.0pt'>V&eacute;rification</span></h1>
  </td>
  <td width=108 valign=top style='width:81.35pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:5.65pt 11.35pt 5.65pt 3.5pt'>
  <p class=MsoNormal><b><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>&nbsp;</span></b></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
  font-family:"Arial","sans-serif"'>- Si le fichier contient un objet
  &laquo;&nbsp;vehicleJourney&nbsp;&raquo; incluant au moins deux objets  
  &laquo;&nbsp;vehicleJourneyAtStop&nbsp;&raquo; cons&eacute;cutifs, poursuivre le test, sinon le
  test est abandonn&eacute;. </span></p>
  <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>
  <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
  font-family:"Arial","sans-serif"'>- Si entre deux objets
  &laquo;&nbsp;vehicleJourneyAtStop&nbsp;&raquo; successifs, la distance spatiale entre le
  point d&rsquo;arr&ecirc;t &laquo;&nbsp;StopPoint&nbsp;&raquo; identifi&eacute; par la valeur de l&rsquo;attribut
  de l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;stopPointId&nbsp;&raquo; et le point d&rsquo;arr&ecirc;t &laquo;&nbsp;StopPoint&nbsp;&raquo;
  identifi&eacute; par la valeur de l&rsquo;attribut de l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;stopPointId&nbsp;&raquo;
  divis&eacute;e par la diff&eacute;rence absolue entre la valeur de l&rsquo;attribut de l&rsquo;&eacute;l&eacute;ment
  &laquo;&nbsp;departureTime&nbsp;&raquo; du premier point d&rsquo;arr&ecirc;t et la valeur de
  l&rsquo;attribut de l&rsquo;&eacute;l&eacute;ment &laquo;&nbsp;arrivalTime&nbsp;&raquo; du second point d&rsquo;arr&ecirc;t est
  inf&eacute;rieure &agrave; XX ou sup&eacute;rieure &agrave; YY alors le test  fournit le message
  d&rsquo;avertissement&nbsp;: &laquo;&nbsp;test 3.9.1&nbsp;: la vitesse d&eacute;termin&eacute;e par la
  distance et le temps entre 2 points d&rsquo;arr&ecirc;t cons&eacute;cutifs (entre deux objets
  &laquo;&nbsp;vehicleJourneyAtStop&nbsp;&raquo;) ne se situe pas une fourchette autoris&eacute;e
  entre XX et YY&nbsp;&raquo;.</span></p>
  <p class=MsoNormal><b><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>&nbsp;</span></b></p>
  <p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:
  6.0pt;margin-left:0cm'><b><span style='font-size:11.0pt;font-family:"Tahoma","sans-serif"'>-
  </span></b><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>Sinon
  le test est valid&eacute;</span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal>&nbsp;</p>

</div>

