h3. Définition des tests

* Catégorie 1
** "Fiche 1.1":1.1
** "Fiche 1.2":1.2
* Catégorie 2
** "Fiche 2.1":2.1
** "Fiche 2.2":2.2
** "Fiche 2.3":2.3
** "Fiche 2.4":2.4
** "Fiche 2.5":2.5
** "Fiche 2.6":2.6
** "Fiche 2.7":2.7
** "Fiche 2.8":2.8
** "Fiche 2.9":2.9
** "Fiche 2.10":2.10
** "Fiche 2.11":2.11
** "Fiche 2.12":2.12
** "Fiche 2.13":2.13
** "Fiche 2.14":2.14
** "Fiche 2.15":2.15
** "Fiche 2.16":2.16
** "Fiche 2.17":2.17
** "Fiche 2.18":2.18
** "Fiche 2.19":2.19
** "Fiche 2.20":2.20
** "Fiche 2.21":2.21
** "Fiche 2.22":2.22
** "Fiche 2.23":2.23
** "Fiche 2.24":2.24
** "Fiche 2.25":2.25
** "Fiche 2.26":2.26
** "Fiche 2.27":2.27
** "Fiche 2.28":2.28
* Catégorie 3
** "Fiche 3.1":3.1
** "Fiche 3.2":3.2
** "Fiche 3.3":3.3
** "Fiche 3.4":3.4
** "Fiche 3.5":3.5
** "Fiche 3.6":3.6
** "Fiche 3.7":3.7
** "Fiche 3.8":3.8
** "Fiche 3.9":3.9
** "Fiche 3.10":3.10
** "Fiche 3.11":3.11
** "Fiche 3.12":3.12
** "Fiche 3.13":3.13
** "Fiche 3.14":3.14
** "Fiche 3.15":3.15
** "Fiche 3.16":3.16
** "Fiche 3.17":3.17
** "Fiche 3.18":3.18
** "Fiche 3.19":3.19
** "Fiche 3.20":3.20
** "Fiche 3.21":3.21
