<%= title_tag t('stop_areas.access_links.title', :stop_area => @stop_area.name ) %>

<div class="stop_area_show">
	<div class="access_link_pairs">
      <table>
	  <%= render :partial => "access_link_pairs/access_link_pair", :collection => access_links_pairs(@access_links) %>
      </table>
	</div>
	<p><%= t('.access_link_legend_1') %></p>
	<p><%= t('.access_link_legend_2') %></p>
</div>

