.formtastic.timeband {
  .time_select {
    .fragments {
      .fragments-group {
        padding-left: 0;
      }
      legend.label {
        position: relative;
        width: auto;
        display: block;
        width: 25%;
        float: left;
        border: none;
        label {
          position: relative;
          width: auto;
          font-size: 125%;
          padding: .2em .6em .3em;
        }
      }
    }
  }
}
