#header {
    
    .navbar-brand{
        padding-top: 5px;
        padding-bottom: 5px;
        line-height: 40px;

        img {
            height: 40px;       
        }        
    }

    .navbar-text{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        
        .brand_name{
            color: white;
            font-weight: bold;
            font-size: 20px;
        }
        
        .version
        {       
            margin-left: 5px;
            color: white;
            font-size: 12px;
        }
    }
    
    background: $brand_primary url(image-path('header.png')) no-repeat;

    .gravatar {
        margin-right: 5px;
        img{
            width: 25px;
            height: 25px;
        }
    }

    .dropdown.languages{
        .dropdown-menu{ 
            min-width: 56px;
        }
    }

}