.status {
  margin-left: 10px;
}

.status_aborted,.status_canceled { color: #a94442;}
.status_started { color: #31708f;}
.status_scheduled { color: #31708f;}
.status_terminated { color: #3c763d;}

.resume {
  &:after{
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  #files_statistics { height: 225px; }
  #objects_statistics { height: 225px; }

  .caption {
    text-align :center;
    font-weight: bold;
  }

  dl.inline dd {
    display: inline;
    margin: 0;
  }
  dl.inline dd:after{
    display: block;
    content: '';
  }
  dl.inline dt{
    display: inline-block;
    min-width: 180px;
  }
}

.report {
  margin-top: 20px;

  .form-group {
    margin-right: 20px;
  }

  .files {
    img {
      margin-right: 5px;
      }

    .file_name{
      font-weight: bold;
      margin-right: 30px;
      }
  }

  .files_error{
    color: #e22b1b;
    display: none;
  }

  div.files_ignored{
    color: #898e7f;
    display: none;
  }

  div.files_ok{
    color: #8fc861;
    display: none;
  }

  div.lines{
    display: none;
    th, td{
      text-align: center;
      }

    .fa-check{ color: $brand-success; }
    .fa-times{ color: $brand-danger; }
  }
}
