/*
  A grey based theme, inspired by Blinksale and their ColorBurn widget. http://firewheeldesign.com
  
  AUTHOR: Geoffrey Grosenbach http://nubyonrails.com
  
  Colors: 
    dk: 787888
    lt: 4f4f5b
    lter: a8a8a8
    white: ffffff
*/

/* TODO */

.year_choice{
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0 0 0;
    text-align: center;
    
    .year{ 
        text-align: center;

    }   

}

.calendar_helper{ 
    
    padding: auto; 
}

.calendar {
  color: white;
  text-align: center;
  margin-left: 30px;
  display: inline-table;
}

thead tr {
  color: black;
}

 th.monthName {
  font-weight: bold;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 0.7em;
  color: black;
}

.dayName th {
  font-size: 0.7em;
  text-align: center;
  padding-top: 0.6em;
  padding-bottom: 0.3em;
  background-color: #303030;
  color: white;
  border-bottom: 1px solid white;
}

.otherMonth, .day, .specialDay {
  padding: 0.7em;
  border-right: 1px solid #111111;
  border-bottom: 1px solid #111111;
}

.otherMonth {
  color: #999999;
  background-color: #4f4f5b;
}

.day, .specialDay {
  border-bottom: 1px solid #111111;
  background-color: #333333;
}
.specialDay {
  background-color: #a8a8a8 !important;
  color: black;
}

.specialDay a, .specialDay a:visited, .specialDay a:hover {
  color: white;
  text-decoration: none;
}
.specialDay a:hover {
  color: black;
}
.weekendDay {
  background-color: #787888;
}
.today {
	background-color: white;
	color: black;
}