@import "common/mixins";

.status {
    margin-left: 10px;
}

.status_failed { color: #a94442;}
.status_pending { color: #31708f;}
.status_processing { color: #31708f;}
.status_completed { color: #3c763d;}

#workspace.compliance_check_tasks.index
{
    .compliance_check_task:after {
        @include after_div_for_object;
    }

    .compliance_check_tasks {
        margin-top: 20px;
    }

    .compliance_check_tasks:after {
        @include content_to_clear;
    }

    .compliance_check_task {
        width: 300px;
        float: left;
        padding: 5px;
        margin: 0 10px 10px 0px;
        background-color: #DEFFA8;
        border: 1px solid #61970b;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;

        div.icon{
            display: inline-block;
            vertical-align: top;
            width: 74px;
            padding-right: 5px;

            img{
                width: 64px;
                height: 64px;
            }
        }

        div.resume{
            display: inline-block;

            ul.header{
                font-size: 14px;
                width: 209px;

                .title{ float: left; }
                .remove{
                    float: right;
                    padding-right: 10px;
                    color: #494949;
                }
            }

            .links {
                font-size: 10px;
                height: 38px;

                p { margin: 3px 0px 0px 0px !important; }
                
                img { margin-right: 10px;}
            }

            .history {
                margin-top: 10px;
                font-size: 10px;
                color: #777;
            }
        }
    }
}

#workspace.compliance_check_tasks.show {

    .links{
        margin: 0px 0 20px 0;

        img{ margin: 0 5px 0 15px; }
    }

    .order{
        margin-bottom: 10px;
        padding: 5px;
        border-top: 1px solid #e4e4e4;
        border-bottom: 1px solid #e4e4e4;
    }

    .resume {
        &:after{
            content: " ";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        .col1 {
            float: left;
            width: 45%;
        }

        .col2 {
            margin-left: 10px;
            float: left;
            width: 45%;
            }

        .graph { height: 200px; }

        .caption {
            text-align :center;
                font-weight: bold;
        }
    }

    .report{
        .table { margin-top: 20px; }

    }

    .severity__improvment, .severity_warning, .severity_error {
        border: 1px solid;
        margin: 10px 0px;
        padding:10px 10px 10px 10px;
        background-repeat: no-repeat;
        background-position: 10px center;-moz-border-radius:.5em;
        -webkit-border-radius:.5em;
        border-radius:.5em;
        height: 100%;

        &:after{
            content: " ";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        .status_icon {
            float: left;
            width: 20%;
            height: auto;

            img {
                vertical-align: middle;
                width: 48px;
                height: 48px;
            }
        }

        .status_text{
            float: left;
            width: 70%;

            .code{
                font-size: 12px;
                font-weight: bold;
            }

            .severity {
                font-size: 10px;
            }

            .explanation{
                display: none;
                font-size: 12px;
                margin: 5px 0 0 0;
            }

            .attributes{
                font-size: 10px;
                font-weight: bold;
                margin: 5px 0 0px 0;
            }
        }

    }

    .severity_improvment {
        color: black;
        background-color: #c5cf4c;
    }

    .severity_warning {
        color: black;
        background-color: #f1dd30;
    }

    .severity_error {
        color: black;
        background-color: #ff9a0c;
    }

    .td_error {
        width: 30%;
        
        i { margin-right: 10px; }
        
        div.details_error{
            margin: 0px 0px 0px 3px !important;
            display: none;

            p.detail_error{
                margin: 0px 0px 5px 0px !important;
            }
            
            .file_error{
                margin-left: 26px;
                font-size: 10px;
                color: #898e7f;
            }
        }
    }
}

#workspace.compliance_check_tasks.new, #workspace.compliance_check_tasks.create
{
    padding: 0;
    margin-top: -0.3em;
    margin-bottom: 1em;



  .inputs ol {
      margin-top: -0.3em;
      margin-bottom: 1em;
      padding: 0;
      width: 100%;
    }
    .inputs ol li { padding : 0.3em 0; }

    .inputs ol li textarea {
      width: 54%;
    }
    .inputs ol li label {
      width: 40%;
      margin-top: -0.3em;
    }

  .inputs ol li.fl label { width: 40%; margin-top: -0.3em; }
  .inputs ol li.fl input { width: 21%; padding: 0; }

  .inputs ol li.fl1 {float: left; width: 70% ;}
  .inputs ol li.fl1 label {width: 57%; margin-top: -0.3em; }
  .inputs ol li.fl1 input { width: 30%; }

  .inputs ol li.fl2 {float: left; width: 25% ;}
  .inputs ol li.fl2 label {width: 10%; margin-top: -0.3em;}
  .inputs ol li.fl2 input { width: 85%; }

}
