// Place all the styles related to the lines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "common/mixins";

#workspace.companies.index
{
    .company:after { 
        @include after_div_for_object;  
    }

    .companies {
        margin-top: 20px;
    }

    .companies:after {
        @include content_to_clear;
    }
    
    .company {
        @include div_for_object;

        /* to create multi-column index */
        width: 350px;
        float: left;
        padding-right: 10px;

    }
}

#workspace.companies.show
{
    .summary p label {
        font-weight: bold;
    }
}


