@import "common/mixins";

.status {
    margin-left: 10px;
}

.status_failed { color: #a94442;}
.status_pending { color: #31708f;}
.status_processing { color: #31708f;}
.status_completed { color: #3c763d;}

#workspace.import_tasks.index
{
    .import_task:after {
        @include after_div_for_object;
    }

    .import_tasks {
        margin-top: 20px;
    }

    .import_tasks:after {
        @include content_to_clear;
    }

    .import_task {
        width: 300px;
        float: left;
        padding: 5px;
        margin: 0 10px 10px 0px;
        background-color: #DEFFA8;
        border: 1px solid #61970b;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;

        div.icon{
            display: inline-block;
            vertical-align: top;
            width: 74px;
            padding-right: 5px;

            img{
                width: 64px;
                height: 64px;
            }
        }

        div.resume{
            display: inline-block;

            ul.header{
                font-size: 14px;
                width: 209px;

                .title{ float: left; }
                .remove{
                    float: right;
                    padding-right: 10px;
                }
            }

            .links {
                font-size: 10px;
                height: 38px;

                p { margin: 3px 0px 0px 0px !important; }
                
                img { margin-right: 10px;}
            }

            .history {
                margin-top: 10px;
                font-size: 10px;
                color: #777;
            }
        }
    }
}

#workspace.import_tasks.show {

    .links{
        margin: 0 0 20px 0;
        img{ margin: 0 5px 0 15px; }
    }

    .resume {
        &:after{
            content: " ";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        .col1 {
            float: left;
            width: 45%;
        }

        .col2 {
            margin-left: 10px;
            float: left;
            width: 45%;
        }

        #files_statistics { height: 200px; }
        #objects_statistics { height: 200px; }

        .caption {
            text-align :center;
            font-weight: bold;
        }
    }

    .report {
        margin-top: 20px;

        .files {
            img {
                margin-right: 5px;
            }

            .file_name{
                font-weight: bold;
                margin-right: 30px;
            }
        }

        .files_error{
            color: #e22b1b;
            display: none;
        }

        .files_ignored{
            color: #ffbd2b;
            display: none;
        }

        .files_ok{
            color: #8fc861;
            display: none;
        }

        .lines{ display: none; }
    }
}

#workspace.import_tasks.new #workspace.import_tasks.create form.import_task_new {
    padding: 0.5em 0;
    margin-top: -0.5em;
    margin-bottom: 1em;

    label {
        display: block;
        width: 25%;
        float: left;
    }
    select {
        width: 25%;
    }
}
