/* Green theme */
$header_background: #61970b;
$header_color: white;
$tabs_background: #86b41d;
$tabs_color: white;
$text_color: #222;

@import "user_interface/layout";

#header .infos div.title
{
    margin: 13px 0 0 30px;

    h1 {
        font-family: "Comic Sans", "Comic Sans MS", cursive;    
        font-size: 32px;      
        font-weight: bold;
        padding: 0px;
    }
}


#sidebar ul {
    padding: 0 8px;

    li {
        margin: 4px 0;
    }
}

#sidebar ul.selection li {
    a {
        padding-left: 20px;
    }
    a.current {
        text-decoration: none;
        color: black !important;
        background: url(image-path('user_interface/ui/accept.png')) no-repeat;
    }
    a.all {
        background-image: none;
    }
}


#map {
    float: right;
    width: 400px;
    height: 400px;
}

.actions {
    a.add_children {
        background: url(image-path('user_interface/ui/add.png')) no-repeat;
    }

    a.add_fields {
        background: url(image-path('user_interface/ui/add.png')) no-repeat;
    }

    a.link {
        background: url(image-path('icons/link.png')) no-repeat;
    }

    a.select_parent {
        background: url(image-path('icons/select_parent.png')) no-repeat;
    }
    
    a.select_areas {
        background: url(image-path('icons/select_parent.png')) no-repeat;
    }
}
