/* Green theme */
$header_background: #61970b;
$header_color: white;
$tabs_background: #86b41d;
$tabs_color: white;
$text_color: #222;

@import "user_interface/layout";

// Override user_interface/layout
b { font-weight: bold; }

// Add margin-top to alert
.alert { margin-top: 10px;}

p.after_map {
  clear: both;
}

#header .infos div.version
{
    float: left;
    padding: 50px 0 0 0;
    font-weight: bold;
    color: white;
}

#header .infos div.title
{
    padding: 20px 0 0 150px;
    h1 {
        font-family: Arial, Verdana, Helvetica, sans-serif;
        font-size: 32px;      
        font-weight: bold;
        padding: 0px;
    }
}
ul.user li.language.selected
{
    border-bottom: 2px solid black;
}

#sidebar ul {
    padding: 0 8px;

    li {
        margin: 4px 0;
    }
}

#sidebar div#compact_form {
  form {
    border-bottom: 1px solid #BBB;
    fieldset {
      padding: 0;
      border: 0;
      li {
        padding: 0;
        label { padding-left: 20px; 
                width: 70%;}
        input { width: 20px; }
      }
    }
    fieldset.actions {
      margin-bottom: 0;
      padding-left: 20px;
    }
    fieldset.inputs {
      padding-top: 16px;
    }
  }
}

#sidebar ul.selection li {
    a {
        padding-left: 20px;
    }
    a.current {
        text-decoration: none;
        color: black !important;
        background: url(image-path('user_interface/ui/accept.png')) no-repeat;
    }
    a.all {
        background-image: none;
    }
}


#map {
    float: right;
    width: 400px;
    height: 400px;
}

.actions {
    a.add_children {
        background: url(image-path('user_interface/ui/add.png')) no-repeat;
    }

    a.add_fields {
        background: url(image-path('user_interface/ui/add.png')) no-repeat;
    }

    a.link {
        background: url(image-path('icons/link.png')) no-repeat;
    }

    a.select_parent {
        background: url(image-path('icons/select_parent.png')) no-repeat;
    }
    
    a.select_areas {
        background: url(image-path('icons/select_parent.png')) no-repeat;
    }

    a.calculator_edit {
        background: url(image-path('icons/calculator_edit.png')) no-repeat;
    }
    a.import {
        background: url(image-path('icons/import-small.png')) no-repeat;
    }
    a.export {
        background: url(image-path('icons/export-small.png')) no-repeat;
    }
    a.kml {
        background: url(image-path('icons/kml.png')) no-repeat;
    }
    
}
