// Place all the styles related to the lines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "common";

#workspace.lines.index
{
    .line:after { 
        @include after_div_for_object;  
    }

    .lines {
        margin-top: 20px;
    }

    .lines:after {
        @include content_to_clear;
    }
    
    .line {
        @include div_for_object;

        /* to create multi-column index */
        width: 350px;
        float: left;
        padding-right: 10px;
        position: relative;

        .color {
            width: 64px;
            height: 64px;
            float: left;
            margin-right: 10px;
            border: 1px solid #999;

            a {
                text-decoration: none;                   
            }
        }

        .number {     
            font-size: 16px;
            text-align: center;
            font-weight: bold;
            padding-top: 21px;
        }   
    }
}

#workspace.lines.edit, #workspace.lines.new
{
    #line_color{ width: 100px;
                 color: white;
                 font-weight: bold;}
}

#workspace.lines.show
{
    .line_color{ color: white;
                 font-weight: bold;
                 padding: 0 5px 0 5px;}
    h3.routes { clear: both; }

    .route {
        @include div_for_object;
        /* to create multi-column index */
        width: 350px;
        height: 65;
        float: left;
        padding-right: 10px;
        margin-bottom: 0px;
    }

    .summary p label {
        font-weight: bold;
    }
}        



