.olControlZoomPanel div {
    background-image: url( image-path('openlayers/zoom-panel-NOALPHA.png') );
}
.olControlPanPanel div {
    background-image: url( image-path('openlayers/pan-panel-NOALPHA.png') );
}
.olControlEditingToolbar {
    width: 200px;
}

