// Place all the styles related to the lines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "common";

#workspace.organisations.show
{
    .user:after { 
        @include after_div_for_object;  
    }

    .users {
        margin-top: 20px;
    }

    .users:after {
        @include content_to_clear;
    }
    
    .user {
        @include div_for_object;

        /* to create multi-column index */
        width: 350px;
        float: left;
        padding-right: 10px;
        position: relative;

    }
}

