.pagination {
  cursor: default;

  margin: 10px 0;

  > a, > span, > em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
  }

  > .disabled{
    color: #999999;
    /* border: 1px solid #dddddd; */
  }
  
  > .current{
    font-style: normal;
    font-weight: bold;
    background: #61970b;
    color: white;
    border: 1px solid #61970b;
  }

  > a{
    text-decoration: none;
    color: #61970b;
    border: 1px solid #ddd;
    &:hover, &:focus{
      color: #86b41d;
      border-color: #86b41d;
    }
  }

  .paginated_content {      
      padding: 0.4em 0.6em
  }

  &:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;}

  * html & {
    height: 1%;}

  *:first-child+html & {
    overflow: hidden;}
}