.pagination {
  background: white;
  cursor: default;

  > a, > span, > em{
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
  }

  > .disabled{
    color: #999999;
    border: 1px solid #dddddd;
  }
  
  > .current{
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1;
  }

  > a{
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5;
    &:hover, &:focus{
      color: #000033;
      border-color: #000033;
    }
  }

  .page_info{      
      padding: 0.4em 0.6em
  }

  &:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;}

  * html & {
    height: 1%;}

  *:first-child+html & {
    overflow: hidden;}
}