.page_info {
    margin: 30px 0 10px 0;
    height: 30px;
    line-height: 30px;
    color: #777777; 
    border-bottom: solid 1px #cdc9c0;
    border-top: solid 1px #cdc9c0;
    
    .search{
        margin: 0 20px 0 10px;
        color: #61970b;
        font-weight:bold;
    }
    
    b {
        padding: 0.1em 0.25em; 
    }
}

.pagination {
  background: white;
  cursor: default;
  margin-top: 10px;
  padding-left: 70px;
 
  /* self-clearing method: */
  a, span, em {
      padding: 0.2em 0.5em;
      display: block;
      float: left;
      margin-right: 1px; }
  .disabled {
      color: #999999;
      border: 1px solid #dddddd; }
  .current {
      font-style: normal;
      font-weight: bold;
      background: #61970b;
      color: white;
      border: 1px solid #61970b; }
  a {
      text-decoration: none;
      color: #86b41d;
      border: 1px solid #86b41d; }
  a:hover,  a:focus {
      color: #000033;
      border-color: #000033; }
}

.pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
* html .pagination{
    height: 1%; }
*:first-child + html .pagination {
    overflow: hidden; }