// Place all the styles related to the referentials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#workspace.referentials.show
{
    .summary p label {
        font-weight: bold;
    }
    
    .count td {
      border: 1px solid #61970b;
      padding-left: 5px;
      padding-right: 5px;
      height: 30px;
    }
    .count thead td {
      background: #61970b;
      color: white;
    }
    .count td.image {
      padding-left: 25px;
    }
    .count td.value {
      text-align: right;
    }
    
}


ul.logos {
    margin: 30px 30px 0 0;
    
    li {                
        display: inline;
        margin: 0 3px;
    }
}