// Place all the styles related to the routes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "common";

#workspace.routes.index
{
    .route:after { 
        @include after_div_for_object;  
    }

    .routes {
        margin-top: 20px;
    }

    .routes:after {
        @include content_to_clear;
    }
    
    .route {
        @include div_for_object;

        /* to create multi-column index */
        width: 350px;
        float: left;
        padding-right: 10px;

        .color {
            width: 64px;
            height: 64px;
            float: left;
            margin-right: 10px;
            border: 1px solid #999;

            a {
                text-decoration: none;                   
            }
        }

        .number {     
            font-size: 16px;
            text-align: center;
            font-weight: bold;
            padding-top: 21px;
        }   
    }
}

#workspace.routes.edit, #workspace.routes.new
{
    #route_color{ width: 100px;
                 color: white;
                 font-weight: bold;}
}

#workspace.routes.show
{
    .route_color{ color: white;
                 font-weight: bold;
                 padding: 0 5px 0 5px;}

    .summary p label {
        font-weight: bold;
    }
}        

