// Place all the styles related to the routes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "common";

#workspace.lines.show
{
    .route:after { 
        @include after_div_for_object;  
    }

    .routes {
        margin-top: 20px;
    }

    .routes:after {
        @include content_to_clear;
    }
    
    .route {
        @include div_for_object;

        /* to create multi-column index */
        width: 350px;
        padding-right: 10px;

        .wayback {
            width: 16px;
            height: 16px;
            float: left;
            margin-right: 10px; 
            
            a{ margin:0px;}
        }
        
        .name {
            line-height: 16px;
            float: left;
        }
        
    }
}

#workspace.routes.edit, #workspace.routes.new
{
    #route_color{ width: 100px;
                 color: white;
                 font-weight: bold;}
}

#workspace.routes.show
{
    .route_color{ color: white;
                  font-weight: bold;
                  padding: 0 5px 0 5px;}

    .summary p label {
        font-weight: bold;
    }
    
    .stop_point:after { 
        @include after_div_for_object;  
    }

    .stop_points {
        margin-top: 10px;
    }

    .stop_points:after {
        @include content_to_clear;
    }
    
    .route_stop_points {
        clear: both;
        margin: 0px;
        padding: 0px;
    }

    .stop_point {
        @include div_for_object;
        /* to create multi-column index */
        width: 250px;
        float: left;
        padding-right: 10px;

        .position {
            width: 25px;
            height: 20px;
            float: left;
            background-color: #61970B;
            font-weight: bold;
            color: white;
            margin-right: 10px;
            padding-left: 4px;
        }
    }
    
}   

#workspace.routes.show
{
    .jouerney_pattern:after { 
        @include after_div_for_object;  
    }

    .journey_patterns {
        margin-top: 10px;
    }

    .journey_patterns:after {
        @include content_to_clear;
    }
    
    .journey_pattern {
        @include div_for_object;

        /* to create multi-column index */
        width: 350px;
        padding-right: 10px;
        height: 80px;
        float: left;

        .name {
            line-height: 16px;
        }
        
    }
}     

