// Place all the styles related to the lines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "common";

#workspace.stop_areas.index
{
    .stop_area:after { 
        @include after_div_for_object;  
    }

    .stop_areas:after {
        @include content_to_clear;
    }
    
    .stop_area {
        @include div_for_object;
        /* to create multi-column index */
        width: 250px;
        float: left;
        padding-right: 10px;

        .area_type {
            width: 25px;
            height: 64px;
            float: left;
            margin-right: 10px;
            

            a {
                text-decoration: none;                   
            }
        }

    }
}

#workspace.stop_areas.edit {
  legend { padding-bottom: 20px; }
}

#workspace.stop_areas.show
{
    .geo_data {
       padding-left:15px;
    }

    .summary{
        height: 400px;
        
        p label {
            font-weight: bold;
        }
    }

    .genealogical{
        margin-top: 20px;

        .parent{
            border: 2px solid black;
            float: left;
            padding: 3px 15px 3px 3px;
            height: 25px;        
            * { vertical-align:middle; }
            span { margin-left: 7px; }
            img { margin: 0px 5px 0px 5px;}
        }
        .lines{
            float: left;

            .line{
                border: 2px solid black;
                padding: 3px 15px 3px 3px;
                height: 25px;
                margin-bottom: 5px;
                * { vertical-align:middle; }
                span { margin-left: 7px; }
                img { margin: 0px 5px 0px 5px;}
            }
        }
        .no_parent{
            float: left;
            padding: 3px 15px 3px 3px;
            height: 25px;
            width: 150px;        
        }
        
        .target{
            border: 2px solid #86b41d;
            float: left;
            padding: 3px 15px 3px 3px;
            height: 25px;
            font-weight: bold;
            * { vertical-align:middle; }
            span { margin-left: 7px; }
            img { margin: 0px 5px 0px 5px;}
        }
        
        .children{
            float: left;

            .child{
                border: 2px solid black;
                padding: 3px 15px 3px 3px;
                height: 25px;
                margin-bottom: 5px;
                * { vertical-align:middle; }
                span { margin-left: 7px; }
                img { margin: 0px 5px 0px 5px;}
            }
        }
        
        .link{
            float: left;
            padding: 7px;
            margin-right: 10px; 
            margin-left: 10px;
            height: 25px;
        }
    }
}

#workspace.stop_areas.select_parent
{
    .token-input-list{
        display: inline-block;
    }
}


#workspace.stop_areas.add_children
{
    .token-input-list{
        display: inline-block;
    }
}

#sidebar ul.selection li {    
    a {
        line-height: 27px;
        
        img{
            height: 25px;
            width: 25px;
            vertical-align: middle;
        }
    }
}


