// Place all the styles related to the lines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "common";

#workspace.stop_areas.index
{
    .stop_area:after { 
        @include after_div_for_object;  
    }

    .stop_areas {
        margin-top: 20px;
    }

    .stop_areas:after {
        @include content_to_clear;
    }
    
    .stop_area {
        @include div_for_object;
        /* to create multi-column index */
        width: 350px;
        float: left;
        padding-right: 10px;

        .area_type {
            width: 25px;
            height: 64px;
            float: left;
            margin-right: 10px;
            

            a {
                text-decoration: none;                   
            }
        }

    }
}

#workspace.stop_areas.show
{
    .geo_data {
       padding-left:15px;
    }

    .summary p label {
        font-weight: bold;
    }
}



