// Place all the styles related to the lines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "common";

#workspace.time_tables.index
{
    .time_table:after { 
        @include after_div_for_object;  
    }

    .time_tables {
        margin-top: 20px;
    }

    .time_tables:after {
        @include content_to_clear;
    }
    
    .time_table {
        @include div_for_object;

        /* to create multi-column index */
        width: 350px;
        float: left;
        padding-right: 10px;

    }
}

#workspace.time_tables.show
{
    .day_type { 
      border-style:solid;
      border-width:1px;
      }
      .period {
        padding-left:50px;
        padding-right:450px;
      }
      .date {
        padding-left:50px;
      }
      .odd {
        padding-left:50px;
        padding-right:450px;
      }
      .even {
        padding-left:50px;
        padding-right:450px;
      }
  .actions {
      float: right;
    }

    .summary p label {
        font-weight: bold;
    }
}        

#workspace.time_tables.edit,#workspace.time_tables.new,#workspace.time_tables.create,#workspace.time_tables.update
{
  .day_type ol {
      float: left;
      margin: 0;
      padding: 0 0 0 0;
      width: 100%;
      list_style: none outside none;
    }
  .day_type ol li {
      float: left;
      margin: 0 O 0 0;
      width: auto;
      padding: 0;
    }
  .day_type_label {
      float: left;
      margin-top: 0;
      width: 25%;
    }
  .day_type ol li label {
      padding-left: 10%;
    }
}
