// Place all the styles related to the lines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "common";

#workspace.time_tables.index
{
    .time_table:after { 
        @include after_div_for_object;  
    }

    .time_tables {
        margin-top: 20px;
    }

    .time_tables:after {
        @include content_to_clear;
    }
    
    .time_table {
        @include div_for_object;

        /* to create multi-column index */
        width: 350px;
        float: left;
        padding-right: 10px;

    }
}

#workspace.time_tables.show
{
    .day_type { 
      border-style:solid;
      border-width:1px;
      }
      .period {
        padding-left:50px;
      }
      .date {
        padding-left:50px;
      }

    .summary p label {
        font-weight: bold;
    }
}        

#workspace.time_tables.edit
{
  .day_type ol {
      float: left;
      margin: 0;
      padding: 0 0 0 0;
      width: 100%;
      list_style: none outside none;
    }
  .day_type ol li {
      float: left;
      margin: 0 O 0 0;
      width: auto;
      padding: 0;
    }
  .day_type_label {
      float: left;
      margin-top: 0;
      width: 25%;
    }
  .day_type ol li label {
      padding-left: 10%;
    }
  .periods ol {
      float: left;
      margin: 0;
      padding: 0 0 0 25%;
      width: 74%;
      list_style: none outside none;
  }
  .periods ol li {
      float: left;
      margin: 0 O 0 0;
      width: auto;
      padding: 0;
    }
  .periods ol li fieldset legend label {
      width: auto;
    }
  .periods ol li fieldset ol  {
      padding: 0 10% 0 15%;
      width: auto;
    }
  .period_add {
    padding: 0 0 0 25%;
   }
  .dates ol {
      float: left;
      margin: 0;
      padding: 0 0 0 25%;
      width: 74%;
      list_style: none outside none;
  }
  .dates ol li {
      float: left;
      margin: 0 O 0 0;
      width: auto;
      padding: 0;
    }
  .dates ol li fieldset legend label {
      width: auto;
    }
  .dates ol li fieldset ol  {
      padding: 0 10% 0 15%;
      width: auto;
    }
  .date_add {
    padding: 0 0 0 25%;
   }
  
}
#workspace.time_tables.new
{
  .day_type ol {
      float: left;
      margin: 0;
      padding: 0 0 0 0;
      width: 100%;
      list_style: none outside none;
    }
  .day_type ol li {
      float: left;
      margin: 0 O 0 0;
      width: auto;
      padding: 0;
    }
  .day_type_label {
      float: left;
      margin-top: 0;
      width: 25%;
    }
  .day_type ol li label {
      padding-left: 10%;
    }
  .periods ol {
      float: left;
      margin: 0;
      padding: 0 0 0 25%;
      width: 74%;
      list_style: none outside none;
  }
  .periods ol li {
      float: left;
      margin: 0 O 0 0;
      width: auto;
      padding: 0;
    }
  .periods ol li fieldset legend label {
      width: auto;
    }
  .periods ol li fieldset ol  {
      padding: 0 10% 0 15%;
      width: auto;
    }
  .period_add {
    padding: 0 0 0 25%;
   }
  .dates ol {
      float: left;
      margin: 0;
      padding: 0 0 0 25%;
      width: 74%;
      list_style: none outside none;
  }
  .dates ol li {
      float: left;
      margin: 0 O 0 0;
      width: auto;
      padding: 0;
    }
  .dates ol li fieldset legend label {
      width: auto;
    }
  .dates ol li fieldset ol  {
      padding: 0 10% 0 15%;
      width: auto;
    }
  .date_add {
    padding: 0 0 0 25%;
   }
  
}
