// Place all the styles related to the lines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "common/mixins";

#workspace.users.edit, #workspace.lines.new
{
}
