// Place all the styles related to the routes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "common";

#workspace.vehicle_journeys.edit, #workspace.vehicle_journeys.update, #workspace.vehicle_journeys.create, #workspace.vehicle_journeys.new
{
    #route_color{ width: 100px;
                 color: white;
                 font-weight: bold;}
    .journey_pattern_dependent_list {
        tr.no_stop { display: none; }
    }
    .time_table_list { padding-left: 25%; }
    .vehicle_journey_at_stops { margin-left: 25%; }
}

#workspace.vehicle_journeys.index
{
    table{ margin: 20px 0 0 0;  }
    
    tr.odd{}
    tr.even{ background-color: #DEFFA8; }

    thead tr{ background-color: #95CB3E; }

    tbody { margin: 10px;}

    tr{  
        
        th{ 
            padding: 5px 7px 5px 7px;
            text-align: center;            
        }    
        
        th.calendars {
            font-size: 11px;
        }                  

        th.title {
            text-align: left;
        }      
                    
        td{ 
            padding: 5px 7px 5px 7px;
            text-align: center;           
        }

        td.hours {
            font-size: 12px;
            color: #516a29; 
        }

        td.missing {
            background-color: orange; 
        }

        td.stop_area{ 
            text-align: left;
            font-size: 12px;
            font-weight: bold;
        }
    }
    
}

#workspace.vehicle_journeys.show, #workspace.vehicle_journeys.edit, #workspace.vehicle_journeys.update, #workspace.vehicle_journeys.create, #workspace.vehicle_journeys.new {
    .vehicle_journey_at_stops {
        thead {
            th { text-align: center; }
            th.hour { width: 130px; }
            tr {
              background-color: #95CB3E;
              color: white;
            }
        }
        tbody {
            td.hour { text-align: center; }
            td.departure_time, td.arrival_time { padding-left: 15px; }
            td.missing { background-color: orange; }
            td.invalid_position { background-color: red; }
            tr label { width: 100% }
            tr.odd { }
            tr.even { background-color: #DEFFA8; }
        }
        tfoot {
           tr {
              background-color: #95CB3E;
           }
           td {
              text-align: center;
             a {
               
               color: white;
             }
           }
        }

    }
}

#workspace.vehicle_journeys.show
{
    .summary p label {
        font-weight: bold;
    }
    
    .time_table:after { 
        @include after_div_for_object;  
    }

    .time_tables {
        margin-top: 20px;
    }

    .time_tables:after {
        @include content_to_clear;
    }
    
    .vehicle_journey_time_tables {
        clear: both;
        margin: 0px;
        padding: 0px;
    }

    .time_table {
        @include div_for_object;
        /* to create multi-column index */
        width: 350px;
        height: 40px;
        float: left;
        padding-right: 10px;

        span.included_day_type {
            font-weight: bolder;
            color: black;
        }
        span.excluded_day_type {
        }
    }
}        

#workspace.vehicle_journeys.timeless
{
    .summary p label {
        font-weight: bold;
    }
    
    .vehicle_journey:after { 
        @include after_div_for_object;  
    }

    .vehicle_journeys {
        margin-top: 20px;
    }

    .vehicle_journeys:after {
        @include content_to_clear;
    }

    .vehicle_journey {
        @include div_for_object;
        /* to create multi-column index */
        width: 350px;
        height: 65;
        float: left;
        padding-right: 10px;

        span.included_day_type {
            font-weight: bolder;
            color: black;
        }
        span.excluded_day_type {
        }
    }
}        



