// Place all the styles related to the routes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "common";

#workspace.vehicle_journeys.edit, #workspace.vehicle_journeys.new
{
    #route_color{ width: 100px;
                 color: white;
                 font-weight: bold;}
    .journey_pattern_dependent_list {
        li.no_stop {
          display: none;
        }
    }
}

#workspace.vehicle_journeys.show
{
    .summary p label {
        font-weight: bold;
    }
}        



