<p>Bonjour <%= @resource.email %>!</p>

<p>Une demande de changement de mot de passe a été reçue, vous pouvez modifier votre mot de passe en suivant le lien ci-dessous.</p>

<p><%= link_to 'Modifier mon mot de passe', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Si vous ne souhaitez pas modifier votre mot de passe, ignorez ce message.</p>
<p>Votre mot de passe est conservé jusqu'à ce que vous suiviez le lien ci-dessus et que vous définissiez un nouveau mot de passe.</p>

