<div class="page_info">
  <span class="search"> <%= t("will_paginate.page_entries_info.search") %></span> <%= page_entries_info @exports %>
</div>
<div class="exports paginated_content">
  <%= paginated_content @exports, "export" %>
</div>
<div class="pagination">  
  <%= will_paginate @exports, :container => false, renderer: RemoteBootstrapPaginationLinkRenderer %>
</div>
