<div class="test">
  <% title = "<i class='fa fa-save'></i>" %>
  <%= title_tag "#{title} #{@export.name} <span class='status status_#{@export.status}'>#{ t('exports.statuses.'+ @export.status) }</span>" %>
</div>

<div class="export_show">
  <%= render( :partial => "results_dashboard", :locals => { :referential => @referential} ) %>
</div>

<% content_for :sidebar do %>
  <ul class="actions">
    <li><%= link_to t('exports.actions.destroy'), referential_export_path(@referential, @export.id), :method => :delete, :data => {:confirm => t('exports.actions.destroy_confirm')}, :class => "remove" %></li>
  </ul>

  <%= history_tag(@export) %>

<% end %>
