<html>
<head>
  <title><%= message.subject %></title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
</head>

<body style="font-family: Verdana, Helvetica, Arial, MS Trebuchet, sans-serif; font-size: 14px; width: 600px; background: #E5E5E5; padding: 15px">
  <style>
    h2 { font-size: 18px; }
    h3 { font-size: 14px; }
    a { color: black; }
  </style>

  <h1 style="background: #61970B; height: 75px; font-size: 24px; font-weight: normal; color: white; padding: 20px 0 0 30px;">Chouette</h1>

  <div style="background: white; margin-bottom: 10px; padding: 15px; -moz-box-shadow: 3px 3px 4px #bbbbbb; -webkit-box-shadow: 3px 3px 4px #BBB; box-shadow: 3px 3px 4px #BBB; border-right: 1px solid #BBB; border-bottom: 1px solid #BBB;">
    <%= yield %>
  </div>

  <div style="color: #333333; text-align:center; font-size: 10px;">
    Envoyé par <%= link_to "Chouette", unauthenticated_root_url %>
  </div>
</body>
</html>
